In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)
%matplotlib inline

In [2]:
df = pd.read_csv('df.csv',index_col=0)
df.head(10)

,match_id,time,gold,top_gold,jgl_gold,mid_gold,adc_gold,sup_gold,kill_total,assist_total,opp_kill_total,opp_assist_total,r_inhib_count,r_baron_count,r_tower_count,r_herald_count,r_drag_count,b_inhib_count,b_baron_count,b_tower_count,b_herald_count,b_dragon_count,kda,opp_kda,result
0,001a1f289e3bab22_b,0.0,2415.0,475.0,475.0,475.0,475.0,515.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0
1,001a1f289e3bab22_b,1.0,2430.0,475.0,475.0,475.0,475.0,530.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0
2,001a1f289e3bab22_b,2.0,2751.0,532.0,552.0,532.0,532.0,603.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0
3,001a1f289e3bab22_b,3.0,3929.0,849.0,817.0,791.0,686.0,786.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0
4,001a1f289e3bab22_b,4.0,5219.0,1099.0,1099.0,1107.0,976.0,938.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0
5,001a1f289e3bab22_b,5.0,6418.0,1466.0,1278.0,1352.0,1196.0,1126.0,2.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.00,1.5,0.0
6,001a1f289e3bab22_b,6.0,8156.0,1667.0,1708.0,1574.0,1687.0,1520.0,2.0,1.0,3.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.00,3.5,0.0
7,001a1f289e3bab22_b,7.0,9520.0,1970.0,2097.0,1708.0,1995.0,1750.0,2.0,1.0,3.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.00,3.5,0.0
8,001a1f289e3bab22_b,8.0,10681.0,2147.0,2414.0,1988.0,2244.0,1888.0,2.0,1.0,4.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.75,4.5,0.0
9,001a1f289e3bab22_b,9.0,12036.0,2605.0,2533.0,2321.0,2535.0,2042.0,2.0,1.0,4.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.75,4.5,0.0

In [3]:
df.shape

(286908, 25)

## Train/Test Split

## Scaler

In [43]:
from sklearn.preprocessing import StandardScaler

data = dft.iloc[:,2:-1]
scaler = StandardScaler()
scaler.fit(data)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [44]:
scaler.transform(data)

array([[-1.4932754 , -1.48388166, -1.56653669, ..., -3.13960871,
        -1.28401837, -1.28401837],
       [-1.49242589, -1.48388166, -1.56653669, ..., -3.13960871,
        -1.28401837, -1.28401837],
       [-1.47424631, -1.46854742, -1.54193475, ..., -3.13960871,
        -1.28401837, -1.28401837],
       ...,
       [ 1.57646806,  1.39034704,  1.62213069, ...,  0.31851103,
         1.96978585, -0.57409745],
       [ 1.89248689,  1.63139055,  2.09212365, ...,  0.31851103,
         2.22121618, -0.62811317],
       [ 1.92918585,  1.64322751,  2.14484209, ...,  0.31851103,
         2.22121618, -0.62811317]])

## Test process on smaller dataframes

In [4]:
# this df contains 2 games worth of rows
dft = df.head(76).copy()

In [5]:
# this df contains 1 game worth of rows
dfs = df.head(38).copy()

In [25]:
def parse_game(grp):
    """Inputs are 1. a groupby group object
    Output is a list of 3d arrays, each element contains 10 rows (which are equivalent to minutes 
       for this dataset). The function tracks the length of each group and stops at length minus 1. 
       After a group is finished the function performs the same process on the next group.
    """  
    t = 10
    start = 0
   
    length = len(grp)

    while t < length:
        
        # take a 10 row chunk and convert it to array
        
        data = grp.iloc[:,2:][start:t].values
   
        df_list.append(data)
        result_list.append(grp.iloc[:,-1:][start:t].values)
        
        # stop when t reaches length - 1
        start += 1
        t += 1
    
    return df_list

In [26]:
df_list = []
result_list = []

gb = dft.groupby('match_id')

gb.apply(lambda group: parse_game(group))

match_id
001a1f289e3bab22_b    [[[2415.0, 475.0, 475.0, 475.0, 475.0, 515.0, ...
001a1f289e3bab22_r    [[[2415.0, 475.0, 475.0, 475.0, 475.0, 515.0, ...
dtype: object

In [24]:
print(len(result_list))
length_res = len(result_list)
array_res = np.array(result_list)
array_res = array_res.reshape(length,10,1)

84

In [21]:
length = len(df_list)
print(length)
array_a = np.array(df_list)
array_a = array_a.reshape((length,10,23))
array_a

84

array([[[  2.41500000e+03,   4.75000000e+02,   4.75000000e+02, ...,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
        [  2.43000000e+03,   4.75000000e+02,   4.75000000e+02, ...,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
        [  2.75100000e+03,   5.32000000e+02,   5.52000000e+02, ...,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
        ...,
        [  9.52000000e+03,   1.97000000e+03,   2.09700000e+03, ...,
           1.00000000e+00,   3.50000000e+00,   0.00000000e+00],
        [  1.06810000e+04,   2.14700000e+03,   2.41400000e+03, ...,
           7.50000000e-01,   4.50000000e+00,   0.00000000e+00],
        [  1.20360000e+04,   2.60500000e+03,   2.53300000e+03, ...,
           7.50000000e-01,   4.50000000e+00,   0.00000000e+00]],

       [[  2.43000000e+03,   4.75000000e+02,   4.75000000e+02, ...,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
        [  2.75100000e+03,   5.32000000e+02,   5.52000000e+02, ...,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
        [  3.92900000e+03,   8.49000000e+02,   8.17000000e+02, ...,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
        ...,
        [  1.06810000e+04,   2.14700000e+03,   2.41400000e+03, ...,
           7.50000000e-01,   4.50000000e+00,   0.00000000e+00],
        [  1.20360000e+04,   2.60500000e+03,   2.53300000e+03, ...,
           7.50000000e-01,   4.50000000e+00,   0.00000000e+00],
        [  1.36780000e+04,   2.96100000e+03,   2.93800000e+03, ...,
           1.50000000e+00,   3.00000000e+00,   0.00000000e+00]],

       [[  2.75100000e+03,   5.32000000e+02,   5.52000000e+02, ...,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
        [  3.92900000e+03,   8.49000000e+02,   8.17000000e+02, ...,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
        [  5.21900000e+03,   1.09900000e+03,   1.09900000e+03, ...,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
        ...,
        [  1.20360000e+04,   2.60500000e+03,   2.53300000e+03, ...,
           7.50000000e-01,   4.50000000e+00,   0.00000000e+00],
        [  1.36780000e+04,   2.96100000e+03,   2.93800000e+03, ...,
           1.50000000e+00,   3.00000000e+00,   0.00000000e+00],
        [  1.55900000e+04,   3.27700000e+03,   3.33700000e+03, ...,
           1.50000000e+00,   3.00000000e+00,   0.00000000e+00]],

       ...,
       [[  4.03310000e+04,   7.69000000e+03,   7.86200000e+03, ...,
           4.83333333e+00,   1.72727273e+00,   1.00000000e+00],
        [  4.16520000e+04,   7.97400000e+03,   8.00600000e+03, ...,
           4.14285714e+00,   2.09090909e+00,   1.00000000e+00],
        [  4.42390000e+04,   8.68300000e+03,   8.35200000e+03, ...,
           5.12500000e+00,   2.00000000e+00,   1.00000000e+00],
        ...,
        [  5.25860000e+04,   1.02710000e+04,   9.55600000e+03, ...,
           5.77777778e+00,   1.88235294e+00,   1.00000000e+00],
        [  5.33740000e+04,   1.04790000e+04,   9.75500000e+03, ...,
           5.77777778e+00,   1.88235294e+00,   1.00000000e+00],
        [  5.52450000e+04,   1.08670000e+04,   1.02060000e+04, ...,
           5.77777778e+00,   1.88235294e+00,   1.00000000e+00]],

       [[  4.16520000e+04,   7.97400000e+03,   8.00600000e+03, ...,
           4.14285714e+00,   2.09090909e+00,   1.00000000e+00],
        [  4.42390000e+04,   8.68300000e+03,   8.35200000e+03, ...,
           5.12500000e+00,   2.00000000e+00,   1.00000000e+00],
        [  4.59480000e+04,   9.20400000e+03,   8.65600000e+03, ...,
           5.12500000e+00,   2.00000000e+00,   1.00000000e+00],
        ...,
        [  5.33740000e+04,   1.04790000e+04,   9.75500000e+03, ...,
           5.77777778e+00,   1.88235294e+00,   1.00000000e+00],
        [  5.52450000e+04,   1.08670000e+04,   1.02060000e+04, ...,
           5.77777778e+00,   1.88235294e+00,   1.00000000e+00],
        [  5.66180000e+04,   1.11590000e+04,   1.04550000e+04, ...,
           7.33333333e+00,   1.60000000e+00,   1.00000000e+00]],

       [[  4.42390000e+04,   8.68300000e+03,   8.35200000e+03, ...,
           5.12500000e+00,   2.00000000e+00,   1.00000000e+00],
        [  4.59480000e+04,   9.20400000e+03,   8.65600000e+03, ...,
           5.12500000e+00,   2.00000000e+00,   1.00000000e+00],
        [  4.71340000e+04,   9.53300000e+03,   8.80000000e+03, ...,
           5.12500000e+00,   2.00000000e+00,   1.00000000e+00],
        ...,
        [  5.52450000e+04,   1.08670000e+04,   1.02060000e+04, ...,
           5.77777778e+00,   1.88235294e+00,   1.00000000e+00],
        [  5.66180000e+04,   1.11590000e+04,   1.04550000e+04, ...,
           7.33333333e+00,   1.60000000e+00,   1.00000000e+00],
        [  6.21980000e+04,   1.20550000e+04,   1.19260000e+04, ...,
           7.90000000e+00,   1.47826087e+00,   1.00000000e+00]]])