# Data Formatting and Neural Network Explorations
## Keras, scikit-learn, Pandas, Numpy

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)
%matplotlib inline

In [2]:
df = pd.read_csv('df.csv',index_col=0)
df.head(10)

,match_id,time,gold,top_gold,jgl_gold,mid_gold,adc_gold,sup_gold,kill_total,assist_total,opp_kill_total,opp_assist_total,r_inhib_count,r_baron_count,r_tower_count,r_herald_count,r_drag_count,b_inhib_count,b_baron_count,b_tower_count,b_herald_count,b_dragon_count,kda,opp_kda,result
0,001a1f289e3bab22_b,0.0,2415.0,475.0,475.0,475.0,475.0,515.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0
1,001a1f289e3bab22_b,1.0,2430.0,475.0,475.0,475.0,475.0,530.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0
2,001a1f289e3bab22_b,2.0,2751.0,532.0,552.0,532.0,532.0,603.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0
3,001a1f289e3bab22_b,3.0,3929.0,849.0,817.0,791.0,686.0,786.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0
4,001a1f289e3bab22_b,4.0,5219.0,1099.0,1099.0,1107.0,976.0,938.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0
5,001a1f289e3bab22_b,5.0,6418.0,1466.0,1278.0,1352.0,1196.0,1126.0,2.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.00,1.5,0.0
6,001a1f289e3bab22_b,6.0,8156.0,1667.0,1708.0,1574.0,1687.0,1520.0,2.0,1.0,3.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.00,3.5,0.0
7,001a1f289e3bab22_b,7.0,9520.0,1970.0,2097.0,1708.0,1995.0,1750.0,2.0,1.0,3.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.00,3.5,0.0
8,001a1f289e3bab22_b,8.0,10681.0,2147.0,2414.0,1988.0,2244.0,1888.0,2.0,1.0,4.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.75,4.5,0.0
9,001a1f289e3bab22_b,9.0,12036.0,2605.0,2533.0,2321.0,2535.0,2042.0,2.0,1.0,4.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.75,4.5,0.0

In [3]:
df.shape

(286876, 25)

## Fit Scaler to Dataset

In [4]:
# this df contains 2 games worth of rows
dft = df.head(76).copy()

In [5]:
# this df contains 1 game worth of rows
dfs = df.head(38).copy()

In [6]:
from sklearn.preprocessing import StandardScaler

data = df.iloc[:,2:-1]
scaler = StandardScaler()
scaler.fit(data)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [7]:
df.head()

,match_id,time,gold,top_gold,jgl_gold,mid_gold,adc_gold,sup_gold,kill_total,assist_total,opp_kill_total,opp_assist_total,r_inhib_count,r_baron_count,r_tower_count,r_herald_count,r_drag_count,b_inhib_count,b_baron_count,b_tower_count,b_herald_count,b_dragon_count,kda,opp_kda,result
0,001a1f289e3bab22_b,0.0,2415.0,475.0,475.0,475.0,475.0,515.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,001a1f289e3bab22_b,1.0,2430.0,475.0,475.0,475.0,475.0,530.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,001a1f289e3bab22_b,2.0,2751.0,532.0,552.0,532.0,532.0,603.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,001a1f289e3bab22_b,3.0,3929.0,849.0,817.0,791.0,686.0,786.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,001a1f289e3bab22_b,4.0,5219.0,1099.0,1099.0,1107.0,976.0,938.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Split into Train/Test Sets and Standardize

In [8]:
# want to keep group/result columns and add them back after scaling
cols = list(df.columns.values)
hold_out_cols = ['match_id', 'time', 'result']
ho_df = df[hold_out_cols].copy()

In [9]:
cols_scale = ['gold', 'top_gold', 'jgl_gold', 'mid_gold', 'adc_gold', 'sup_gold', 'kill_total',
 'assist_total', 'opp_kill_total', 'opp_assist_total', 'r_inhib_count', 'r_baron_count', 'r_tower_count',
 'r_herald_count', 'r_drag_count', 'b_inhib_count', 'b_baron_count', 'b_tower_count', 'b_herald_count',
 'b_dragon_count', 'kda', 'opp_kda']

In [10]:
# scale data
data = scaler.transform(data)

In [11]:
sdf = pd.DataFrame(data)
sdf.columns = cols_scale
sdf.head()

,gold,top_gold,jgl_gold,mid_gold,adc_gold,sup_gold,kill_total,assist_total,opp_kill_total,opp_assist_total,r_inhib_count,r_baron_count,r_tower_count,r_herald_count,r_drag_count,b_inhib_count,b_baron_count,b_tower_count,b_herald_count,b_dragon_count,kda,opp_kda
0,-1.342942,-1.326213,-1.387083,-1.341606,-1.320149,-1.269691,-0.899995,-0.796908,-0.899995,-0.796908,-1.742076,-2.271392,-1.401829,-2.768166,-1.835765,-1.735504,-2.43541,-1.461121,-2.877854,-1.885778,-0.712698,-0.712698
1,-1.342244,-1.326213,-1.387083,-1.341606,-1.320149,-1.264782,-0.899995,-0.796908,-0.899995,-0.796908,-1.742076,-2.271392,-1.401829,-2.768166,-1.835765,-1.735504,-2.43541,-1.461121,-2.877854,-1.885778,-0.712698,-0.712698
2,-1.327294,-1.313755,-1.368286,-1.330031,-1.308748,-1.240890,-0.899995,-0.796908,-0.899995,-0.796908,-1.742076,-2.271392,-1.401829,-2.768166,-1.835765,-1.735504,-2.43541,-1.461121,-2.877854,-1.885778,-0.712698,-0.712698
3,-1.272434,-1.244472,-1.303596,-1.277439,-1.277944,-1.180998,-0.899995,-0.796908,-0.899995,-0.796908,-1.742076,-2.271392,-1.401829,-2.768166,-1.835765,-1.735504,-2.43541,-1.461121,-2.877854,-1.885778,-0.712698,-0.712698
4,-1.212358,-1.189832,-1.234757,-1.213273,-1.219937,-1.131251,-0.899995,-0.796908,-0.899995,-0.796908,-1.742076,-2.271392,-1.401829,-2.768166,-1.835765,-1.735504,-2.43541,-1.461121,-2.877854,-1.885778,-0.712698,-0.712698

In [12]:
print(len(sdf))
print(len(ho_df))

286876
286876

In [13]:
sdf = pd.merge(sdf, ho_df, left_index=True, right_index=True)
sdf.head()

,gold,top_gold,jgl_gold,mid_gold,adc_gold,sup_gold,kill_total,assist_total,opp_kill_total,opp_assist_total,r_inhib_count,r_baron_count,r_tower_count,r_herald_count,r_drag_count,b_inhib_count,b_baron_count,b_tower_count,b_herald_count,b_dragon_count,kda,opp_kda,match_id,time,result
0,-1.342942,-1.326213,-1.387083,-1.341606,-1.320149,-1.269691,-0.899995,-0.796908,-0.899995,-0.796908,-1.742076,-2.271392,-1.401829,-2.768166,-1.835765,-1.735504,-2.43541,-1.461121,-2.877854,-1.885778,-0.712698,-0.712698,001a1f289e3bab22_b,0.0,0.0
1,-1.342244,-1.326213,-1.387083,-1.341606,-1.320149,-1.264782,-0.899995,-0.796908,-0.899995,-0.796908,-1.742076,-2.271392,-1.401829,-2.768166,-1.835765,-1.735504,-2.43541,-1.461121,-2.877854,-1.885778,-0.712698,-0.712698,001a1f289e3bab22_b,1.0,0.0
2,-1.327294,-1.313755,-1.368286,-1.330031,-1.308748,-1.240890,-0.899995,-0.796908,-0.899995,-0.796908,-1.742076,-2.271392,-1.401829,-2.768166,-1.835765,-1.735504,-2.43541,-1.461121,-2.877854,-1.885778,-0.712698,-0.712698,001a1f289e3bab22_b,2.0,0.0
3,-1.272434,-1.244472,-1.303596,-1.277439,-1.277944,-1.180998,-0.899995,-0.796908,-0.899995,-0.796908,-1.742076,-2.271392,-1.401829,-2.768166,-1.835765,-1.735504,-2.43541,-1.461121,-2.877854,-1.885778,-0.712698,-0.712698,001a1f289e3bab22_b,3.0,0.0
4,-1.212358,-1.189832,-1.234757,-1.213273,-1.219937,-1.131251,-0.899995,-0.796908,-0.899995,-0.796908,-1.742076,-2.271392,-1.401829,-2.768166,-1.835765,-1.735504,-2.43541,-1.461121,-2.877854,-1.885778,-0.712698,-0.712698,001a1f289e3bab22_b,4.0,0.0

In [14]:
fcols = [ 'match_id', 'time','gold', 'top_gold', 'jgl_gold', 'mid_gold', 'adc_gold', 'sup_gold', 'kill_total',
 'assist_total', 'opp_kill_total', 'opp_assist_total', 'r_inhib_count', 'r_baron_count', 'r_tower_count',
 'r_herald_count', 'r_drag_count', 'b_inhib_count', 'b_baron_count', 'b_tower_count', 'b_herald_count',
 'b_dragon_count', 'kda', 'opp_kda', 'result']

In [15]:
sdf1 = sdf[fcols]
sdf1.head()

,match_id,time,gold,top_gold,jgl_gold,mid_gold,adc_gold,sup_gold,kill_total,assist_total,opp_kill_total,opp_assist_total,r_inhib_count,r_baron_count,r_tower_count,r_herald_count,r_drag_count,b_inhib_count,b_baron_count,b_tower_count,b_herald_count,b_dragon_count,kda,opp_kda,result
0,001a1f289e3bab22_b,0.0,-1.342942,-1.326213,-1.387083,-1.341606,-1.320149,-1.269691,-0.899995,-0.796908,-0.899995,-0.796908,-1.742076,-2.271392,-1.401829,-2.768166,-1.835765,-1.735504,-2.43541,-1.461121,-2.877854,-1.885778,-0.712698,-0.712698,0.0
1,001a1f289e3bab22_b,1.0,-1.342244,-1.326213,-1.387083,-1.341606,-1.320149,-1.264782,-0.899995,-0.796908,-0.899995,-0.796908,-1.742076,-2.271392,-1.401829,-2.768166,-1.835765,-1.735504,-2.43541,-1.461121,-2.877854,-1.885778,-0.712698,-0.712698,0.0
2,001a1f289e3bab22_b,2.0,-1.327294,-1.313755,-1.368286,-1.330031,-1.308748,-1.240890,-0.899995,-0.796908,-0.899995,-0.796908,-1.742076,-2.271392,-1.401829,-2.768166,-1.835765,-1.735504,-2.43541,-1.461121,-2.877854,-1.885778,-0.712698,-0.712698,0.0
3,001a1f289e3bab22_b,3.0,-1.272434,-1.244472,-1.303596,-1.277439,-1.277944,-1.180998,-0.899995,-0.796908,-0.899995,-0.796908,-1.742076,-2.271392,-1.401829,-2.768166,-1.835765,-1.735504,-2.43541,-1.461121,-2.877854,-1.885778,-0.712698,-0.712698,0.0
4,001a1f289e3bab22_b,4.0,-1.212358,-1.189832,-1.234757,-1.213273,-1.219937,-1.131251,-0.899995,-0.796908,-0.899995,-0.796908,-1.742076,-2.271392,-1.401829,-2.768166,-1.835765,-1.735504,-2.43541,-1.461121,-2.877854,-1.885778,-0.712698,-0.712698,0.0

In [16]:
len(sdf1)

286844

In [17]:
# create X and y dataframes for training/testing
X = sdf1.loc[:,sdf1.columns != 'result'].values
y = sdf1.loc[:,sdf1.columns == 'result'].values
groups = sdf1['match_id']

In [18]:
from sklearn.model_selection import GroupKFold
# 80/20 split for train/test groups
gkf = GroupKFold(n_splits=5)

for train_index, test_index in gkf.split(X, y,groups):
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]

### Prepare Train Data

In [19]:
# reshape data to work with previously written parse_game function
xtrain = pd.DataFrame(X_train)
ytrain = pd.DataFrame(y_train)

In [20]:
print(len(ytrain))
print(len(xtrain))

229486
229486

In [21]:
train_df = pd.merge(xtrain, ytrain, left_index=True, right_index=True)

In [22]:
train_df.rename(columns={'0_y':'result','0_x':'match_id'},inplace=True)

In [23]:
train_df.sort_values(['match_id',1],inplace=True)
train_df.head()

,match_id,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,result
0,001a1f289e3bab22_b,0,-1.34294,-1.32621,-1.38708,-1.34161,-1.32015,-1.26969,-0.899995,-0.796908,-0.899995,-0.796908,-1.74208,-2.27139,-1.40183,-2.76817,-1.83577,-1.7355,-2.43541,-1.46112,-2.87785,-1.88578,-0.712698,-0.712698,0.0
1,001a1f289e3bab22_b,1,-1.34224,-1.32621,-1.38708,-1.34161,-1.32015,-1.26478,-0.899995,-0.796908,-0.899995,-0.796908,-1.74208,-2.27139,-1.40183,-2.76817,-1.83577,-1.7355,-2.43541,-1.46112,-2.87785,-1.88578,-0.712698,-0.712698,0.0
2,001a1f289e3bab22_b,2,-1.32729,-1.31376,-1.36829,-1.33003,-1.30875,-1.24089,-0.899995,-0.796908,-0.899995,-0.796908,-1.74208,-2.27139,-1.40183,-2.76817,-1.83577,-1.7355,-2.43541,-1.46112,-2.87785,-1.88578,-0.712698,-0.712698,0.0
3,001a1f289e3bab22_b,3,-1.27243,-1.24447,-1.3036,-1.27744,-1.27794,-1.181,-0.899995,-0.796908,-0.899995,-0.796908,-1.74208,-2.27139,-1.40183,-2.76817,-1.83577,-1.7355,-2.43541,-1.46112,-2.87785,-1.88578,-0.712698,-0.712698,0.0
4,001a1f289e3bab22_b,4,-1.21236,-1.18983,-1.23476,-1.21327,-1.21994,-1.13125,-0.899995,-0.796908,-0.899995,-0.796908,-1.74208,-2.27139,-1.40183,-2.76817,-1.83577,-1.7355,-2.43541,-1.46112,-2.87785,-1.88578,-0.712698,-0.712698,0.0

### Prepare Test Data

In [24]:
xtest = pd.DataFrame(X_test)
ytest = pd.DataFrame(y_test)
print(len(xtest))
print(len(ytest))

57358
57358

In [25]:
test_df = pd.merge(xtest, ytest, left_index=True, right_index=True)

In [26]:
test_df.rename(columns={'0_y':'result','0_x':'match_id'},inplace=True)
test_df.head()

,match_id,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,result
0,001a1f289e3bab22_r,0,-1.34294,-1.32621,-1.38708,-1.34161,-1.32015,-1.26969,-0.899995,-0.796908,-0.899995,-0.796908,-0.865652,-2.27139,0.90352,-2.76817,1.59489,-1.7355,-2.43541,-0.500126,-2.87785,-1.00394,-0.712698,-0.712698,1.0
1,001a1f289e3bab22_r,1,-1.34294,-1.32621,-1.38708,-1.34161,-1.32015,-1.26969,-0.899995,-0.796908,-0.899995,-0.796908,-0.865652,-2.27139,0.90352,-2.76817,1.59489,-1.7355,-2.43541,-0.500126,-2.87785,-1.00394,-0.712698,-0.712698,1.0
2,001a1f289e3bab22_r,2,-1.32944,-1.31376,-1.37317,-1.33003,-1.30875,-1.2494,-0.899995,-0.796908,-0.899995,-0.796908,-0.865652,-2.27139,0.90352,-2.76817,1.59489,-1.7355,-2.43541,-0.500126,-2.87785,-1.00394,-0.712698,-0.712698,1.0
3,001a1f289e3bab22_r,3,-1.26624,-1.2648,-1.28114,-1.27033,-1.24794,-1.19769,-0.899995,-0.796908,-0.899995,-0.796908,-0.865652,-2.27139,0.90352,-2.76817,1.59489,-1.7355,-2.43541,-0.500126,-2.87785,-1.00394,-0.712698,-0.712698,1.0
4,001a1f289e3bab22_r,4,-1.20956,-1.20032,-1.22402,-1.22586,-1.18893,-1.14074,-0.899995,-0.796908,-0.899995,-0.796908,-0.865652,-2.27139,0.90352,-2.76817,1.59489,-1.7355,-2.43541,-0.500126,-2.87785,-1.00394,-0.712698,-0.712698,1.0

## Parse Game Data to Reformat for Neural Network

In [27]:
def parse_game(grp):
    """Input is a single groupby object
    Output is a list of 3d arrays, each element contains 10 rows (which are equivalent to minutes 
       for this dataset). The function tracks the length of each group and stops at length minus 1. 
       After a group is finished the function performs the same process on the next group.
    """  
    t = 10
    start = 0
   
    length = len(grp)

    while t < length:
        
        # take a 10 row chunk and convert it to array
        
        data = grp.iloc[:,2:-1][start:t].values
   
        df_list.append(data)
        result_list.append(grp.iloc[:,-1:][start:t].values[0])
        
        # stop when t reaches length - 1
        start += 1
        t += 1
    
    return df_list

### Training Data

In [116]:
df_list = []
result_list = []

gb = train_df.groupby('match_id')

gb.apply(lambda group: parse_game(group));

In [117]:
print(len(df_list))
print(len(result_list))

169444
169444

In [118]:
num_features = 22
time_steps = 10

In [119]:
# reshape y to 1d numpy array
length_r = len(result_list)
y_train = np.array(result_list)
y_train = y_train.ravel()

In [120]:
# reshape x to 3d numpy array
length = len(df_list)
X_train = np.array(df_list)
X_train = X_train.reshape((length, time_steps, num_features))

### Test Data

In [49]:
def parse_game_test(grp):
    """Inputs are 1. a groupby group object
    Output is a list of 3d arrays, each element contains 10 rows (which are equivalent to minutes 
       for this dataset). The function tracks the length of each group and stops at length minus 1. 
       After a group is finished the function performs the same process on the next group.
    """  
    t = 10
    start = 0
   
    length = len(grp)

    while t < length:
        
        # take a 10 row chunk and convert it to array
        
        data = grp.iloc[:,2:-1][start:t].values
   
        df_list_test.append(data)
        result_list_test.append(grp.iloc[:,-1:][start:t].values[0])
        
        # stop when t reaches length - 1
        start += 1
        t += 1
    
    return df_list

In [50]:
df_list_test = []
result_list_test = []

gb = test_df.groupby('match_id')

gb.apply(lambda group: parse_game_test(group));

In [51]:
print(len(df_list_test))
print(len(result_list_test))

42376
42376

In [52]:
length_r = len(result_list_test)
y_test = np.array(result_list_test)
y_test = y_test.ravel()

In [53]:
length = len(df_list_test)
X_test = np.array(df_list_test)
X_test = X_test.reshape((length, time_steps, num_features))

In [63]:
print(len(X_test))
print(len(y_test))

42376
42376

## Keras LSTM Model

In [ ]:
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.layers import Embedding
from keras.layers import LSTM
from sklearn.model_selection import GridSearchCV
from keras.wrappers.scikit_learn import KerasClassifier

In [121]:
print(X_train[:-1].shape)
print(y_train[:-1].shape)
print(X_test.shape)
print(y_test.shape)

(169443, 10, 22)
(169443,)
(42376, 10, 22)
(42376,)

In [123]:
model = Sequential()
model.add(LSTM(32, batch_input_shape=(18827, X_train[:-1].shape[1],X_train[:-1].shape[2]),
               dropout=0.2, recurrent_dropout=0.2,stateful=True))
#model.add(Dropout(0.2))
model.add(Dense(1,activation='sigmoid'))

model.compile(loss='binary_crossentropy',
             optimizer='adam',
             metrics=['accuracy'])
for i in range(10):
    model.fit(X_train[:-1], y_train[:-1], batch_size=18827,shuffle=False, epochs=1,verbose=1)
    model.reset_states()

Epoch 1/1
169443/169443 [==============================] - 12s - loss: 0.7117 - acc: 0.5081
Epoch 1/1
169443/169443 [==============================] - 10s - loss: 0.6943 - acc: 0.5289
Epoch 1/1
169443/169443 [==============================] - 10s - loss: 0.6861 - acc: 0.5476
Epoch 1/1
169443/169443 [==============================] - 11s - loss: 0.6819 - acc: 0.5557
Epoch 1/1
169443/169443 [==============================] - 10s - loss: 0.6783 - acc: 0.5648
Epoch 1/1
169443/169443 [==============================] - 10s - loss: 0.6749 - acc: 0.5712
Epoch 1/1
169443/169443 [==============================] - 10s - loss: 0.6717 - acc: 0.5771
Epoch 1/1
169443/169443 [==============================] - 10s - loss: 0.6682 - acc: 0.5842
Epoch 1/1
169443/169443 [==============================] - 10s - loss: 0.6642 - acc: 0.5907
Epoch 1/1
169443/169443 [==============================] - 10s - loss: 0.6597 - acc: 0.5960

In [ ]:
score = model.evaluate(X_test[:-7], y_test[:-7], verbose=0,batch_size=17651)
score

In [ ]:
model.metrics_names

## Keras GridSearch

In [39]:
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.layers import Embedding
from keras.layers import LSTM
from sklearn.model_selection import GridSearchCV
from keras.wrappers.scikit_learn import KerasClassifier

Using TensorFlow backend.

In [112]:
def create_model():
    model = Sequential()
    model.add(LSTM(32, batch_input_shape=(5295, X_train[:-1].shape[1],X_train[:-1].shape[2]),
               stateful=True))
    model.add(Dense(1,activation='sigmoid'))
    model.compile(loss='binary_crossentropy',
             optimizer='adam',
             metrics=['accuracy'])
    return model

In [113]:
model = KerasClassifier(build_fn=create_model, verbose=0)

In [109]:
print(len(X_train))
print(len(y_train))

169444
169444

In [114]:
#batch_size = [1024, 2048, 4096]
#epochs = [2, 4]
batch_size = [5295]
epochs = [1]
param_grid = dict(batch_size=batch_size,epochs=epochs)

grid = GridSearchCV(estimator=model,param_grid=param_grid)
grid_result = grid.fit(X_train, y_train)

ValueError: In a stateful network, you should only pass inputs with a number of samples that can be divided by the batch size. Found: 112962 samples

In [ ]:
print("Best: %f using %s" % grid_result.best_score_, grid_result.best_params_)
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))