# Data Formatting and Neural Network Explorations
## Keras, scikit-learn, Pandas, Numpy

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)
%matplotlib inline

In [2]:
df = pd.read_csv('df.csv',index_col=0)
df.head(10)

,match_id,time,gold,top_gold,jgl_gold,mid_gold,adc_gold,sup_gold,kill_total,assist_total,opp_kill_total,opp_assist_total,r_inhib_count,r_baron_count,r_tower_count,r_herald_count,r_drag_count,b_inhib_count,b_baron_count,b_tower_count,b_herald_count,b_dragon_count,kda,opp_kda,result
0,001a1f289e3bab22_b,0.0,2415.0,475.0,475.0,475.0,475.0,515.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0
1,001a1f289e3bab22_b,1.0,2430.0,475.0,475.0,475.0,475.0,530.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0
2,001a1f289e3bab22_b,2.0,2751.0,532.0,552.0,532.0,532.0,603.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0
3,001a1f289e3bab22_b,3.0,3929.0,849.0,817.0,791.0,686.0,786.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0
4,001a1f289e3bab22_b,4.0,5219.0,1099.0,1099.0,1107.0,976.0,938.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0
5,001a1f289e3bab22_b,5.0,6418.0,1466.0,1278.0,1352.0,1196.0,1126.0,2.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.00,1.5,0.0
6,001a1f289e3bab22_b,6.0,8156.0,1667.0,1708.0,1574.0,1687.0,1520.0,2.0,1.0,3.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.00,3.5,0.0
7,001a1f289e3bab22_b,7.0,9520.0,1970.0,2097.0,1708.0,1995.0,1750.0,2.0,1.0,3.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.00,3.5,0.0
8,001a1f289e3bab22_b,8.0,10681.0,2147.0,2414.0,1988.0,2244.0,1888.0,2.0,1.0,4.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.75,4.5,0.0
9,001a1f289e3bab22_b,9.0,12036.0,2605.0,2533.0,2321.0,2535.0,2042.0,2.0,1.0,4.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.75,4.5,0.0

In [3]:
df.shape

(286876, 25)

## Fit Scaler to Dataset

In [4]:
# this df contains 2 games worth of rows
dft = df.head(76).copy()

In [5]:
# this df contains 1 game worth of rows
dfs = df.head(38).copy()

In [6]:
from sklearn.preprocessing import StandardScaler

data = df.iloc[:,2:-1]
scaler = StandardScaler()
scaler.fit(data)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [7]:
df.head()

,match_id,time,gold,top_gold,jgl_gold,mid_gold,adc_gold,sup_gold,kill_total,assist_total,opp_kill_total,opp_assist_total,r_inhib_count,r_baron_count,r_tower_count,r_herald_count,r_drag_count,b_inhib_count,b_baron_count,b_tower_count,b_herald_count,b_dragon_count,kda,opp_kda,result
0,001a1f289e3bab22_b,0.0,2415.0,475.0,475.0,475.0,475.0,515.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,001a1f289e3bab22_b,1.0,2430.0,475.0,475.0,475.0,475.0,530.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,001a1f289e3bab22_b,2.0,2751.0,532.0,552.0,532.0,532.0,603.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,001a1f289e3bab22_b,3.0,3929.0,849.0,817.0,791.0,686.0,786.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,001a1f289e3bab22_b,4.0,5219.0,1099.0,1099.0,1107.0,976.0,938.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Split into Train/Test Sets and Standardize

In [8]:
# want to keep group/result columns and add them back after scaling
cols = list(df.columns.values)
hold_out_cols = ['match_id', 'time', 'result']
ho_df = df[hold_out_cols].copy()

In [9]:
cols_scale = ['gold', 'top_gold', 'jgl_gold', 'mid_gold', 'adc_gold', 'sup_gold', 'kill_total',
 'assist_total', 'opp_kill_total', 'opp_assist_total', 'r_inhib_count', 'r_baron_count', 'r_tower_count',
 'r_herald_count', 'r_drag_count', 'b_inhib_count', 'b_baron_count', 'b_tower_count', 'b_herald_count',
 'b_dragon_count', 'kda', 'opp_kda']

In [10]:
# scale data
data = scaler.transform(data)

In [11]:
sdf = pd.DataFrame(data)
sdf.columns = cols_scale
sdf.head()

,gold,top_gold,jgl_gold,mid_gold,adc_gold,sup_gold,kill_total,assist_total,opp_kill_total,opp_assist_total,r_inhib_count,r_baron_count,r_tower_count,r_herald_count,r_drag_count,b_inhib_count,b_baron_count,b_tower_count,b_herald_count,b_dragon_count,kda,opp_kda
0,-1.342942,-1.326213,-1.387083,-1.341606,-1.320149,-1.269691,-0.899995,-0.796908,-0.899995,-0.796908,-1.742076,-2.271392,-1.401829,-2.768166,-1.835765,-1.735504,-2.43541,-1.461121,-2.877854,-1.885778,-0.712698,-0.712698
1,-1.342244,-1.326213,-1.387083,-1.341606,-1.320149,-1.264782,-0.899995,-0.796908,-0.899995,-0.796908,-1.742076,-2.271392,-1.401829,-2.768166,-1.835765,-1.735504,-2.43541,-1.461121,-2.877854,-1.885778,-0.712698,-0.712698
2,-1.327294,-1.313755,-1.368286,-1.330031,-1.308748,-1.240890,-0.899995,-0.796908,-0.899995,-0.796908,-1.742076,-2.271392,-1.401829,-2.768166,-1.835765,-1.735504,-2.43541,-1.461121,-2.877854,-1.885778,-0.712698,-0.712698
3,-1.272434,-1.244472,-1.303596,-1.277439,-1.277944,-1.180998,-0.899995,-0.796908,-0.899995,-0.796908,-1.742076,-2.271392,-1.401829,-2.768166,-1.835765,-1.735504,-2.43541,-1.461121,-2.877854,-1.885778,-0.712698,-0.712698
4,-1.212358,-1.189832,-1.234757,-1.213273,-1.219937,-1.131251,-0.899995,-0.796908,-0.899995,-0.796908,-1.742076,-2.271392,-1.401829,-2.768166,-1.835765,-1.735504,-2.43541,-1.461121,-2.877854,-1.885778,-0.712698,-0.712698

In [12]:
print(len(sdf))
print(len(ho_df))

286876
286876

In [13]:
sdf = pd.merge(sdf, ho_df, left_index=True, right_index=True)
sdf.head()

,gold,top_gold,jgl_gold,mid_gold,adc_gold,sup_gold,kill_total,assist_total,opp_kill_total,opp_assist_total,r_inhib_count,r_baron_count,r_tower_count,r_herald_count,r_drag_count,b_inhib_count,b_baron_count,b_tower_count,b_herald_count,b_dragon_count,kda,opp_kda,match_id,time,result
0,-1.342942,-1.326213,-1.387083,-1.341606,-1.320149,-1.269691,-0.899995,-0.796908,-0.899995,-0.796908,-1.742076,-2.271392,-1.401829,-2.768166,-1.835765,-1.735504,-2.43541,-1.461121,-2.877854,-1.885778,-0.712698,-0.712698,001a1f289e3bab22_b,0.0,0.0
1,-1.342244,-1.326213,-1.387083,-1.341606,-1.320149,-1.264782,-0.899995,-0.796908,-0.899995,-0.796908,-1.742076,-2.271392,-1.401829,-2.768166,-1.835765,-1.735504,-2.43541,-1.461121,-2.877854,-1.885778,-0.712698,-0.712698,001a1f289e3bab22_b,1.0,0.0
2,-1.327294,-1.313755,-1.368286,-1.330031,-1.308748,-1.240890,-0.899995,-0.796908,-0.899995,-0.796908,-1.742076,-2.271392,-1.401829,-2.768166,-1.835765,-1.735504,-2.43541,-1.461121,-2.877854,-1.885778,-0.712698,-0.712698,001a1f289e3bab22_b,2.0,0.0
3,-1.272434,-1.244472,-1.303596,-1.277439,-1.277944,-1.180998,-0.899995,-0.796908,-0.899995,-0.796908,-1.742076,-2.271392,-1.401829,-2.768166,-1.835765,-1.735504,-2.43541,-1.461121,-2.877854,-1.885778,-0.712698,-0.712698,001a1f289e3bab22_b,3.0,0.0
4,-1.212358,-1.189832,-1.234757,-1.213273,-1.219937,-1.131251,-0.899995,-0.796908,-0.899995,-0.796908,-1.742076,-2.271392,-1.401829,-2.768166,-1.835765,-1.735504,-2.43541,-1.461121,-2.877854,-1.885778,-0.712698,-0.712698,001a1f289e3bab22_b,4.0,0.0

In [14]:
fcols = [ 'match_id', 'time','gold', 'top_gold', 'jgl_gold', 'mid_gold', 'adc_gold', 'sup_gold', 'kill_total',
 'assist_total', 'opp_kill_total', 'opp_assist_total', 'r_inhib_count', 'r_baron_count', 'r_tower_count',
 'r_herald_count', 'r_drag_count', 'b_inhib_count', 'b_baron_count', 'b_tower_count', 'b_herald_count',
 'b_dragon_count', 'kda', 'opp_kda', 'result']

In [15]:
sdf1 = sdf[fcols]
sdf1.head()

,match_id,time,gold,top_gold,jgl_gold,mid_gold,adc_gold,sup_gold,kill_total,assist_total,opp_kill_total,opp_assist_total,r_inhib_count,r_baron_count,r_tower_count,r_herald_count,r_drag_count,b_inhib_count,b_baron_count,b_tower_count,b_herald_count,b_dragon_count,kda,opp_kda,result
0,001a1f289e3bab22_b,0.0,-1.342942,-1.326213,-1.387083,-1.341606,-1.320149,-1.269691,-0.899995,-0.796908,-0.899995,-0.796908,-1.742076,-2.271392,-1.401829,-2.768166,-1.835765,-1.735504,-2.43541,-1.461121,-2.877854,-1.885778,-0.712698,-0.712698,0.0
1,001a1f289e3bab22_b,1.0,-1.342244,-1.326213,-1.387083,-1.341606,-1.320149,-1.264782,-0.899995,-0.796908,-0.899995,-0.796908,-1.742076,-2.271392,-1.401829,-2.768166,-1.835765,-1.735504,-2.43541,-1.461121,-2.877854,-1.885778,-0.712698,-0.712698,0.0
2,001a1f289e3bab22_b,2.0,-1.327294,-1.313755,-1.368286,-1.330031,-1.308748,-1.240890,-0.899995,-0.796908,-0.899995,-0.796908,-1.742076,-2.271392,-1.401829,-2.768166,-1.835765,-1.735504,-2.43541,-1.461121,-2.877854,-1.885778,-0.712698,-0.712698,0.0
3,001a1f289e3bab22_b,3.0,-1.272434,-1.244472,-1.303596,-1.277439,-1.277944,-1.180998,-0.899995,-0.796908,-0.899995,-0.796908,-1.742076,-2.271392,-1.401829,-2.768166,-1.835765,-1.735504,-2.43541,-1.461121,-2.877854,-1.885778,-0.712698,-0.712698,0.0
4,001a1f289e3bab22_b,4.0,-1.212358,-1.189832,-1.234757,-1.213273,-1.219937,-1.131251,-0.899995,-0.796908,-0.899995,-0.796908,-1.742076,-2.271392,-1.401829,-2.768166,-1.835765,-1.735504,-2.43541,-1.461121,-2.877854,-1.885778,-0.712698,-0.712698,0.0

In [16]:
len(sdf1)

286844

In [17]:
# create X and y dataframes for training/testing
X = sdf1.loc[:,sdf1.columns != 'result'].values
y = sdf1.loc[:,sdf1.columns == 'result'].values
groups = sdf1['match_id']

In [18]:
from sklearn.model_selection import GroupKFold
# 80/20 split for train/test groups
gkf = GroupKFold(n_splits=5)

for train_index, test_index in gkf.split(X, y,groups):
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]

### Prepare Train Data

In [19]:
# reshape data to work with previously written parse_game function
xtrain = pd.DataFrame(X_train)
ytrain = pd.DataFrame(y_train)

In [20]:
print(len(ytrain))
print(len(xtrain))

229486
229486

In [21]:
train_df = pd.merge(xtrain, ytrain, left_index=True, right_index=True)

In [22]:
train_df.rename(columns={'0_y':'result','0_x':'match_id'},inplace=True)

In [23]:
train_df.sort_values(['match_id',1],inplace=True)
train_df.head()

,match_id,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,result
0,001a1f289e3bab22_b,0,-1.34294,-1.32621,-1.38708,-1.34161,-1.32015,-1.26969,-0.899995,-0.796908,-0.899995,-0.796908,-1.74208,-2.27139,-1.40183,-2.76817,-1.83577,-1.7355,-2.43541,-1.46112,-2.87785,-1.88578,-0.712698,-0.712698,0.0
1,001a1f289e3bab22_b,1,-1.34224,-1.32621,-1.38708,-1.34161,-1.32015,-1.26478,-0.899995,-0.796908,-0.899995,-0.796908,-1.74208,-2.27139,-1.40183,-2.76817,-1.83577,-1.7355,-2.43541,-1.46112,-2.87785,-1.88578,-0.712698,-0.712698,0.0
2,001a1f289e3bab22_b,2,-1.32729,-1.31376,-1.36829,-1.33003,-1.30875,-1.24089,-0.899995,-0.796908,-0.899995,-0.796908,-1.74208,-2.27139,-1.40183,-2.76817,-1.83577,-1.7355,-2.43541,-1.46112,-2.87785,-1.88578,-0.712698,-0.712698,0.0
3,001a1f289e3bab22_b,3,-1.27243,-1.24447,-1.3036,-1.27744,-1.27794,-1.181,-0.899995,-0.796908,-0.899995,-0.796908,-1.74208,-2.27139,-1.40183,-2.76817,-1.83577,-1.7355,-2.43541,-1.46112,-2.87785,-1.88578,-0.712698,-0.712698,0.0
4,001a1f289e3bab22_b,4,-1.21236,-1.18983,-1.23476,-1.21327,-1.21994,-1.13125,-0.899995,-0.796908,-0.899995,-0.796908,-1.74208,-2.27139,-1.40183,-2.76817,-1.83577,-1.7355,-2.43541,-1.46112,-2.87785,-1.88578,-0.712698,-0.712698,0.0

### Prepare Test Data

In [24]:
xtest = pd.DataFrame(X_test)
ytest = pd.DataFrame(y_test)
print(len(xtest))
print(len(ytest))

57358
57358

In [25]:
test_df = pd.merge(xtest, ytest, left_index=True, right_index=True)

In [26]:
test_df.rename(columns={'0_y':'result','0_x':'match_id'},inplace=True)
test_df.head()

,match_id,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,result
0,001a1f289e3bab22_r,0,-1.34294,-1.32621,-1.38708,-1.34161,-1.32015,-1.26969,-0.899995,-0.796908,-0.899995,-0.796908,-0.865652,-2.27139,0.90352,-2.76817,1.59489,-1.7355,-2.43541,-0.500126,-2.87785,-1.00394,-0.712698,-0.712698,1.0
1,001a1f289e3bab22_r,1,-1.34294,-1.32621,-1.38708,-1.34161,-1.32015,-1.26969,-0.899995,-0.796908,-0.899995,-0.796908,-0.865652,-2.27139,0.90352,-2.76817,1.59489,-1.7355,-2.43541,-0.500126,-2.87785,-1.00394,-0.712698,-0.712698,1.0
2,001a1f289e3bab22_r,2,-1.32944,-1.31376,-1.37317,-1.33003,-1.30875,-1.2494,-0.899995,-0.796908,-0.899995,-0.796908,-0.865652,-2.27139,0.90352,-2.76817,1.59489,-1.7355,-2.43541,-0.500126,-2.87785,-1.00394,-0.712698,-0.712698,1.0
3,001a1f289e3bab22_r,3,-1.26624,-1.2648,-1.28114,-1.27033,-1.24794,-1.19769,-0.899995,-0.796908,-0.899995,-0.796908,-0.865652,-2.27139,0.90352,-2.76817,1.59489,-1.7355,-2.43541,-0.500126,-2.87785,-1.00394,-0.712698,-0.712698,1.0
4,001a1f289e3bab22_r,4,-1.20956,-1.20032,-1.22402,-1.22586,-1.18893,-1.14074,-0.899995,-0.796908,-0.899995,-0.796908,-0.865652,-2.27139,0.90352,-2.76817,1.59489,-1.7355,-2.43541,-0.500126,-2.87785,-1.00394,-0.712698,-0.712698,1.0

## Parse Game Data to Reformat for Neural Network

In [27]:
def parse_game(grp):
    """Input is a single groupby object
    Output is a list of 3d arrays, each element contains 10 rows (which are equivalent to minutes 
       for this dataset). The function tracks the length of each group and stops at length minus 1. 
       After a group is finished the function performs the same process on the next group.
    """  
    t = 10
    start = 0
   
    length = len(grp)

    while t < length:
        
        # take a 10 row chunk and convert it to array
        
        data = grp.iloc[:,2:-1][start:t].values
   
        df_list.append(data)
        result_list.append(grp.iloc[:,-1:][start:t].values[0])
        
        # stop when t reaches length - 1
        start += 1
        t += 1
    
    return df_list

### Training Data

In [28]:
df_list = []
result_list = []

gb = train_df.groupby('match_id')

gb.apply(lambda group: parse_game(group));

In [29]:
print(len(df_list))
print(len(result_list))

169444
169444

In [30]:
num_features = 22
time_steps = 10

In [31]:
# reshape y to 1d numpy array
length_r = len(result_list)
y_train = np.array(result_list)
y_train = y_train.ravel()

In [32]:
# reshape x to 3d numpy array
length = len(df_list)
X_train = np.array(df_list)
X_train = X_train.reshape((length, time_steps, num_features))

### Test Data

In [33]:
def parse_game_test(grp):
    """Inputs are 1. a groupby group object
    Output is a list of 3d arrays, each element contains 10 rows (which are equivalent to minutes 
       for this dataset). The function tracks the length of each group and stops at length minus 1. 
       After a group is finished the function performs the same process on the next group.
    """  
    t = 10
    start = 0
   
    length = len(grp)

    while t < length:
        
        # take a 10 row chunk and convert it to array
        
        data = grp.iloc[:,2:-1][start:t].values
   
        df_list_test.append(data)
        result_list_test.append(grp.iloc[:,-1:][start:t].values[0])
        
        # stop when t reaches length - 1
        start += 1
        t += 1
    
    return df_list

In [34]:
df_list_test = []
result_list_test = []

gb = test_df.groupby('match_id')

gb.apply(lambda group: parse_game_test(group));

In [35]:
print(len(df_list_test))
print(len(result_list_test))

42376
42376

In [36]:
length_r = len(result_list_test)
y_test = np.array(result_list_test)
y_test = y_test.ravel()

In [37]:
length = len(df_list_test)
X_test = np.array(df_list_test)
X_test = X_test.reshape((length, time_steps, num_features))

In [38]:
print(len(X_test))
print(len(y_test))

42376
42376

## Keras LSTM Model

In [39]:
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.layers import Embedding
from keras.layers import LSTM
from sklearn.model_selection import GridSearchCV
from keras.wrappers.scikit_learn import KerasClassifier

Using TensorFlow backend.

In [121]:
print(X_train[:-1].shape)
print(y_train[:-1].shape)
print(X_test.shape)
print(y_test.shape)

(169443, 10, 22)
(169443,)
(42376, 10, 22)
(42376,)

In [123]:
model = Sequential()
model.add(LSTM(32, batch_input_shape=(18827, X_train[:-1].shape[1],X_train[:-1].shape[2]),
               dropout=0.2, recurrent_dropout=0.2,stateful=True))
#model.add(Dropout(0.2))
model.add(Dense(1,activation='sigmoid'))

model.compile(loss='binary_crossentropy',
             optimizer='adam',
             metrics=['accuracy'])
for i in range(10):
    model.fit(X_train[:-1], y_train[:-1], batch_size=18827,shuffle=False, epochs=1,verbose=1)
    model.reset_states()

Epoch 1/1
169443/169443 [==============================] - 12s - loss: 0.7117 - acc: 0.5081
Epoch 1/1
169443/169443 [==============================] - 10s - loss: 0.6943 - acc: 0.5289
Epoch 1/1
169443/169443 [==============================] - 10s - loss: 0.6861 - acc: 0.5476
Epoch 1/1
169443/169443 [==============================] - 11s - loss: 0.6819 - acc: 0.5557
Epoch 1/1
169443/169443 [==============================] - 10s - loss: 0.6783 - acc: 0.5648
Epoch 1/1
169443/169443 [==============================] - 10s - loss: 0.6749 - acc: 0.5712
Epoch 1/1
169443/169443 [==============================] - 10s - loss: 0.6717 - acc: 0.5771
Epoch 1/1
169443/169443 [==============================] - 10s - loss: 0.6682 - acc: 0.5842
Epoch 1/1
169443/169443 [==============================] - 10s - loss: 0.6642 - acc: 0.5907
Epoch 1/1
169443/169443 [==============================] - 10s - loss: 0.6597 - acc: 0.5960

In [ ]:
score = model.evaluate(X_test[:-7], y_test[:-7], verbose=0,batch_size=17651)
score

In [ ]:
model.metrics_names

## Keras GridSearch

In [39]:
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.layers import Embedding
from keras.layers import LSTM
from sklearn.model_selection import GridSearchCV
from keras.wrappers.scikit_learn import KerasClassifier

In [85]:
def create_model():
    model = Sequential()
    model.add(LSTM(32, batch_input_shape=(9410, X_train[:-64].shape[1],X_train[:-64].shape[2]),
               stateful=True))
    model.add(Dense(1,activation='sigmoid'))
    model.compile(loss='binary_crossentropy',
             optimizer='adam',
             metrics=['accuracy'])
    return model

In [86]:
model = KerasClassifier(build_fn=create_model, verbose=0)

In [87]:
print(len(X_train[:-64]))
print(len(y_train))

169380
169444

In [88]:
169443/18827

169380
941,4705,9410

(941, 4705, 9410)

In [89]:
#batch_size = [1024, 2048, 4096]
#epochs = [2, 4]
batch_size = [9410]
epochs = [4,8,12]
param_grid = dict(batch_size=batch_size,epochs=epochs)

grid = GridSearchCV(estimator=model,param_grid=param_grid)
grid_result = grid.fit(X_train[:-64], y_train[:-64])

In [90]:
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

Best: 0.554829 using {'batch_size': 9410, 'epochs': 12}
0.504422 (0.026640) with: {'batch_size': 9410, 'epochs': 4}
0.541168 (0.010379) with: {'batch_size': 9410, 'epochs': 8}
0.554829 (0.024525) with: {'batch_size': 9410, 'epochs': 12}

## Batch Size: 4705

In [92]:
def create_model():
    model = Sequential()
    model.add(LSTM(32, batch_input_shape=(4705, X_train[:-64].shape[1],X_train[:-64].shape[2]),
               stateful=True))
    model.add(Dense(1,activation='sigmoid'))
    model.compile(loss='binary_crossentropy',
             optimizer='adam',
             metrics=['accuracy'])
    return model

In [93]:
model = KerasClassifier(build_fn=create_model, verbose=0)

In [94]:
batch_size = [4705]
epochs = [4,8,12]
param_grid = dict(batch_size=batch_size,epochs=epochs)

grid = GridSearchCV(estimator=model,param_grid=param_grid)
grid_result = grid.fit(X_train[:-64], y_train[:-64])

In [95]:
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

Best: 0.571744 using {'batch_size': 4705, 'epochs': 12}
0.543494 (0.011077) with: {'batch_size': 4705, 'epochs': 4}
0.559033 (0.025408) with: {'batch_size': 4705, 'epochs': 8}
0.571744 (0.024775) with: {'batch_size': 4705, 'epochs': 12}

## Batch Size: 941

In [44]:
def create_model():
    model = Sequential()
    model.add(LSTM(32, batch_input_shape=(941, X_train[:-64].shape[1],X_train[:-64].shape[2]),
               stateful=True))
    model.add(Dense(1,activation='sigmoid'))
    model.compile(loss='binary_crossentropy',
             optimizer='adam',
             metrics=['accuracy'])
    return model

In [45]:
model = KerasClassifier(build_fn=create_model, verbose=0)

In [46]:
batch_size = [941]
epochs = [20,40,60]
param_grid = dict(batch_size=batch_size,epochs=epochs)

grid = GridSearchCV(estimator=model,param_grid=param_grid)
grid_result = grid.fit(X_train[:-64], y_train[:-64])

In [47]:
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

Best: 0.588511 using {'batch_size': 941, 'epochs': 20}
0.588511 (0.038686) with: {'batch_size': 941, 'epochs': 20}
0.583156 (0.035028) with: {'batch_size': 941, 'epochs': 40}
0.580871 (0.040019) with: {'batch_size': 941, 'epochs': 60}

## Dense -> LSTM -> Out

In [48]:
model = Sequential()
model.add(Dense(50,batch_input_shape=(4705, X_train[:-64].shape[1],X_train[:-64].shape[2])))
model.add(LSTM(32, stateful=True))
#model.add(Dropout(0.2))
model.add(Dense(1,activation='sigmoid'))

model.compile(loss='binary_crossentropy',
             optimizer='adam',
             metrics=['accuracy'])
for i in range(10):
    model.fit(X_train[:-64], y_train[:-64], batch_size=4705,shuffle=False, epochs=1,verbose=1)
    model.reset_states()

Epoch 1/1
169380/169380 [==============================] - 12s - loss: 0.7020 - acc: 0.5313
Epoch 1/1
169380/169380 [==============================] - 12s - loss: 0.6652 - acc: 0.5910
Epoch 1/1
169380/169380 [==============================] - 12s - loss: 0.6467 - acc: 0.6068
Epoch 1/1
169380/169380 [==============================] - 11s - loss: 0.6334 - acc: 0.6167
Epoch 1/1
169380/169380 [==============================] - 12s - loss: 0.6252 - acc: 0.6234
Epoch 1/1
169380/169380 [==============================] - 12s - loss: 0.6182 - acc: 0.6284
Epoch 1/1
169380/169380 [==============================] - 12s - loss: 0.6121 - acc: 0.6326
Epoch 1/1
169380/169380 [==============================] - 12s - loss: 0.6066 - acc: 0.6369
Epoch 1/1
169380/169380 [==============================] - 11s - loss: 0.6017 - acc: 0.6412
Epoch 1/1
169380/169380 [==============================] - 12s - loss: 0.5970 - acc: 0.6453

## LSTM -> Dense -> Out

In [50]:
model = Sequential()
model.add(LSTM(50, batch_input_shape=(4705, X_train[:-64].shape[1],X_train[:-64].shape[2]),
               return_sequences=False,stateful=True))
model.add(Dense(26))
model.add(Dense(1,activation='sigmoid'))

model.compile(loss='binary_crossentropy',
             optimizer='adam',
             metrics=['accuracy'])
for i in range(10):
    model.fit(X_train[:-64], y_train[:-64], batch_size=4705,shuffle=False, epochs=1,verbose=1)
    model.reset_states()

Epoch 1/1
169380/169380 [==============================] - 15s - loss: 0.6992 - acc: 0.5533
Epoch 1/1
169380/169380 [==============================] - 14s - loss: 0.6705 - acc: 0.5852
Epoch 1/1
169380/169380 [==============================] - 14s - loss: 0.6538 - acc: 0.6025
Epoch 1/1
169380/169380 [==============================] - 14s - loss: 0.6382 - acc: 0.6139
Epoch 1/1
169380/169380 [==============================] - 14s - loss: 0.6274 - acc: 0.6221
Epoch 1/1
169380/169380 [==============================] - 14s - loss: 0.6189 - acc: 0.6286
Epoch 1/1
169380/169380 [==============================] - 14s - loss: 0.6120 - acc: 0.6337
Epoch 1/1
169380/169380 [==============================] - 14s - loss: 0.6061 - acc: 0.6379
Epoch 1/1
169380/169380 [==============================] - 14s - loss: 0.6007 - acc: 0.6423
Epoch 1/1
169380/169380 [==============================] - 15s - loss: 0.5957 - acc: 0.6454

In [44]:
model = Sequential()
model.add(LSTM(40, batch_input_shape=(4705, X_train[:-64].shape[1],X_train[:-64].shape[2]), stateful=True))
model.add(Dense(25))
model.add(Dense(1,activation='sigmoid'))

model.compile(loss='binary_crossentropy',
             optimizer='adam',
             metrics=['accuracy'])
for i in range(10):
    model.fit(X_train[:-64], y_train[:-64], batch_size=4705,shuffle=False, epochs=1,verbose=1)
    model.reset_states()

Epoch 1/1
169380/169380 [==============================] - 12s - loss: 0.7018 - acc: 0.5381
Epoch 1/1
169380/169380 [==============================] - 11s - loss: 0.6707 - acc: 0.5904
Epoch 1/1
169380/169380 [==============================] - 11s - loss: 0.6567 - acc: 0.6032
Epoch 1/1
169380/169380 [==============================] - 11s - loss: 0.6421 - acc: 0.6108
Epoch 1/1
169380/169380 [==============================] - 11s - loss: 0.6322 - acc: 0.6171
Epoch 1/1
169380/169380 [==============================] - 11s - loss: 0.6246 - acc: 0.6217
Epoch 1/1
169380/169380 [==============================] - 11s - loss: 0.6179 - acc: 0.6266
Epoch 1/1
169380/169380 [==============================] - 11s - loss: 0.6120 - acc: 0.6308
Epoch 1/1
169380/169380 [==============================] - 12s - loss: 0.6065 - acc: 0.6333
Epoch 1/1
169380/169380 [==============================] - 11s - loss: 0.6015 - acc: 0.6362

## Dense -> LSTM -> Dense -> Out

In [45]:
model = Sequential()
model.add(Dense(50,batch_input_shape=(4705, X_train[:-64].shape[1],X_train[:-64].shape[2])))
model.add(LSTM(32, stateful=True))
model.add(Dense(25))
#model.add(Dropout(0.2))
model.add(Dense(1,activation='sigmoid'))

model.compile(loss='binary_crossentropy',
             optimizer='adam',
             metrics=['accuracy'])
for i in range(10):
    model.fit(X_train[:-64], y_train[:-64], batch_size=4705,shuffle=False, epochs=1,verbose=1)
    model.reset_states()

Epoch 1/1
169380/169380 [==============================] - 11s - loss: 0.7018 - acc: 0.5301
Epoch 1/1
169380/169380 [==============================] - 10s - loss: 0.6715 - acc: 0.5940
Epoch 1/1
169380/169380 [==============================] - 11s - loss: 0.6488 - acc: 0.6113
Epoch 1/1
169380/169380 [==============================] - 10s - loss: 0.6330 - acc: 0.6172
Epoch 1/1
169380/169380 [==============================] - 11s - loss: 0.6263 - acc: 0.6198
Epoch 1/1
169380/169380 [==============================] - 11s - loss: 0.6193 - acc: 0.6252
Epoch 1/1
169380/169380 [==============================] - 11s - loss: 0.6141 - acc: 0.6275
Epoch 1/1
169380/169380 [==============================] - 12s - loss: 0.6082 - acc: 0.6323
Epoch 1/1
169380/169380 [==============================] - 11s - loss: 0.6033 - acc: 0.6361
Epoch 1/1
169380/169380 [==============================] - 11s - loss: 0.5987 - acc: 0.6390

## Dense -> LSTM -> Out Further Tuning

In [51]:
model = Sequential()
model.add(Dense(50,batch_input_shape=(4705, X_train[:-64].shape[1],X_train[:-64].shape[2])))
model.add(LSTM(32, stateful=True))
#model.add(Dropout(0.2))
model.add(Dense(1,activation='sigmoid'))

model.compile(loss='binary_crossentropy',
             optimizer='rmsprop',
             metrics=['accuracy'])
for i in range(10):
    model.fit(X_train[:-64], y_train[:-64], batch_size=4705,shuffle=False, epochs=1,verbose=1)
    model.reset_states()

Epoch 1/1
169380/169380 [==============================] - 12s - loss: 0.6749 - acc: 0.5743
Epoch 1/1
169380/169380 [==============================] - 11s - loss: 0.6450 - acc: 0.6140
Epoch 1/1
169380/169380 [==============================] - 11s - loss: 0.6236 - acc: 0.6302
Epoch 1/1
169380/169380 [==============================] - 13s - loss: 0.6130 - acc: 0.6392
Epoch 1/1
169380/169380 [==============================] - 12s - loss: 0.6046 - acc: 0.6452
Epoch 1/1
169380/169380 [==============================] - 11s - loss: 0.5970 - acc: 0.6509
Epoch 1/1
169380/169380 [==============================] - 11s - loss: 0.5902 - acc: 0.6561
Epoch 1/1
169380/169380 [==============================] - 11s - loss: 0.5839 - acc: 0.6605
Epoch 1/1
169380/169380 [==============================] - 11s - loss: 0.5780 - acc: 0.6652
Epoch 1/1
169380/169380 [==============================] - 10s - loss: 0.5725 - acc: 0.6689

In [52]:
model = Sequential()
model.add(Dense(50,batch_input_shape=(4705, X_train[:-64].shape[1],X_train[:-64].shape[2])))
model.add(LSTM(32, stateful=True))
#model.add(Dropout(0.2))
model.add(Dense(1,activation='sigmoid'))

model.compile(loss='binary_crossentropy',
             optimizer='rmsprop',
             metrics=['accuracy'])
for i in range(10):
    model.fit(X_train[:-64], y_train[:-64], batch_size=4705,shuffle=False, epochs=1,verbose=1)
    #model.reset_states()

Epoch 1/1
169380/169380 [==============================] - 11s - loss: 0.6678 - acc: 0.5895
Epoch 1/1
169380/169380 [==============================] - 11s - loss: 0.6394 - acc: 0.6230
Epoch 1/1
169380/169380 [==============================] - 11s - loss: 0.6208 - acc: 0.6336
Epoch 1/1
169380/169380 [==============================] - 11s - loss: 0.6110 - acc: 0.6393
Epoch 1/1
169380/169380 [==============================] - 11s - loss: 0.6034 - acc: 0.6456
Epoch 1/1
169380/169380 [==============================] - 11s - loss: 0.5970 - acc: 0.6500
Epoch 1/1
169380/169380 [==============================] - 12s - loss: 0.5913 - acc: 0.6540
Epoch 1/1
169380/169380 [==============================] - 11s - loss: 0.5859 - acc: 0.6579
Epoch 1/1
169380/169380 [==============================] - 11s - loss: 0.5809 - acc: 0.6618
Epoch 1/1
169380/169380 [==============================] - 11s - loss: 0.5763 - acc: 0.6658

## Tune Neurons in First Layer

In [61]:
def create_model(neurons=1):
    model = Sequential()
    model.add(Dense(neurons,batch_input_shape=(4705, X_train[:-64].shape[1],X_train[:-64].shape[2])))
    model.add(LSTM(32, stateful=True))
    model.add(Dense(1,activation='sigmoid'))
    model.compile(loss='binary_crossentropy',
             optimizer='rmsprop',
             metrics=['accuracy'])
    return model

In [62]:
model = KerasClassifier(build_fn=create_model, epochs=10, batch_size=4705, verbose=0)

In [63]:
neurons = [30, 40, 50]
param_grid = dict(neurons=neurons)

grid = GridSearchCV(estimator=model,param_grid=param_grid)
grid_result = grid.fit(X_train[:-64], y_train[:-64])

In [64]:
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

Best: 0.579035 using {'neurons': 50}
0.567747 (0.030579) with: {'neurons': 30}
0.574165 (0.033053) with: {'neurons': 40}
0.579035 (0.027202) with: {'neurons': 50}

## Dropout Rate

In [71]:
from keras.constraints import maxnorm
def create_model(dropout_rate=0.0,weight_constraint=0):
    model = Sequential()
    model.add(Dense(50,batch_input_shape=(4705, X_train[:-64].shape[1],X_train[:-64].shape[2]),
                   kernel_constraint=maxnorm(weight_constraint)))
    model.add(Dropout(dropout_rate))
    model.add(LSTM(32, stateful=True))
    model.add(Dense(1,activation='sigmoid'))
    model.compile(loss='binary_crossentropy',
             optimizer='rmsprop',
             metrics=['accuracy'])
    return model

In [72]:
model = KerasClassifier(build_fn=create_model, epochs=10, batch_size=4705, verbose=0)

In [73]:
weight_constraint = [1, 2, 3, 4, 5]
dropout_rate = [0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]
param_grid = dict(weight_constraint=weight_constraint, dropout_rate=dropout_rate)

grid = GridSearchCV(estimator=model,param_grid=param_grid)
grid_result = grid.fit(X_train[:-64], y_train[:-64])

In [74]:
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

Best: 0.581037 using {'weight_constraint': 2, 'dropout_rate': 0.0}
0.569678 (0.029848) with: {'weight_constraint': 1, 'dropout_rate': 0.0}
0.581037 (0.028838) with: {'weight_constraint': 2, 'dropout_rate': 0.0}
0.575723 (0.029584) with: {'weight_constraint': 3, 'dropout_rate': 0.0}
0.578138 (0.031781) with: {'weight_constraint': 4, 'dropout_rate': 0.0}
0.577063 (0.032701) with: {'weight_constraint': 5, 'dropout_rate': 0.0}
0.578120 (0.024221) with: {'weight_constraint': 1, 'dropout_rate': 0.1}
0.574377 (0.026783) with: {'weight_constraint': 2, 'dropout_rate': 0.1}
0.577229 (0.018072) with: {'weight_constraint': 3, 'dropout_rate': 0.1}
0.578557 (0.033696) with: {'weight_constraint': 4, 'dropout_rate': 0.1}
0.576993 (0.024729) with: {'weight_constraint': 5, 'dropout_rate': 0.1}
0.580222 (0.021823) with: {'weight_constraint': 1, 'dropout_rate': 0.2}
0.569264 (0.025963) with: {'weight_constraint': 2, 'dropout_rate': 0.2}
0.574749 (0.026360) with: {'weight_constraint': 3, 'dropout_rate': 0.2}
0.576030 (0.026424) with: {'weight_constraint': 4, 'dropout_rate': 0.2}
0.569205 (0.026376) with: {'weight_constraint': 5, 'dropout_rate': 0.2}
0.574070 (0.026888) with: {'weight_constraint': 1, 'dropout_rate': 0.3}
0.571354 (0.024728) with: {'weight_constraint': 2, 'dropout_rate': 0.3}
0.569849 (0.021778) with: {'weight_constraint': 3, 'dropout_rate': 0.3}
0.576550 (0.025028) with: {'weight_constraint': 4, 'dropout_rate': 0.3}
0.572122 (0.027855) with: {'weight_constraint': 5, 'dropout_rate': 0.3}
0.573775 (0.019596) with: {'weight_constraint': 1, 'dropout_rate': 0.4}
0.566413 (0.027149) with: {'weight_constraint': 2, 'dropout_rate': 0.4}
0.566253 (0.025624) with: {'weight_constraint': 3, 'dropout_rate': 0.4}
0.569630 (0.022816) with: {'weight_constraint': 4, 'dropout_rate': 0.4}
0.570587 (0.024149) with: {'weight_constraint': 5, 'dropout_rate': 0.4}
0.567151 (0.027451) with: {'weight_constraint': 1, 'dropout_rate': 0.5}
0.567021 (0.027152) with: {'weight_constraint': 2, 'dropout_rate': 0.5}
0.565445 (0.023136) with: {'weight_constraint': 3, 'dropout_rate': 0.5}
0.562947 (0.021696) with: {'weight_constraint': 4, 'dropout_rate': 0.5}
0.568213 (0.023944) with: {'weight_constraint': 5, 'dropout_rate': 0.5}
0.563980 (0.020918) with: {'weight_constraint': 1, 'dropout_rate': 0.6}
0.562286 (0.023155) with: {'weight_constraint': 2, 'dropout_rate': 0.6}
0.558425 (0.027770) with: {'weight_constraint': 3, 'dropout_rate': 0.6}
0.562428 (0.023718) with: {'weight_constraint': 4, 'dropout_rate': 0.6}
0.558696 (0.025033) with: {'weight_constraint': 5, 'dropout_rate': 0.6}
0.558230 (0.030569) with: {'weight_constraint': 1, 'dropout_rate': 0.7}
0.556111 (0.030000) with: {'weight_constraint': 2, 'dropout_rate': 0.7}
0.557055 (0.025785) with: {'weight_constraint': 3, 'dropout_rate': 0.7}
0.557805 (0.030309) with: {'weight_constraint': 4, 'dropout_rate': 0.7}
0.558466 (0.024180) with: {'weight_constraint': 5, 'dropout_rate': 0.7}
0.545909 (0.024272) with: {'weight_constraint': 1, 'dropout_rate': 0.8}
0.551665 (0.026496) with: {'weight_constraint': 2, 'dropout_rate': 0.8}
0.546971 (0.025847) with: {'weight_constraint': 3, 'dropout_rate': 0.8}
0.541676 (0.036035) with: {'weight_constraint': 4, 'dropout_rate': 0.8}
0.545672 (0.032599) with: {'weight_constraint': 5, 'dropout_rate': 0.8}
0.516708 (0.034426) with: {'weight_constraint': 1, 'dropout_rate': 0.9}
0.520274 (0.027010) with: {'weight_constraint': 2, 'dropout_rate': 0.9}
0.520410 (0.036179) with: {'weight_constraint': 3, 'dropout_rate': 0.9}
0.516230 (0.031738) with: {'weight_constraint': 4, 'dropout_rate': 0.9}
0.506630 (0.042739) with: {'weight_constraint': 5, 'dropout_rate': 0.9}