In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)
%matplotlib inline

In [2]:
pk_df = pd.read_csv('player_kda.csv', index_col=0)
tk_df = pd.read_csv('team_kda.csv', index_col=0)
obj_df = pd.read_csv('object_sums.csv', index_col=0)
gen_df = pd.read_csv('merged_df.csv', index_col=0)
df = pd.read_csv('gold_diff_merged.csv', index_col=0)
gt_df = pd.read_csv('gold_df_merged.csv', index_col=0)
dfo = pd.read_csv('objValues.csv')
dfg = pd.read_csv('goldValues.csv')
dfd = pd.read_csv('deathValues.csv')

In [3]:
gen_df.head()

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length,top_player,top_champ,jungle_player,jungle_champ,mid_player,mid_champ,adc_player,adc_champ,support_player,support_champ,ban_1,ban_2,ban_3,ban_4,ban_5
0,001a1f289e3bab22,LCK,Summer_Season,2015,ANC,blue,0,38,ikssu,Hecarim,lira,Gragas,Mickey,Vladimir,Sangyoon,Sivir,SnowFlower,Morgana,Azir,Shyvana,Jayce,NaN,NaN
1,001a1f289e3bab22,LCK,Summer_Season,2015,CJE,red,1,38,Shy,Rumble,Ambition,Sejuani,Coco,Cassiopeia,Space,Jinx,Thresh,MadLife,Zed,Gnar,Kalista,NaN,NaN
2,001f50c8547e2e73,Season_World_Championship,International,2014,EDG,blue,1,37,Koro1,Maokai,Clearlove,Rengar,U,Zed,NaMei,Twitch,Fzzf,Thresh,Fizz,LeeSin,TwistedFate,NaN,NaN
3,001f50c8547e2e73,Season_World_Championship,International,2014,AHQ,red,0,37,Prydz,Nidalee,NAZ,Khazix,westdoor,Talon,GarnetDevil,Lucian,Blitzcrank,GreenTea,Ryze,Zilean,Alistar,NaN,NaN
4,002f613ae09ad421,LMS,Spring_Season,2016,TPA,blue,1,30,Morning,Trundle,REFRA1N,RekSai,FoFo,Lissandra,BeBe,Lucian,Jay,Alistar,Corki,Gangplank,TahmKench,NaN,NaN

In [4]:
pk_df.head()

           match_id team_name      player  kills  deaths  assists  kda_ratio
0  001a1f289e3bab22       ANC  SnowFlower      1       4        6   1.750000
1  001a1f289e3bab22       ANC       ikssu      1       3        4   1.666667
2  001a1f289e3bab22       ANC        lira      1       7        6   1.000000
3  001a1f289e3bab22       CJE    Ambition      4       2       12   8.000000
4  001a1f289e3bab22       CJE        Coco      8       2       10   9.000000

In [5]:
dfo['a'], dfo['match_id'] = dfo['MatchHistory'].str.split('=',1).str
dfo.drop(['MatchHistory', 'a'], axis=1, inplace=True)
dfo.head()

,ObjType,num_1,num_2,num_3,num_4,num_5,num_6,num_7,num_8,num_9,num_10,num_11,num_12,num_13,num_14,num_15,num_16,match_id
0,bTowers,23.038,15.217,15.014,33.583,39.269,39.376,16.556,17.856,27.542,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fbb300951ad8327c
1,bTowers,33.018,34.766,23.239,20.058,15.306,25.564,28.989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,055b17da8456fdc8
2,bTowers,18.294,36.946,32.833,25.481,29.505,38.445,39.420,25.120,30.158,39.566,37.109,17.34,35.463,15.045,33.135,NaN,8e8a9b58df366e2d
3,bTowers,22.879,18.541,19.941,38.770,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0ed1cd0e0e57329c
4,bTowers,33.925,26.963,22.594,34.515,34.213,14.976,33.717,18.487,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f932becf86175f38

In [6]:
dfg['a'], dfg['match_id'] = dfg['MatchHistory'].str.split('=',1).str
dfg.drop(['MatchHistory', 'a'], axis=1, inplace=True)
dfg.head()

,NameType,min_1,min_2,min_3,min_4,min_5,min_6,min_7,min_8,min_9,min_10,min_11,min_12,min_13,min_14,min_15,min_16,min_17,min_18,min_19,min_20,min_21,min_22,min_23,min_24,min_25,min_26,min_27,min_28,min_29,min_30,min_31,min_32,min_33,min_34,min_35,min_36,min_37,min_38,min_39,min_40,min_41,min_42,min_43,min_44,min_45,min_46,min_47,min_48,min_49,min_50,min_51,min_52,min_53,min_54,min_55,min_56,min_57,min_58,min_59,min_60,min_61,min_62,min_63,min_64,min_65,min_66,min_67,min_68,min_69,min_70,min_71,min_72,min_73,min_74,min_75,min_76,min_77,min_78,min_79,min_80,min_81,match_id
0,golddiff,0,0.0,-14.0,-65.0,-268.0,-431.0,-488.0,-789.0,-494.0,-625.0,-1044.0,-313.0,-760.0,-697.0,-790.0,-611.0,240.0,845.0,797.0,1422.0,987.0,169.0,432.0,491.0,1205.0,1527.0,1647.0,1847.0,3750.0,4719.0,3561.0,3367.0,2886.0,2906.0,4411.0,4473.0,4639.0,4762.0,4686.0,6057.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fbb300951ad8327c
1,golddiff,0,0.0,-26.0,-18.0,147.0,237.0,-152.0,18.0,88.0,-242.0,102.0,117.0,802.0,1420.0,1394.0,1301.0,1489.0,1563.0,1368.0,1105.0,205.0,192.0,587.0,377.0,667.0,415.0,1876.0,1244.0,2130.0,2431.0,680.0,1520.0,949.0,1894.0,2644.0,3394.0,3726.0,1165.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,055b17da8456fdc8
2,golddiff,0,0.0,10.0,-60.0,34.0,37.0,589.0,1064.0,1258.0,913.0,1233.0,1597.0,1575.0,3046.0,2922.0,3074.0,3626.0,3466.0,5634.0,5293.0,4597.0,4360.0,4616.0,4489.0,4880.0,5865.0,6993.0,7049.0,7029.0,7047.0,7160.0,7081.0,7582.0,9917.0,10337.0,9823.0,12307.0,13201.0,13924.0,13915.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8e8a9b58df366e2d
3,golddiff,0,0.0,-15.0,25.0,228.0,-6.0,-243.0,175.0,-346.0,16.0,-258.0,-57.0,-190.0,-111.0,-335.0,-8.0,324.0,428.0,-124.0,768.0,2712.0,1813.0,198.0,1242.0,1245.0,1278.0,1240.0,-664.0,-1195.0,-1157.0,-2161.0,-2504.0,-3873.0,-3688.0,-3801.0,-3668.0,-3612.0,-5071.0,-2825.0,-1464.0,-4507.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0ed1cd0e0e57329c
4,golddiff,40,40.0,44.0,-36.0,113.0,158.0,-121.0,-191.0,23.0,205.0,156.0,272.0,-271.0,-896.0,-574.0,177.0,-425.0,-730.0,-318.0,478.0,926.0,761.0,-286.0,473.0,490.0,1265.0,2526.0,3890.0,4319.0,5121.0,5140.0,5141.0,6866.0,9517.0,11322.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f932becf86175f38

In [7]:
dfd['a'], dfd['match_id'] = dfd['MatchHistory'].str.split('=',1).str
dfd.drop(['MatchHistory', 'a'], axis=1, inplace=True)
dfd.head()

,TeamColor,Time,Victim,Killer,Assist_1,Assist_2,Assist_3,Assist_4,match_id
0,Blue,10.82,C9 Hai,TSM Bjergsen,NaN,NaN,NaN,NaN,fbb300951ad8327c
1,Blue,16.286,C9 LemonNation,TSM WildTurtle,TSM Santorin,TSM Bjergsen,TSM Lustboy,NaN,fbb300951ad8327c
2,Blue,18.733,C9 Hai,TSM Bjergsen,TSM Santorin,TSM WildTurtle,TSM Lustboy,NaN,fbb300951ad8327c
3,Blue,18.88,C9 Meteos,TSM Dyrus,TSM Santorin,TSM Bjergsen,TSM WildTurtle,TSM Lustboy,fbb300951ad8327c
4,Blue,27.005,C9 Balls,TSM Bjergsen,TSM Dyrus,TSM Santorin,TSM WildTurtle,TSM Lustboy,fbb300951ad8327c

In [8]:
gt_df.head()

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length,type,player_name,champion,min_0,min_1,min_2,min_3,min_4,min_5,min_6,min_7,min_8,min_9,min_10,min_11,min_12,min_13,min_14,min_15,min_16,min_17,min_18,min_19,min_20,min_21,min_22,min_23,min_24,min_25,min_26,min_27,min_28,min_29,min_30,min_31,min_32,min_33,min_34,min_35,min_36,min_37,min_38,min_39,min_40,min_41,min_42,min_43,min_44,min_45,min_46,min_47,min_48,min_49,min_50,min_51,min_52,min_53,min_54,min_55,min_56,min_57,min_58,min_59,min_60,min_61,min_62,min_63,min_64,min_65,min_66,min_67,min_68,min_69,min_70,min_71,min_72,min_73,min_74,min_75,min_76,min_77,min_78,min_79,min_80
0,001a1f289e3bab22,LCK,Summer_Season,2015,ANC,blue,0,38,total_gold,NaN,NaN,2415,2430,2751,3929,5219,6418,8156,9520,10681,12036,13678,15590,16782,18417,20052,21608,23396,24248,25691,27452.0,30446.0,31672.0,33665.0,36399.0,37571.0,38659.0,39757.0,41498.0,42861.0,44378.0,45719.0,47095.0,48551.0,49524.0,51200.0,52518.0,53247.0,53893.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,001a1f289e3bab22,LCK,Summer_Season,2015,CJE,red,1,38,total_gold,NaN,NaN,2415,2415,2705,4062,5279,7322,8661,10372,11444,13260,14676,15723,18119,19663,21237,22809,24997,28072,30162,31469.0,32490.0,34362.0,36662.0,37981.0,39398.0,40331.0,41652.0,44239.0,45948.0,47134.0,49334.0,51052.0,52586.0,53374.0,55245.0,56618.0,62198.0,62846.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,001f50c8547e2e73,Season_World_Championship,International,2014,EDG,blue,1,37,total_gold,NaN,NaN,2415,2415,2705,3817,4956,6132,7499,8605,9942,11434,13028,15942,17653,19941,21320,23236,24835,26384,29350,32365.0,33752.0,35258.0,39070.0,40973.0,42591.0,45637.0,46672.0,48001.0,49458.0,51181.0,52245.0,54233.0,58476.0,61061.0,62324.0,65435.0,69584.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,001f50c8547e2e73,Season_World_Championship,International,2014,AHQ,red,0,37,total_gold,NaN,NaN,2415,2415,2705,3728,5048,6306,7308,8536,9689,11072,12952,13978,15289,16639,18575,19558,22343,23318,24585,25342.0,26616.0,27778.0,29198.0,30997.0,32647.0,34549.0,35535.0,36591.0,38024.0,39272.0,40585.0,41883.0,42547.0,43836.0,45798.0,46951.0,47804.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,002f613ae09ad421,LMS,Spring_Season,2016,TPA,blue,1,30,total_gold,NaN,NaN,2500,2500,2785,4216,6193,7618,9674,11203,13004,14497,15653,17089,19084,20938,22437,24228,27072,28475,31466,34244.0,37178.0,39046.0,41074.0,42978.0,44964.0,48148.0,49707.0,51624.0,54594.0,56268.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
dfd['Time'] = pd.to_numeric(dfd['Time'], errors='coerce')
dfd['time'] = round(dfd['Time'])
dfd.head()

,TeamColor,Time,Victim,Killer,Assist_1,Assist_2,Assist_3,Assist_4,match_id,time
0,Blue,10.820,C9 Hai,TSM Bjergsen,NaN,NaN,NaN,NaN,fbb300951ad8327c,11.0
1,Blue,16.286,C9 LemonNation,TSM WildTurtle,TSM Santorin,TSM Bjergsen,TSM Lustboy,NaN,fbb300951ad8327c,16.0
2,Blue,18.733,C9 Hai,TSM Bjergsen,TSM Santorin,TSM WildTurtle,TSM Lustboy,NaN,fbb300951ad8327c,19.0
3,Blue,18.880,C9 Meteos,TSM Dyrus,TSM Santorin,TSM Bjergsen,TSM WildTurtle,TSM Lustboy,fbb300951ad8327c,19.0
4,Blue,27.005,C9 Balls,TSM Bjergsen,TSM Dyrus,TSM Santorin,TSM WildTurtle,TSM Lustboy,fbb300951ad8327c,27.0

In [10]:
dict_df = gen_df[['match_id', 'red_or_blue_side', 'result']]

### Time Series Reshape

In [11]:
df = pd.read_csv('gold_df_merged.csv', index_col=0)
df.drop(['league','season', 'year', 'team_name', 'game_length', 'player_name', 'champion'], inplace=True, axis=1)

In [12]:
df.head()

,match_id,red_or_blue_side,result,type,min_0,min_1,min_2,min_3,min_4,min_5,min_6,min_7,min_8,min_9,min_10,min_11,min_12,min_13,min_14,min_15,min_16,min_17,min_18,min_19,min_20,min_21,min_22,min_23,min_24,min_25,min_26,min_27,min_28,min_29,min_30,min_31,min_32,min_33,min_34,min_35,min_36,min_37,min_38,min_39,min_40,min_41,min_42,min_43,min_44,min_45,min_46,min_47,min_48,min_49,min_50,min_51,min_52,min_53,min_54,min_55,min_56,min_57,min_58,min_59,min_60,min_61,min_62,min_63,min_64,min_65,min_66,min_67,min_68,min_69,min_70,min_71,min_72,min_73,min_74,min_75,min_76,min_77,min_78,min_79,min_80
0,001a1f289e3bab22,blue,0,total_gold,2415,2430,2751,3929,5219,6418,8156,9520,10681,12036,13678,15590,16782,18417,20052,21608,23396,24248,25691,27452.0,30446.0,31672.0,33665.0,36399.0,37571.0,38659.0,39757.0,41498.0,42861.0,44378.0,45719.0,47095.0,48551.0,49524.0,51200.0,52518.0,53247.0,53893.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,001a1f289e3bab22,red,1,total_gold,2415,2415,2705,4062,5279,7322,8661,10372,11444,13260,14676,15723,18119,19663,21237,22809,24997,28072,30162,31469.0,32490.0,34362.0,36662.0,37981.0,39398.0,40331.0,41652.0,44239.0,45948.0,47134.0,49334.0,51052.0,52586.0,53374.0,55245.0,56618.0,62198.0,62846.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,001f50c8547e2e73,blue,1,total_gold,2415,2415,2705,3817,4956,6132,7499,8605,9942,11434,13028,15942,17653,19941,21320,23236,24835,26384,29350,32365.0,33752.0,35258.0,39070.0,40973.0,42591.0,45637.0,46672.0,48001.0,49458.0,51181.0,52245.0,54233.0,58476.0,61061.0,62324.0,65435.0,69584.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,001f50c8547e2e73,red,0,total_gold,2415,2415,2705,3728,5048,6306,7308,8536,9689,11072,12952,13978,15289,16639,18575,19558,22343,23318,24585,25342.0,26616.0,27778.0,29198.0,30997.0,32647.0,34549.0,35535.0,36591.0,38024.0,39272.0,40585.0,41883.0,42547.0,43836.0,45798.0,46951.0,47804.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,002f613ae09ad421,blue,1,total_gold,2500,2500,2785,4216,6193,7618,9674,11203,13004,14497,15653,17089,19084,20938,22437,24228,27072,28475,31466,34244.0,37178.0,39046.0,41074.0,42978.0,44964.0,48148.0,49707.0,51624.0,54594.0,56268.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
cols = ['match_id', 'red_or_blue_side', 'result', 'type']
df.rename(columns=lambda x: x[4:] if x not in cols else x,inplace=True)
df.head()

,match_id,red_or_blue_side,result,type,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80
0,001a1f289e3bab22,blue,0,total_gold,2415,2430,2751,3929,5219,6418,8156,9520,10681,12036,13678,15590,16782,18417,20052,21608,23396,24248,25691,27452.0,30446.0,31672.0,33665.0,36399.0,37571.0,38659.0,39757.0,41498.0,42861.0,44378.0,45719.0,47095.0,48551.0,49524.0,51200.0,52518.0,53247.0,53893.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,001a1f289e3bab22,red,1,total_gold,2415,2415,2705,4062,5279,7322,8661,10372,11444,13260,14676,15723,18119,19663,21237,22809,24997,28072,30162,31469.0,32490.0,34362.0,36662.0,37981.0,39398.0,40331.0,41652.0,44239.0,45948.0,47134.0,49334.0,51052.0,52586.0,53374.0,55245.0,56618.0,62198.0,62846.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,001f50c8547e2e73,blue,1,total_gold,2415,2415,2705,3817,4956,6132,7499,8605,9942,11434,13028,15942,17653,19941,21320,23236,24835,26384,29350,32365.0,33752.0,35258.0,39070.0,40973.0,42591.0,45637.0,46672.0,48001.0,49458.0,51181.0,52245.0,54233.0,58476.0,61061.0,62324.0,65435.0,69584.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,001f50c8547e2e73,red,0,total_gold,2415,2415,2705,3728,5048,6306,7308,8536,9689,11072,12952,13978,15289,16639,18575,19558,22343,23318,24585,25342.0,26616.0,27778.0,29198.0,30997.0,32647.0,34549.0,35535.0,36591.0,38024.0,39272.0,40585.0,41883.0,42547.0,43836.0,45798.0,46951.0,47804.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,002f613ae09ad421,blue,1,total_gold,2500,2500,2785,4216,6193,7618,9674,11203,13004,14497,15653,17089,19084,20938,22437,24228,27072,28475,31466,34244.0,37178.0,39046.0,41074.0,42978.0,44964.0,48148.0,49707.0,51624.0,54594.0,56268.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.reset_index(inplace=True,drop=True)

In [15]:
# annotate match_id to differentiate the roles/games
df['match_id2'] = df['match_id']
df.loc[(df['red_or_blue_side'] == 'blue') & (df['type'] == 'total_gold'),'match_id2'] = df['match_id2'] + '_b'
df.loc[(df['red_or_blue_side'] == 'red') & (df['type'] == 'total_gold'),'match_id2'] = df['match_id2'] + '_r'

df.loc[(df['red_or_blue_side'] == 'blue') & (df['type'] == 'top_gold'),'match_id2'] = df['match_id2'] + '_b'
df.loc[(df['red_or_blue_side'] == 'blue') & (df['type'] == 'jungle_gold'),'match_id2'] = df['match_id2'] + '_b'
df.loc[(df['red_or_blue_side'] == 'blue') & (df['type'] == 'mid_gold'),'match_id2'] = df['match_id2'] + '_b'
df.loc[(df['red_or_blue_side'] == 'blue') & (df['type'] == 'adc_gold'),'match_id2'] = df['match_id2'] + '_b'
df.loc[(df['red_or_blue_side'] == 'blue') & (df['type'] == 'support_gold'),'match_id2'] = df['match_id2'] + '_b'

df.loc[(df['red_or_blue_side'] == 'red') & (df['type'] == 'top_gold'),'match_id2'] = df['match_id2'] + '_r'
df.loc[(df['red_or_blue_side'] == 'red') & (df['type'] == 'jungle_gold'),'match_id2'] = df['match_id2'] + '_r'
df.loc[(df['red_or_blue_side'] == 'red') & (df['type'] == 'mid_gold'),'match_id2'] = df['match_id2'] + '_r'
df.loc[(df['red_or_blue_side'] == 'red') & (df['type'] == 'adc_gold'),'match_id2'] = df['match_id2'] + '_r'
df.loc[(df['red_or_blue_side'] == 'red') & (df['type'] == 'support_gold'),'match_id2'] = df['match_id2'] + '_r'

In [16]:
m_id = df['match_id2']
df.drop(['match_id','match_id2'], axis=1, inplace=True)
df.insert(0, 'match_id', m_id)
df.head()

,match_id,red_or_blue_side,result,type,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80
0,001a1f289e3bab22_b,blue,0,total_gold,2415,2430,2751,3929,5219,6418,8156,9520,10681,12036,13678,15590,16782,18417,20052,21608,23396,24248,25691,27452.0,30446.0,31672.0,33665.0,36399.0,37571.0,38659.0,39757.0,41498.0,42861.0,44378.0,45719.0,47095.0,48551.0,49524.0,51200.0,52518.0,53247.0,53893.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,001a1f289e3bab22_r,red,1,total_gold,2415,2415,2705,4062,5279,7322,8661,10372,11444,13260,14676,15723,18119,19663,21237,22809,24997,28072,30162,31469.0,32490.0,34362.0,36662.0,37981.0,39398.0,40331.0,41652.0,44239.0,45948.0,47134.0,49334.0,51052.0,52586.0,53374.0,55245.0,56618.0,62198.0,62846.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,001f50c8547e2e73_b,blue,1,total_gold,2415,2415,2705,3817,4956,6132,7499,8605,9942,11434,13028,15942,17653,19941,21320,23236,24835,26384,29350,32365.0,33752.0,35258.0,39070.0,40973.0,42591.0,45637.0,46672.0,48001.0,49458.0,51181.0,52245.0,54233.0,58476.0,61061.0,62324.0,65435.0,69584.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,001f50c8547e2e73_r,red,0,total_gold,2415,2415,2705,3728,5048,6306,7308,8536,9689,11072,12952,13978,15289,16639,18575,19558,22343,23318,24585,25342.0,26616.0,27778.0,29198.0,30997.0,32647.0,34549.0,35535.0,36591.0,38024.0,39272.0,40585.0,41883.0,42547.0,43836.0,45798.0,46951.0,47804.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,002f613ae09ad421_b,blue,1,total_gold,2500,2500,2785,4216,6193,7618,9674,11203,13004,14497,15653,17089,19084,20938,22437,24228,27072,28475,31466,34244.0,37178.0,39046.0,41074.0,42978.0,44964.0,48148.0,49707.0,51624.0,54594.0,56268.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# separate the data into df's for each role and total
tdf = df.loc[(df['type'] == 'total_gold'),:].copy()
topdf = df.loc[(df['type'] == 'top_gold'),:].copy()
jdf = df.loc[(df['type'] == 'jungle_gold'),:].copy()
mdf = df.loc[(df['type'] == 'mid_gold'),:].copy()
adf = df.loc[(df['type'] == 'adc_gold'),:].copy()
sdf = df.loc[(df['type'] == 'support_gold'),:].copy()

# drop extraneous columns
tdf.drop(['type', 'red_or_blue_side','result'], axis=1,inplace=True)
topdf.drop(['type', 'red_or_blue_side','result'], axis=1,inplace=True)
jdf.drop(['type', 'red_or_blue_side','result'], axis=1,inplace=True)
mdf.drop(['type', 'red_or_blue_side','result'], axis=1,inplace=True)
adf.drop(['type', 'red_or_blue_side','result'], axis=1,inplace=True)
sdf.drop(['type', 'red_or_blue_side','result'], axis=1,inplace=True)

In [18]:
# reshape using melt 
# make sure the 'minute' column is cast as int
tdf2 = pd.melt(tdf, id_vars=['match_id'])
tdf2.variable = tdf2.variable.astype(int)

topdf2 = pd.melt(topdf, id_vars=['match_id'])
topdf2.variable = topdf2.variable.astype(int)

jdf2 = pd.melt(jdf, id_vars=['match_id'])
jdf2.variable = jdf2.variable.astype(int)

mdf2 = pd.melt(mdf, id_vars=['match_id'])
mdf2.variable = mdf2.variable.astype(int)

adf2 = pd.melt(adf, id_vars=['match_id'])
adf2.variable = adf2.variable.astype(int)

sdf2 = pd.melt(sdf, id_vars=['match_id'])
sdf2.variable = sdf2.variable.astype(int)

In [19]:
# sort after the merge
tdf1 = tdf2.sort_values(['match_id', 'variable'])
topdf1 = topdf2.sort_values(['match_id', 'variable'])
jdf1 = jdf2.sort_values(['match_id', 'variable'])
mdf1 = mdf2.sort_values(['match_id', 'variable'])
adf1 = adf2.sort_values(['match_id', 'variable'])
sdf1 = sdf2.sort_values(['match_id', 'variable'])

In [20]:
tdf1.reset_index(drop=True, inplace=True)
topdf1.reset_index(drop=True, inplace=True)
jdf1.reset_index(drop=True, inplace=True)
mdf1.reset_index(drop=True, inplace=True)
adf1.reset_index(drop=True, inplace=True)
sdf1.reset_index(drop=True, inplace=True)

In [21]:
# rename columns to make the final df readable
tdf1.rename(columns={'variable':'minute','value':'gold'},inplace=True)
topdf1.rename(columns={'variable':'minute','value':'top_gold'},inplace=True)
jdf1.rename(columns={'variable':'minute','value':'jgl_gold'},inplace=True)
mdf1.rename(columns={'variable':'minute','value':'mid_gold'},inplace=True)
adf1.rename(columns={'variable':'minute','value':'adc_gold'},inplace=True)
sdf1.rename(columns={'variable':'minute','value':'sup_gold'},inplace=True)
sdf1.head()

             match_id  minute  sup_gold
0  001a1f289e3bab22_b       0     515.0
1  001a1f289e3bab22_b       1     530.0
2  001a1f289e3bab22_b       2     603.0
3  001a1f289e3bab22_b       3     786.0
4  001a1f289e3bab22_b       4     938.0

In [22]:
print(len(sdf1))
print(len(adf1))
print(len(mdf1))
print(len(jdf1))
print(len(topdf1))
print(len(tdf1))
jdf1.tail(5)

612360
612360
612360
612360
612360
612360

                  match_id  minute  jgl_gold
612355  fff9913c8be5e3fd_r      76       NaN
612356  fff9913c8be5e3fd_r      77       NaN
612357  fff9913c8be5e3fd_r      78       NaN
612358  fff9913c8be5e3fd_r      79       NaN
612359  fff9913c8be5e3fd_r      80       NaN

In [23]:
# begin merging all the melted df's to one
tdf3 = pd.merge(tdf1, topdf1, left_on=['match_id','minute'],right_on=['match_id','minute'],how='inner')
tdf3.head()

             match_id  minute    gold  top_gold
0  001a1f289e3bab22_b       0  2415.0     475.0
1  001a1f289e3bab22_b       1  2430.0     475.0
2  001a1f289e3bab22_b       2  2751.0     532.0
3  001a1f289e3bab22_b       3  3929.0     849.0
4  001a1f289e3bab22_b       4  5219.0    1099.0

In [24]:
tdf3 = pd.merge(tdf3, jdf1, left_on=['match_id','minute'],right_on=['match_id','minute'],how='inner')
tdf3.head()

             match_id  minute    gold  top_gold  jgl_gold
0  001a1f289e3bab22_b       0  2415.0     475.0     475.0
1  001a1f289e3bab22_b       1  2430.0     475.0     475.0
2  001a1f289e3bab22_b       2  2751.0     532.0     552.0
3  001a1f289e3bab22_b       3  3929.0     849.0     817.0
4  001a1f289e3bab22_b       4  5219.0    1099.0    1099.0

In [25]:
tdf3 = pd.merge(tdf3, mdf1, left_on=['match_id','minute'],right_on=['match_id','minute'],how='inner')
tdf3.head()

             match_id  minute    gold  top_gold  jgl_gold  mid_gold
0  001a1f289e3bab22_b       0  2415.0     475.0     475.0     475.0
1  001a1f289e3bab22_b       1  2430.0     475.0     475.0     475.0
2  001a1f289e3bab22_b       2  2751.0     532.0     552.0     532.0
3  001a1f289e3bab22_b       3  3929.0     849.0     817.0     791.0
4  001a1f289e3bab22_b       4  5219.0    1099.0    1099.0    1107.0

In [26]:
tdf3 = pd.merge(tdf3, adf1, left_on=['match_id','minute'],right_on=['match_id','minute'],how='inner')
tdf3.head()

             match_id  minute    gold  top_gold  jgl_gold  mid_gold  adc_gold
0  001a1f289e3bab22_b       0  2415.0     475.0     475.0     475.0     475.0
1  001a1f289e3bab22_b       1  2430.0     475.0     475.0     475.0     475.0
2  001a1f289e3bab22_b       2  2751.0     532.0     552.0     532.0     532.0
3  001a1f289e3bab22_b       3  3929.0     849.0     817.0     791.0     686.0
4  001a1f289e3bab22_b       4  5219.0    1099.0    1099.0    1107.0     976.0

In [27]:
tdf3 = pd.merge(tdf3, sdf1, left_on=['match_id','minute'],right_on=['match_id','minute'],how='inner')
tdf3.head()

,match_id,minute,gold,top_gold,jgl_gold,mid_gold,adc_gold,sup_gold
0,001a1f289e3bab22_b,0,2415.0,475.0,475.0,475.0,475.0,515.0
1,001a1f289e3bab22_b,1,2430.0,475.0,475.0,475.0,475.0,530.0
2,001a1f289e3bab22_b,2,2751.0,532.0,552.0,532.0,532.0,603.0
3,001a1f289e3bab22_b,3,3929.0,849.0,817.0,791.0,686.0,786.0
4,001a1f289e3bab22_b,4,5219.0,1099.0,1099.0,1107.0,976.0,938.0

In [28]:
print(len(tdf3))
tdf3.isnull().any()

612360

match_id    False
minute      False
gold         True
top_gold     True
jgl_gold     True
mid_gold     True
adc_gold     True
sup_gold     True
dtype: bool

In [29]:
tdf3 = tdf3.fillna(0)

In [30]:
# the data includes empty rows (0's) for each minute up to 80, even if the game ended
# the following drop will remove the extra rows, but keep the valid 0's that occur early in a game
tdf3 = tdf3.drop(tdf3[(tdf3.minute > 10) & (tdf3.gold == 0) & (tdf3.top_gold == 0) & 
                      (tdf3.jgl_gold == 0) & (tdf3.mid_gold == 0) & (tdf3.adc_gold == 0)
                     & (tdf3.sup_gold == 0)].index)

In [31]:
tdf3.reset_index(drop=True,inplace=True)

In [32]:
tdf3.head()

,match_id,minute,gold,top_gold,jgl_gold,mid_gold,adc_gold,sup_gold
0,001a1f289e3bab22_b,0,2415.0,475.0,475.0,475.0,475.0,515.0
1,001a1f289e3bab22_b,1,2430.0,475.0,475.0,475.0,475.0,530.0
2,001a1f289e3bab22_b,2,2751.0,532.0,552.0,532.0,532.0,603.0
3,001a1f289e3bab22_b,3,3929.0,849.0,817.0,791.0,686.0,786.0
4,001a1f289e3bab22_b,4,5219.0,1099.0,1099.0,1107.0,976.0,938.0

## Kills and Deaths

In [33]:
dfd = pd.read_csv('deathValues.csv')
dfd['a'], dfd['match_id'] = dfd['MatchHistory'].str.split('=',1).str
dfd.drop(['MatchHistory', 'a'], axis=1, inplace=True)
dfd.head()

,TeamColor,Time,Victim,Killer,Assist_1,Assist_2,Assist_3,Assist_4,match_id
0,Blue,10.82,C9 Hai,TSM Bjergsen,NaN,NaN,NaN,NaN,fbb300951ad8327c
1,Blue,16.286,C9 LemonNation,TSM WildTurtle,TSM Santorin,TSM Bjergsen,TSM Lustboy,NaN,fbb300951ad8327c
2,Blue,18.733,C9 Hai,TSM Bjergsen,TSM Santorin,TSM WildTurtle,TSM Lustboy,NaN,fbb300951ad8327c
3,Blue,18.88,C9 Meteos,TSM Dyrus,TSM Santorin,TSM Bjergsen,TSM WildTurtle,TSM Lustboy,fbb300951ad8327c
4,Blue,27.005,C9 Balls,TSM Bjergsen,TSM Dyrus,TSM Santorin,TSM WildTurtle,TSM Lustboy,fbb300951ad8327c

In [34]:
dfd.loc[(dfd['TeamColor']=='Blue'),'match_id2'] = dfd['match_id'] + '_b'
dfd.loc[(dfd['TeamColor']=='Red'),'match_id2'] = dfd['match_id'] + '_r'
dfd.loc[dfd.match_id2 =='fbb300951ad8327c_b']

,TeamColor,Time,Victim,Killer,Assist_1,Assist_2,Assist_3,Assist_4,match_id,match_id2
0,Blue,10.82,C9 Hai,TSM Bjergsen,NaN,NaN,NaN,NaN,fbb300951ad8327c,fbb300951ad8327c_b
1,Blue,16.286,C9 LemonNation,TSM WildTurtle,TSM Santorin,TSM Bjergsen,TSM Lustboy,NaN,fbb300951ad8327c,fbb300951ad8327c_b
2,Blue,18.733,C9 Hai,TSM Bjergsen,TSM Santorin,TSM WildTurtle,TSM Lustboy,NaN,fbb300951ad8327c,fbb300951ad8327c_b
3,Blue,18.88,C9 Meteos,TSM Dyrus,TSM Santorin,TSM Bjergsen,TSM WildTurtle,TSM Lustboy,fbb300951ad8327c,fbb300951ad8327c_b
4,Blue,27.005,C9 Balls,TSM Bjergsen,TSM Dyrus,TSM Santorin,TSM WildTurtle,TSM Lustboy,fbb300951ad8327c,fbb300951ad8327c_b
5,Blue,27.029,C9 LemonNation,TSM Dyrus,TSM Bjergsen,TSM WildTurtle,TSM Lustboy,NaN,fbb300951ad8327c,fbb300951ad8327c_b
6,Blue,27.109,C9 Hai,TSM WildTurtle,TSM Dyrus,TSM Santorin,TSM Bjergsen,TSM Lustboy,fbb300951ad8327c,fbb300951ad8327c_b
7,Blue,28.989,C9 LemonNation,TSM Bjergsen,TSM Dyrus,TSM Santorin,TSM WildTurtle,TSM Lustboy,fbb300951ad8327c,fbb300951ad8327c_b
8,Blue,29.073,C9 Balls,TSM Bjergsen,TSM Dyrus,TSM Santorin,TSM WildTurtle,TSM Lustboy,fbb300951ad8327c,fbb300951ad8327c_b
9,Blue,30.104,C9 Balls,TSM WildTurtle,TSM Santorin,TSM Bjergsen,TSM Lustboy,NaN,fbb300951ad8327c,fbb300951ad8327c_b
10,Blue,32.801,C9 Hai,TSM Santorin,TSM Bjergsen,TSM WildTurtle,TSM Lustboy,NaN,fbb300951ad8327c,fbb300951ad8327c_b
11,Blue,32.85,C9 Balls,TSM Bjergsen,TSM Santorin,TSM WildTurtle,TSM Lustboy,NaN,fbb300951ad8327c,fbb300951ad8327c_b
12,Blue,33.017,C9 LemonNation,TSM Bjergsen,TSM Dyrus,TSM Santorin,TSM WildTurtle,TSM Lustboy,fbb300951ad8327c,fbb300951ad8327c_b
13,Blue,38.889,C9 Meteos,TSM Bjergsen,TSM Dyrus,TSM Santorin,TSM WildTurtle,TSM Lustboy,fbb300951ad8327c,fbb300951ad8327c_b
14,Blue,38.906,C9 LemonNation,TSM WildTurtle,TSM Dyrus,TSM Santorin,TSM Bjergsen,TSM Lustboy,fbb300951ad8327c,fbb300951ad8327c_b
15,Blue,38.964,C9 Sneaky,TSM WildTurtle,TSM Dyrus,TSM Santorin,TSM Bjergsen,TSM Lustboy,fbb300951ad8327c,fbb300951ad8327c_b

In [35]:
dfd['Time'] = pd.to_numeric(dfd['Time'], errors='coerce')
dfd['time'] = round(dfd['Time'])
dfd.head()

,TeamColor,Time,Victim,Killer,Assist_1,Assist_2,Assist_3,Assist_4,match_id,match_id2,time
0,Blue,10.820,C9 Hai,TSM Bjergsen,NaN,NaN,NaN,NaN,fbb300951ad8327c,fbb300951ad8327c_b,11.0
1,Blue,16.286,C9 LemonNation,TSM WildTurtle,TSM Santorin,TSM Bjergsen,TSM Lustboy,NaN,fbb300951ad8327c,fbb300951ad8327c_b,16.0
2,Blue,18.733,C9 Hai,TSM Bjergsen,TSM Santorin,TSM WildTurtle,TSM Lustboy,NaN,fbb300951ad8327c,fbb300951ad8327c_b,19.0
3,Blue,18.880,C9 Meteos,TSM Dyrus,TSM Santorin,TSM Bjergsen,TSM WildTurtle,TSM Lustboy,fbb300951ad8327c,fbb300951ad8327c_b,19.0
4,Blue,27.005,C9 Balls,TSM Bjergsen,TSM Dyrus,TSM Santorin,TSM WildTurtle,TSM Lustboy,fbb300951ad8327c,fbb300951ad8327c_b,27.0

In [36]:
dfdb = dfd.loc[dfd['TeamColor'] == 'Blue']
dfdr = dfd.loc[dfd['TeamColor'] == 'Red']

In [37]:
dfdbp = pd.pivot_table(dfdb,index=['match_id','match_id2', 'time'],values=['Victim','Killer','Assist_1',
                                                      'Assist_2','Assist_3', 'Assist_4'],aggfunc='count')

In [38]:
dfdbp.reset_index(inplace=True)
dfdbp.head()

,match_id,match_id2,time,Assist_1,Assist_2,Assist_3,Assist_4,Killer,Victim
0,001a1f289e3bab22,001a1f289e3bab22_b,5.0,1,0,0,0,2,2
1,001a1f289e3bab22,001a1f289e3bab22_b,10.0,1,1,0,0,1,1
2,001a1f289e3bab22,001a1f289e3bab22_b,12.0,1,1,1,0,1,1
3,001a1f289e3bab22,001a1f289e3bab22_b,22.0,2,2,2,1,2,2
4,001a1f289e3bab22,001a1f289e3bab22_b,26.0,1,1,1,0,1,1

In [39]:
dfdbp['assist_tot'] = dfdbp['Assist_1'] + dfdbp['Assist_2'] + dfdbp['Assist_3'] + dfdbp['Assist_4']
dfdbp.head()

,match_id,match_id2,time,Assist_1,Assist_2,Assist_3,Assist_4,Killer,Victim,assist_tot
0,001a1f289e3bab22,001a1f289e3bab22_b,5.0,1,0,0,0,2,2,1
1,001a1f289e3bab22,001a1f289e3bab22_b,10.0,1,1,0,0,1,1,2
2,001a1f289e3bab22,001a1f289e3bab22_b,12.0,1,1,1,0,1,1,3
3,001a1f289e3bab22,001a1f289e3bab22_b,22.0,2,2,2,1,2,2,7
4,001a1f289e3bab22,001a1f289e3bab22_b,26.0,1,1,1,0,1,1,3

In [40]:
dfdbp['victim_total'] = dfdbp.groupby(['match_id2'])['Victim'].cumsum()
dfdbp['kill_total'] = dfdbp.groupby(['match_id2'])['Killer'].cumsum()
dfdbp['assist_total'] = dfdbp.groupby(['match_id2'])['assist_tot'].cumsum()

dfdbp.drop(['Assist_1', 'Assist_2', 'Assist_3', 'Assist_4', 'Killer', 'Victim', 'assist_tot'],
          inplace=True, axis=1)

dfdbp.head()

,match_id,match_id2,time,victim_total,kill_total,assist_total
0,001a1f289e3bab22,001a1f289e3bab22_b,5.0,2,2,1
1,001a1f289e3bab22,001a1f289e3bab22_b,10.0,3,3,3
2,001a1f289e3bab22,001a1f289e3bab22_b,12.0,4,4,6
3,001a1f289e3bab22,001a1f289e3bab22_b,22.0,6,6,13
4,001a1f289e3bab22,001a1f289e3bab22_b,26.0,7,7,16

In [41]:
dfdrp = pd.pivot_table(dfdr,index=['match_id','match_id2', 'time'],values=['Victim','Killer','Assist_1',
                                                      'Assist_2','Assist_3', 'Assist_4'],aggfunc='count')
dfdrp.reset_index(inplace=True)

dfdrp['assist_tot'] = dfdrp['Assist_1'] + dfdrp['Assist_2'] + dfdrp['Assist_3'] + dfdrp['Assist_4']

dfdrp['victim_total'] = dfdrp.groupby(['match_id2'])['Victim'].cumsum()
dfdrp['kill_total'] = dfdrp.groupby(['match_id2'])['Killer'].cumsum()
dfdrp['assist_total'] = dfdrp.groupby(['match_id2'])['assist_tot'].cumsum()

dfdrp.drop(['Assist_1', 'Assist_2', 'Assist_3', 'Assist_4', 'Killer', 'Victim', 'assist_tot'],
          inplace=True, axis=1)
dfdrp.head()

,match_id,match_id2,time,victim_total,kill_total,assist_total
0,001a1f289e3bab22,001a1f289e3bab22_r,5.0,1,1,2
1,001a1f289e3bab22,001a1f289e3bab22_r,6.0,3,3,4
2,001a1f289e3bab22,001a1f289e3bab22_r,8.0,4,4,5
3,001a1f289e3bab22,001a1f289e3bab22_r,12.0,7,7,10
4,001a1f289e3bab22,001a1f289e3bab22_r,16.0,10,10,16

In [42]:
dfdbp.drop(['victim_total'],axis=1, inplace=True)
dfdbp.rename(columns={'kill_total':'kill_total_b','assist_total':'assist_total_b'},inplace=True)
dfdbp.head()

           match_id           match_id2  time  kill_total_b  assist_total_b
0  001a1f289e3bab22  001a1f289e3bab22_b   5.0             2               1
1  001a1f289e3bab22  001a1f289e3bab22_b  10.0             3               3
2  001a1f289e3bab22  001a1f289e3bab22_b  12.0             4               6
3  001a1f289e3bab22  001a1f289e3bab22_b  22.0             6              13
4  001a1f289e3bab22  001a1f289e3bab22_b  26.0             7              16

In [43]:
dfdrp.drop(['victim_total'],axis=1, inplace=True)
dfdrp.rename(columns={'kill_total':'kill_total_r','assist_total':'assist_total_r'},inplace=True)
dfdrp.head()

           match_id           match_id2  time  kill_total_r  assist_total_r
0  001a1f289e3bab22  001a1f289e3bab22_r   5.0             1               2
1  001a1f289e3bab22  001a1f289e3bab22_r   6.0             3               4
2  001a1f289e3bab22  001a1f289e3bab22_r   8.0             4               5
3  001a1f289e3bab22  001a1f289e3bab22_r  12.0             7              10
4  001a1f289e3bab22  001a1f289e3bab22_r  16.0            10              16

In [44]:
rdf = tdf3[tdf3['match_id'].str.contains('_r')].copy()
bdf = tdf3[tdf3['match_id'].str.contains('_b')].copy()

In [45]:
rdf.rename(columns={'match_id':'match_id2','minute':'time'},inplace=True)
bdf.rename(columns={'match_id':'match_id2','minute':'time'},inplace=True)

In [46]:
dfdrp1 = pd.merge(rdf,dfdrp, left_on=['match_id2', 'time'],right_on=['match_id2','time'],how='outer')
dfdbp1 = pd.merge(bdf,dfdbp, left_on=['match_id2', 'time'],right_on=['match_id2','time'],how='outer')

In [47]:
print(len(dfdrp1))
dfdrp1.isnull().any()

143444

match_id2         False
time              False
gold               True
top_gold           True
jgl_gold           True
mid_gold           True
adc_gold           True
sup_gold           True
match_id           True
kill_total_r       True
assist_total_r     True
dtype: bool

In [48]:
dfdrp1.head(10)

,match_id2,time,gold,top_gold,jgl_gold,mid_gold,adc_gold,sup_gold,match_id,kill_total_r,assist_total_r
0,001a1f289e3bab22_r,0.0,2415.0,475.0,475.0,475.0,475.0,515.0,NaN,NaN,NaN
1,001a1f289e3bab22_r,1.0,2415.0,475.0,475.0,475.0,475.0,515.0,NaN,NaN,NaN
2,001a1f289e3bab22_r,2.0,2705.0,532.0,532.0,532.0,532.0,577.0,NaN,NaN,NaN
3,001a1f289e3bab22_r,3.0,4062.0,756.0,909.0,826.0,836.0,735.0,NaN,NaN,NaN
4,001a1f289e3bab22_r,4.0,5279.0,1051.0,1143.0,1045.0,1131.0,909.0,NaN,NaN,NaN
5,001a1f289e3bab22_r,5.0,7322.0,1241.0,1615.0,1397.0,1593.0,1476.0,001a1f289e3bab22,1.0,2.0
6,001a1f289e3bab22_r,6.0,8661.0,1793.0,1829.0,1690.0,1748.0,1601.0,001a1f289e3bab22,3.0,4.0
7,001a1f289e3bab22_r,7.0,10372.0,2081.0,2108.0,2310.0,2041.0,1832.0,NaN,NaN,NaN
8,001a1f289e3bab22_r,8.0,11444.0,2272.0,2310.0,2600.0,2264.0,1998.0,001a1f289e3bab22,4.0,5.0
9,001a1f289e3bab22_r,9.0,13260.0,2496.0,2650.0,2955.0,2865.0,2294.0,NaN,NaN,NaN

In [49]:
dfdbp2 = dfdbp1.groupby(['match_id2'],as_index=False).apply(lambda group: group.ffill())
dfdbp2.head()

,match_id2,time,gold,top_gold,jgl_gold,mid_gold,adc_gold,sup_gold,match_id,kill_total_b,assist_total_b
0,001a1f289e3bab22_b,0.0,2415.0,475.0,475.0,475.0,475.0,515.0,NaN,NaN,NaN
1,001a1f289e3bab22_b,1.0,2430.0,475.0,475.0,475.0,475.0,530.0,NaN,NaN,NaN
2,001a1f289e3bab22_b,2.0,2751.0,532.0,552.0,532.0,532.0,603.0,NaN,NaN,NaN
3,001a1f289e3bab22_b,3.0,3929.0,849.0,817.0,791.0,686.0,786.0,NaN,NaN,NaN
4,001a1f289e3bab22_b,4.0,5219.0,1099.0,1099.0,1107.0,976.0,938.0,NaN,NaN,NaN

In [50]:
dfdbp2.sort_values(['match_id2', 'time'],inplace=True)
dfdbp2['match_id'] = dfdbp2['match_id'].fillna(method='bfill')
dfdbp2['kill_total_b'] = dfdbp2['kill_total_b'].fillna(0)
dfdbp2['assist_total_b'] = dfdbp2['assist_total_b'].fillna(0)
dfdbp2.head()

,match_id2,time,gold,top_gold,jgl_gold,mid_gold,adc_gold,sup_gold,match_id,kill_total_b,assist_total_b
0,001a1f289e3bab22_b,0.0,2415.0,475.0,475.0,475.0,475.0,515.0,001a1f289e3bab22,0.0,0.0
1,001a1f289e3bab22_b,1.0,2430.0,475.0,475.0,475.0,475.0,530.0,001a1f289e3bab22,0.0,0.0
2,001a1f289e3bab22_b,2.0,2751.0,532.0,552.0,532.0,532.0,603.0,001a1f289e3bab22,0.0,0.0
3,001a1f289e3bab22_b,3.0,3929.0,849.0,817.0,791.0,686.0,786.0,001a1f289e3bab22,0.0,0.0
4,001a1f289e3bab22_b,4.0,5219.0,1099.0,1099.0,1107.0,976.0,938.0,001a1f289e3bab22,0.0,0.0

In [51]:
dfdrp2 = dfdrp1.groupby(['match_id2'],as_index=False).apply(lambda group: group.ffill())
dfdrp2.head()

,match_id2,time,gold,top_gold,jgl_gold,mid_gold,adc_gold,sup_gold,match_id,kill_total_r,assist_total_r
0,001a1f289e3bab22_r,0.0,2415.0,475.0,475.0,475.0,475.0,515.0,NaN,NaN,NaN
1,001a1f289e3bab22_r,1.0,2415.0,475.0,475.0,475.0,475.0,515.0,NaN,NaN,NaN
2,001a1f289e3bab22_r,2.0,2705.0,532.0,532.0,532.0,532.0,577.0,NaN,NaN,NaN
3,001a1f289e3bab22_r,3.0,4062.0,756.0,909.0,826.0,836.0,735.0,NaN,NaN,NaN
4,001a1f289e3bab22_r,4.0,5279.0,1051.0,1143.0,1045.0,1131.0,909.0,NaN,NaN,NaN

In [52]:
dfdrp2.sort_values(['match_id2', 'time'],inplace=True)
dfdrp2['match_id'] = dfdrp2['match_id'].fillna(method='bfill')
dfdrp2['kill_total_r'] = dfdrp2['kill_total_r'].fillna(0)
dfdrp2['assist_total_r'] = dfdrp2['assist_total_r'].fillna(0)
dfdrp2.head(10)

,match_id2,time,gold,top_gold,jgl_gold,mid_gold,adc_gold,sup_gold,match_id,kill_total_r,assist_total_r
0,001a1f289e3bab22_r,0.0,2415.0,475.0,475.0,475.0,475.0,515.0,001a1f289e3bab22,0.0,0.0
1,001a1f289e3bab22_r,1.0,2415.0,475.0,475.0,475.0,475.0,515.0,001a1f289e3bab22,0.0,0.0
2,001a1f289e3bab22_r,2.0,2705.0,532.0,532.0,532.0,532.0,577.0,001a1f289e3bab22,0.0,0.0
3,001a1f289e3bab22_r,3.0,4062.0,756.0,909.0,826.0,836.0,735.0,001a1f289e3bab22,0.0,0.0
4,001a1f289e3bab22_r,4.0,5279.0,1051.0,1143.0,1045.0,1131.0,909.0,001a1f289e3bab22,0.0,0.0
5,001a1f289e3bab22_r,5.0,7322.0,1241.0,1615.0,1397.0,1593.0,1476.0,001a1f289e3bab22,1.0,2.0
6,001a1f289e3bab22_r,6.0,8661.0,1793.0,1829.0,1690.0,1748.0,1601.0,001a1f289e3bab22,3.0,4.0
7,001a1f289e3bab22_r,7.0,10372.0,2081.0,2108.0,2310.0,2041.0,1832.0,001a1f289e3bab22,3.0,4.0
8,001a1f289e3bab22_r,8.0,11444.0,2272.0,2310.0,2600.0,2264.0,1998.0,001a1f289e3bab22,4.0,5.0
9,001a1f289e3bab22_r,9.0,13260.0,2496.0,2650.0,2955.0,2865.0,2294.0,001a1f289e3bab22,4.0,5.0

In [53]:
rtdf = dfdrp2[['time','match_id','kill_total_r','assist_total_r']].copy()
btdf = dfdbp2[['time','match_id','kill_total_b','assist_total_b']].copy()

In [54]:
dfr2 = dfdrp2.copy()
dfb2 = dfdbp2.copy()

In [55]:
dfb2.head()

,match_id2,time,gold,top_gold,jgl_gold,mid_gold,adc_gold,sup_gold,match_id,kill_total_b,assist_total_b
0,001a1f289e3bab22_b,0.0,2415.0,475.0,475.0,475.0,475.0,515.0,001a1f289e3bab22,0.0,0.0
1,001a1f289e3bab22_b,1.0,2430.0,475.0,475.0,475.0,475.0,530.0,001a1f289e3bab22,0.0,0.0
2,001a1f289e3bab22_b,2.0,2751.0,532.0,552.0,532.0,532.0,603.0,001a1f289e3bab22,0.0,0.0
3,001a1f289e3bab22_b,3.0,3929.0,849.0,817.0,791.0,686.0,786.0,001a1f289e3bab22,0.0,0.0
4,001a1f289e3bab22_b,4.0,5219.0,1099.0,1099.0,1107.0,976.0,938.0,001a1f289e3bab22,0.0,0.0

In [56]:
dfb2 = pd.merge(dfb2,rtdf,left_on=['time','match_id'],right_on=['time','match_id'])

In [61]:
dfr2 = pd.merge(dfr2,btdf,left_on=['time','match_id'],right_on=['time','match_id'])

In [63]:
dfr2.rename(columns={'kill_total_r':'kill_total', 'assist_total_r':'assist_total',
                    'kill_total_b':'opp_kill_total','assist_total_b':'opp_assist_total'},inplace=True)
dfr2.head()

,match_id2,time,gold,top_gold,jgl_gold,mid_gold,adc_gold,sup_gold,match_id,kill_total,assist_total,opp_kill_total,opp_assist_total
0,001a1f289e3bab22_r,0.0,2415.0,475.0,475.0,475.0,475.0,515.0,001a1f289e3bab22,0.0,0.0,0.0,0.0
1,001a1f289e3bab22_r,1.0,2415.0,475.0,475.0,475.0,475.0,515.0,001a1f289e3bab22,0.0,0.0,0.0,0.0
2,001a1f289e3bab22_r,2.0,2705.0,532.0,532.0,532.0,532.0,577.0,001a1f289e3bab22,0.0,0.0,0.0,0.0
3,001a1f289e3bab22_r,3.0,4062.0,756.0,909.0,826.0,836.0,735.0,001a1f289e3bab22,0.0,0.0,0.0,0.0
4,001a1f289e3bab22_r,4.0,5279.0,1051.0,1143.0,1045.0,1131.0,909.0,001a1f289e3bab22,0.0,0.0,0.0,0.0

In [64]:
dfb2.rename(columns={'kill_total_b':'kill_total','assist_total_b':'assist_total',
                    'kill_total_r':'opp_kill_total','assist_total_r':'opp_assist_total'},inplace=True)
dfb2.head()

,match_id2,time,gold,top_gold,jgl_gold,mid_gold,adc_gold,sup_gold,match_id,kill_total,assist_total,opp_kill_total,opp_assist_total
0,001a1f289e3bab22_b,0.0,2415.0,475.0,475.0,475.0,475.0,515.0,001a1f289e3bab22,0.0,0.0,0.0,0.0
1,001a1f289e3bab22_b,1.0,2430.0,475.0,475.0,475.0,475.0,530.0,001a1f289e3bab22,0.0,0.0,0.0,0.0
2,001a1f289e3bab22_b,2.0,2751.0,532.0,552.0,532.0,532.0,603.0,001a1f289e3bab22,0.0,0.0,0.0,0.0
3,001a1f289e3bab22_b,3.0,3929.0,849.0,817.0,791.0,686.0,786.0,001a1f289e3bab22,0.0,0.0,0.0,0.0
4,001a1f289e3bab22_b,4.0,5219.0,1099.0,1099.0,1107.0,976.0,938.0,001a1f289e3bab22,0.0,0.0,0.0,0.0

In [65]:
print(len(dfb2))
print(len(dfr2))

143454
143454

In [66]:
tdf = pd.concat([dfb2,dfr2],ignore_index=True)
print(len(tdf))
tdf.head(10)

286908

,match_id2,time,gold,top_gold,jgl_gold,mid_gold,adc_gold,sup_gold,match_id,kill_total,assist_total,opp_kill_total,opp_assist_total
0,001a1f289e3bab22_b,0.0,2415.0,475.0,475.0,475.0,475.0,515.0,001a1f289e3bab22,0.0,0.0,0.0,0.0
1,001a1f289e3bab22_b,1.0,2430.0,475.0,475.0,475.0,475.0,530.0,001a1f289e3bab22,0.0,0.0,0.0,0.0
2,001a1f289e3bab22_b,2.0,2751.0,532.0,552.0,532.0,532.0,603.0,001a1f289e3bab22,0.0,0.0,0.0,0.0
3,001a1f289e3bab22_b,3.0,3929.0,849.0,817.0,791.0,686.0,786.0,001a1f289e3bab22,0.0,0.0,0.0,0.0
4,001a1f289e3bab22_b,4.0,5219.0,1099.0,1099.0,1107.0,976.0,938.0,001a1f289e3bab22,0.0,0.0,0.0,0.0
5,001a1f289e3bab22_b,5.0,6418.0,1466.0,1278.0,1352.0,1196.0,1126.0,001a1f289e3bab22,2.0,1.0,1.0,2.0
6,001a1f289e3bab22_b,6.0,8156.0,1667.0,1708.0,1574.0,1687.0,1520.0,001a1f289e3bab22,2.0,1.0,3.0,4.0
7,001a1f289e3bab22_b,7.0,9520.0,1970.0,2097.0,1708.0,1995.0,1750.0,001a1f289e3bab22,2.0,1.0,3.0,4.0
8,001a1f289e3bab22_b,8.0,10681.0,2147.0,2414.0,1988.0,2244.0,1888.0,001a1f289e3bab22,2.0,1.0,4.0,5.0
9,001a1f289e3bab22_b,9.0,12036.0,2605.0,2533.0,2321.0,2535.0,2042.0,001a1f289e3bab22,2.0,1.0,4.0,5.0

In [70]:
tdf.sort_values(['match_id2','time'],inplace=True)
tdf.reset_index(drop=True,inplace=True)

tdf.to_csv('tdf.csv')

In [57]:
np.ones((3,2,3))

array([[[ 1.,  1.,  1.],
        [ 1.,  1.,  1.]],

       [[ 1.,  1.,  1.],
        [ 1.,  1.,  1.]],

       [[ 1.,  1.,  1.],
        [ 1.,  1.,  1.]]])

In [58]:
np.ones((6,2,3))

array([[[ 1.,  1.,  1.],
        [ 1.,  1.,  1.]],

       [[ 1.,  1.,  1.],
        [ 1.,  1.,  1.]],

       [[ 1.,  1.,  1.],
        [ 1.,  1.,  1.]],

       [[ 1.,  1.,  1.],
        [ 1.,  1.,  1.]],

       [[ 1.,  1.,  1.],
        [ 1.,  1.,  1.]],

       [[ 1.,  1.,  1.],
        [ 1.,  1.,  1.]]])