# League of Legends Professional Games from 2015 to 2017
# Final Data Configuration and Descriptions
# Michael Phillips

>This notebook will give some background on League of Legends (LoL), describe why certain choices were made during data wrangling, and show the final table configurations that will be used for the remainder of this project.

In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)
%matplotlib inline

In [29]:
kill_df = pd.read_csv('deathValues1.csv', index_col=0)
obj_df = pd.read_csv('objValues1.csv', index_col=0)
gen_df = pd.read_csv('merged_df.csv', index_col=0)
gold_df = pd.read_csv('gold_diff_merged.csv', index_col=0)

## General Game Information

In [19]:
gen_df.head()

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length,top_player,top_champ,jungle_player,jungle_champ,mid_player,mid_champ,adc_player,adc_champ,support_player,support_champ,ban_1,ban_2,ban_3,ban_4,ban_5
0,001a1f289e3bab22,LCK,Summer_Season,2015,ANC,blue,0,38,ikssu,Hecarim,lira,Gragas,Mickey,Vladimir,Sangyoon,Sivir,SnowFlower,Morgana,'Azir','Shyvana','Jayce',NaN,NaN
1,001a1f289e3bab22,LCK,Summer_Season,2015,CJE,red,1,38,Shy,Rumble,Ambition,Sejuani,Coco,Cassiopeia,Space,Jinx,Thresh,MadLife,'Zed','Gnar','Kalista',NaN,NaN
2,001f50c8547e2e73,Season_World_Championship,International,2014,EDG,blue,1,37,Koro1,Maokai,Clearlove,Rengar,U,Zed,NaMei,Twitch,Fzzf,Thresh,'Fizz','LeeSin','TwistedFate',NaN,NaN
3,001f50c8547e2e73,Season_World_Championship,International,2014,AHQ,red,0,37,Prydz,Nidalee,NAZ,Khazix,westdoor,Talon,GarnetDevil,Lucian,Blitzcrank,GreenTea,'Ryze','Zilean','Alistar',NaN,NaN
4,002f613ae09ad421,LMS,Spring_Season,2016,TPA,blue,1,30,Morning,Trundle,REFRA1N,RekSai,FoFo,Lissandra,BeBe,Lucian,Jay,Alistar,'Corki','Gangplank','TahmKench',NaN,NaN

>This dataframe contains two rows per game - one for the team on the blue side and one for the team on the red side. Also listed here are team names, player names, champions, and bans.

In [23]:
from IPython.display import Image 
Image(url= "bluered.png")

>The map above shows the full game area.  The 'river' in the middle is considered neutral ground and divides the map between 'red' side and 'blue' side.

>Both teams send their players down one of three lanes. Two players in the bot lane, one player mid, one player top, and one that roams the jungle. 

>There is only one way to win a match and that is to destroy the enemy team's Nexus found deep within their base.

>If you would like to learn more, check out this 5 minute LoL tutorial:
>https://www.youtube.com/watch?v=0KNYgMcOujM

### Gold Values for Teams and Players

In [16]:
gold_df.head()

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length,type,player_name,champion,min_0,min_1,min_2,min_3,min_4,min_5,min_6,min_7,min_8,min_9,min_10,min_11,min_12,min_13,min_14,min_15,min_16,min_17,min_18,min_19,min_20,min_21,min_22,min_23,min_24,min_25,min_26,min_27,min_28,min_29,min_30,min_31,min_32,min_33,min_34,min_35,min_36,min_37,min_38,min_39,min_40,min_41,min_42,min_43,min_44,min_45,min_46,min_47,min_48,min_49,min_50,min_51,min_52,min_53,min_54,min_55,min_56,min_57,min_58,min_59,min_60,min_61,min_62,min_63,min_64,min_65,min_66,min_67,min_68,min_69,min_70,min_71,min_72,min_73,min_74,min_75,min_76,min_77,min_78,min_79,min_80
0,001a1f289e3bab22,LCK,Summer_Season,2015,ANC,blue,0,38,total_gold,NaN,NaN,0.0,15.0,46.0,-133.0,-60.0,-904.0,-505.0,-852.0,-763.0,-1224.0,-998.0,-133.0,-1337.0,-1246.0,-1185.0,-1201.0,-1601.0,-3824.0,-4471.0,-4017.0,-2044.0,-2690.0,-2997.0,-1582.0,-1827.0,-1672.0,-1895.0,-2741.0,-3087.0,-2756.0,-3615.0,-3957.0,-4035.0,-3850.0,-4045.0,-4100.0,-8951.0,-8953.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,001a1f289e3bab22,LCK,Summer_Season,2015,CJE,red,1,38,total_gold,NaN,NaN,0.0,-15.0,-46.0,133.0,60.0,904.0,505.0,852.0,763.0,1224.0,998.0,133.0,1337.0,1246.0,1185.0,1201.0,1601.0,3824.0,4471.0,4017.0,2044.0,2690.0,2997.0,1582.0,1827.0,1672.0,1895.0,2741.0,3087.0,2756.0,3615.0,3957.0,4035.0,3850.0,4045.0,4100.0,8951.0,8953.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,001f50c8547e2e73,Season_World_Championship,International,2014,EDG,blue,1,37,total_gold,NaN,NaN,0.0,0.0,0.0,89.0,-92.0,-174.0,191.0,69.0,253.0,362.0,76.0,1964.0,2364.0,3302.0,2745.0,3678.0,2492.0,3066.0,4765.0,7023.0,7136.0,7480.0,9872.0,9976.0,9944.0,11088.0,11137.0,11410.0,11434.0,11909.0,11660.0,12350.0,15929.0,17225.0,16526.0,18484.0,21780.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,001f50c8547e2e73,Season_World_Championship,International,2014,AHQ,red,0,37,total_gold,NaN,NaN,0.0,0.0,0.0,-89.0,92.0,174.0,-191.0,-69.0,-253.0,-362.0,-76.0,-1964.0,-2364.0,-3302.0,-2745.0,-3678.0,-2492.0,-3066.0,-4765.0,-7023.0,-7136.0,-7480.0,-9872.0,-9976.0,-9944.0,-11088.0,-11137.0,-11410.0,-11434.0,-11909.0,-11660.0,-12350.0,-15929.0,-17225.0,-16526.0,-18484.0,-21780.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,002f613ae09ad421,LMS,Spring_Season,2016,TPA,blue,1,30,total_gold,NaN,NaN,0.0,0.0,17.0,-106.0,-136.0,400.0,363.0,829.0,1532.0,1862.0,1473.0,1514.0,2290.0,2793.0,2975.0,3497.0,5391.0,5188.0,6938.0,8541.0,9835.0,10428.0,11160.0,11492.0,12184.0,14247.0,14372.0,14594.0,16182.0,16344.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
gold_df.shape

(45624, 92)

In [28]:
gold_df.type.value_counts()

top_gold        7604
mid_gold        7604
jungle_gold     7604
total_gold      7604
adc_gold        7604
support_gold    7604
Name: type, dtype: int64

> This df contains one of the most important metrics of a LoL game - gold values. Gold is generated passively by each player and is granted for killing the other team's players and 'last-hitting' creeps. 

> Gold is used to buy items that increase your champion's power level. A team or player with more gold will be able to buy better items. 

> The value counts output above shows the different gold measurements in this dataframe. There is a segment of the dataframe dedicated to the different players in a game as well as the team totals. 

>One last important note on this data is that it holds gold differences. Gold totals will not be standard over the entire span of the game's continuing development. The difference in gold between teams or players gives some idea of power levels at various points in a game.

## Kill Records for Each Game

In [30]:
kill_df.head()

,Match_ID,TeamColor,Time,Victim,Killer,Assist_1,Assist_2,Assist_3,Assist_4
0,fbb300951ad8327c,Blue,10.82,C9 Hai,TSM Bjergsen,NaN,NaN,NaN,NaN
1,fbb300951ad8327c,Blue,16.286,C9 LemonNation,TSM WildTurtle,TSM Santorin,TSM Bjergsen,TSM Lustboy,NaN
2,fbb300951ad8327c,Blue,18.733,C9 Hai,TSM Bjergsen,TSM Santorin,TSM WildTurtle,TSM Lustboy,NaN
3,fbb300951ad8327c,Blue,18.88,C9 Meteos,TSM Dyrus,TSM Santorin,TSM Bjergsen,TSM WildTurtle,TSM Lustboy
4,fbb300951ad8327c,Blue,27.005,C9 Balls,TSM Bjergsen,TSM Dyrus,TSM Santorin,TSM WildTurtle,TSM Lustboy

> This dataframe contains full kill records for every game. Killing an enemy player awards gold to each player involved in the battle. The 'killer' gets a bigger share, while people listed as receiving 'assists' get a smaller portion

## Objective Records for Each Game

In [18]:
obj_df.head()

,Match_ID,ObjType,num_1,num_2,num_3,num_4,num_5,num_6,num_7,num_8,num_9,num_10,num_11,num_12,num_13,num_14,num_15,num_16
0,fbb300951ad8327c,bTowers,23.038,15.217,15.014,33.583,39.269,39.376,16.556,17.856,27.542,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,055b17da8456fdc8,bTowers,33.018,34.766,23.239,20.058,15.306,25.564,28.989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8e8a9b58df366e2d,bTowers,18.294,36.946,32.833,25.481,29.505,38.445,39.420,25.120,30.158,39.566,37.109,17.34,35.463,15.045,33.135,NaN
3,0ed1cd0e0e57329c,bTowers,22.879,18.541,19.941,38.770,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,f932becf86175f38,bTowers,33.925,26.963,22.594,34.515,34.213,14.976,33.717,18.487,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
obj_df.ObjType.value_counts()

rHeralds    3803
bHeralds    3803
rInhibs     3803
rTowers     3803
bDragons    3803
bTowers     3803
rDragons    3803
bInhibs     3803
bBarons     3803
rBarons     3803
Name: ObjType, dtype: int64

>The last metric to be examined is objectives. These award gold to the team and can give other powerful buffs or rewards to the entire team. 

>I'll briefly describe each objective. Note that the dataframe separates the records into blue and red team.

>- Towers: Buildings that guard the path to the enemies base. Destroying one rewards gold.
>- Heralds: A neutral monster that currently provides a way to siege down turrets.
>- Dragons: A neutral monster that provides the killing team with stacking buffs.
>- Baron: A neutral monster that is difficult to kill, but provides a very powerful buff to the entire team.
>- Inhibitor: One of the last line of defenses in each base.