# Capstone Project 2 - League of Legends Dataset Wrangling
# Michael Phillips

First, let's take a look at what the various csv files contain.

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)
%matplotlib inline

In [9]:
df = pd.read_csv('Columns.csv')
print(df.shape)
df.head()

(56, 2)

     ColumnName                                  ColumnDescription
0  MatchHistory        website address the data is scraped from \n
1        League    League or Tournament the match took place in \n
2        Season   Season - Spring, Summer, Winter, or Tournamen...
3          Year                    Year the match took place in \n
4   blueTeamTag   Blue Team's tag name (ex. Team SoloMid is TSM...

In [3]:
df1 = pd.read_csv('banValues.csv')
print(df1.shape)
df1.head()

(7606, 7)

,MatchHistory,TeamColor,ban_1,ban_2,ban_3,ban_4,ban_5
0,http://matchhistory.na.leagueoflegends.com/en/...,Blue,Rumble,Kassadin,Lissandra,NaN,NaN
1,http://matchhistory.na.leagueoflegends.com/en/...,Blue,Kassadin,Sivir,Lissandra,NaN,NaN
2,http://matchhistory.na.leagueoflegends.com/en/...,Blue,JarvanIV,Lissandra,Kassadin,NaN,NaN
3,http://matchhistory.na.leagueoflegends.com/en/...,Blue,Annie,Lissandra,Kassadin,NaN,NaN
4,http://matchhistory.na.leagueoflegends.com/en/...,Blue,Irelia,Pantheon,Kassadin,NaN,NaN

In [22]:
df2 = pd.read_csv('deathValues.csv')
print(df2.shape)
df2.head()

(94408, 9)

,MatchHistory,TeamColor,Time,Victim,Killer,Assist_1,Assist_2,Assist_3,Assist_4
0,http://matchhistory.na.leagueoflegends.com/en/...,Blue,10.82,C9 Hai,TSM Bjergsen,NaN,NaN,NaN,NaN
1,http://matchhistory.na.leagueoflegends.com/en/...,Blue,16.286,C9 LemonNation,TSM WildTurtle,TSM Santorin,TSM Bjergsen,TSM Lustboy,NaN
2,http://matchhistory.na.leagueoflegends.com/en/...,Blue,18.733,C9 Hai,TSM Bjergsen,TSM Santorin,TSM WildTurtle,TSM Lustboy,NaN
3,http://matchhistory.na.leagueoflegends.com/en/...,Blue,18.88,C9 Meteos,TSM Dyrus,TSM Santorin,TSM Bjergsen,TSM WildTurtle,TSM Lustboy
4,http://matchhistory.na.leagueoflegends.com/en/...,Blue,27.005,C9 Balls,TSM Bjergsen,TSM Dyrus,TSM Santorin,TSM WildTurtle,TSM Lustboy

In [5]:
df3 = pd.read_csv('goldValues.csv')
print(df3.shape)
df3.head()

(49439, 83)

,MatchHistory,NameType,min_1,min_2,min_3,min_4,min_5,min_6,min_7,min_8,...,min_72,min_73,min_74,min_75,min_76,min_77,min_78,min_79,min_80,min_81
0,http://matchhistory.na.leagueoflegends.com/en/...,golddiff,0,0.0,-14.0,-65.0,-268.0,-431.0,-488.0,-789.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,http://matchhistory.na.leagueoflegends.com/en/...,golddiff,0,0.0,-26.0,-18.0,147.0,237.0,-152.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,http://matchhistory.na.leagueoflegends.com/en/...,golddiff,0,0.0,10.0,-60.0,34.0,37.0,589.0,1064.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,http://matchhistory.na.leagueoflegends.com/en/...,golddiff,0,0.0,-15.0,25.0,228.0,-6.0,-243.0,175.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,http://matchhistory.na.leagueoflegends.com/en/...,golddiff,40,40.0,44.0,-36.0,113.0,158.0,-121.0,-191.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df4 = pd.read_csv('LeagueofLegends.csv')
print(df4.shape)
df4.head()

(3802, 56)

,MatchHistory,League,Season,Year,blueTeamTag,bResult,rResult,redTeamTag,gamelength,golddiff,...,redMiddle,redMiddleChamp,goldredMiddle,redADC,redADCChamp,goldredADC,redSupportChamp,redSupport,goldredSupport,redBans
0,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,TSM,1,0,C9,40,"[0, 0, -14, -65, -268, -431, -488, -789, -494,...",...,Hai,Fizz,"[475, 475, 552, 842, 1178, 1378, 1635, 1949, 2...",Sneaky,Sivir,"[475, 475, 532, 762, 1097, 1469, 1726, 2112, 2...",Thresh,LemonNation,"[515, 515, 577, 722, 911, 1042, 1194, 1370, 14...","['Tristana', 'Leblanc', 'Nidalee']"
1,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,CST,0,1,DIG,38,"[0, 0, -26, -18, 147, 237, -152, 18, 88, -242,...",...,Shiphtur,Azir,"[475, 475, 552, 786, 1097, 1389, 1660, 1955, 2...",CoreJJ,Corki,"[475, 475, 532, 868, 1220, 1445, 1732, 1979, 2...",Annie,KiWiKiD,"[515, 515, 583, 752, 900, 1066, 1236, 1417, 15...","['RekSai', 'Janna', 'Leblanc']"
2,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,WFX,1,0,GV,40,"[0, 0, 10, -60, 34, 37, 589, 1064, 1258, 913, ...",...,Keane,Azir,"[475, 475, 533, 801, 1006, 1233, 1385, 1720, 1...",Cop,Corki,"[475, 475, 533, 781, 1085, 1398, 1782, 1957, 2...",Janna,BunnyFuFuu,"[515, 515, 584, 721, 858, 1002, 1168, 1303, 14...","['Leblanc', 'Zed', 'RekSai']"
3,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,TIP,0,1,TL,41,"[0, 0, -15, 25, 228, -6, -243, 175, -346, 16, ...",...,Fenix,Lulu,"[475, 475, 532, 771, 1046, 1288, 1534, 1776, 2...",KEITH,KogMaw,"[475, 475, 532, 766, 1161, 1438, 1776, 1936, 2...",Janna,Xpecial,"[515, 515, 583, 721, 870, 1059, 1205, 1342, 15...","['RekSai', 'Rumble', 'LeeSin']"
4,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,CLG,1,0,T8,35,"[40, 40, 44, -36, 113, 158, -121, -191, 23, 20...",...,Slooshi8,Lulu,"[475, 475, 532, 807, 1042, 1338, 1646, 1951, 2...",Maplestreet8,Corki,"[475, 475, 532, 792, 1187, 1488, 1832, 2136, 2...",Annie,Dodo8,"[475, 475, 538, 671, 817, 948, 1104, 1240, 136...","['Rumble', 'Sivir', 'Rengar']"

In [7]:
df5 = pd.read_csv('LeagueofLegends2.csv')
print(df5.shape)
df5.head()

(3803, 29)

,MatchHistory,League,Season,Year,blueTeamTag,bResult,rResult,redTeamTag,gamelength,blueTop,...,redTop,redTopChamp,redJungle,redJungleChamp,redMiddle,redMiddleChamp,redADC,redADCChamp,redSupportChamp,redSupport
0,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,TSM,1,0,C9,40,Dyrus,...,Balls,Gnar,Meteos,Elise,Hai,Fizz,Sneaky,Sivir,Thresh,LemonNation
1,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,CST,0,1,DIG,38,Cris,...,Gamsu,Irelia,Crumbzz,JarvanIV,Shiphtur,Azir,CoreJJ,Corki,Annie,KiWiKiD
2,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,WFX,1,0,GV,40,Flaresz,...,Hauntzer,Sion,Saintvicious,LeeSin,Keane,Azir,Cop,Corki,Janna,BunnyFuFuu
3,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,TIP,0,1,TL,41,Rhux,...,Quas,Gnar,IWDominate,Nunu,Fenix,Lulu,KEITH,KogMaw,Janna,Xpecial
4,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,CLG,1,0,T8,35,Benny,...,CaliTrlolz8,Sion,Porpoise8,RekSai,Slooshi8,Lulu,Maplestreet8,Corki,Annie,Dodo8

In [8]:
df6 = pd.read_csv('objValues.csv')
print(df6.shape)
df6.head()

(38030, 18)

,MatchHistory,ObjType,num_1,num_2,num_3,num_4,num_5,num_6,num_7,num_8,num_9,num_10,num_11,num_12,num_13,num_14,num_15,num_16
0,http://matchhistory.na.leagueoflegends.com/en/...,bTowers,23.038,15.217,15.014,33.583,39.269,39.376,16.556,17.856,27.542,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,http://matchhistory.na.leagueoflegends.com/en/...,bTowers,33.018,34.766,23.239,20.058,15.306,25.564,28.989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,http://matchhistory.na.leagueoflegends.com/en/...,bTowers,18.294,36.946,32.833,25.481,29.505,38.445,39.420,25.120,30.158,39.566,37.109,17.34,35.463,15.045,33.135,NaN
3,http://matchhistory.na.leagueoflegends.com/en/...,bTowers,22.879,18.541,19.941,38.770,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,http://matchhistory.na.leagueoflegends.com/en/...,bTowers,33.925,26.963,22.594,34.515,34.213,14.976,33.717,18.487,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

I want to be able to merge the various files if I need to. Just for ease of use in the long run, I will replace the full match link (MatchHistory) field with just the hash value.

In [111]:
# replace the full match link with just the hash value
df5['A'], df5['Match_ID'] = df5['MatchHistory'].str.split('=', 1).str
df5.drop(['MatchHistory', 'A'], axis=1, inplace=True)

df5.head()

,League,Season,Year,blueTeamTag,bResult,rResult,redTeamTag,gamelength,blueTop,blueTopChamp,...,redTopChamp,redJungle,redJungleChamp,redMiddle,redMiddleChamp,redADC,redADCChamp,redSupportChamp,redSupport,Match_ID
0,North_America,Spring_Season,2015,TSM,1,0,C9,40,Dyrus,Irelia,...,Gnar,Meteos,Elise,Hai,Fizz,Sneaky,Sivir,Thresh,LemonNation,fbb300951ad8327c
1,North_America,Spring_Season,2015,CST,0,1,DIG,38,Cris,Gnar,...,Irelia,Crumbzz,JarvanIV,Shiphtur,Azir,CoreJJ,Corki,Annie,KiWiKiD,055b17da8456fdc8
2,North_America,Spring_Season,2015,WFX,1,0,GV,40,Flaresz,Renekton,...,Sion,Saintvicious,LeeSin,Keane,Azir,Cop,Corki,Janna,BunnyFuFuu,8e8a9b58df366e2d
3,North_America,Spring_Season,2015,TIP,0,1,TL,41,Rhux,Irelia,...,Gnar,IWDominate,Nunu,Fenix,Lulu,KEITH,KogMaw,Janna,Xpecial,0ed1cd0e0e57329c
4,North_America,Spring_Season,2015,CLG,1,0,T8,35,Benny,Gnar,...,Sion,Porpoise8,RekSai,Slooshi8,Lulu,Maplestreet8,Corki,Annie,Dodo8,f932becf86175f38

In [112]:
# reorder columns so match_id is first
cols = list(df5.columns.values)
cols = ['Match_ID','League', 'Season', 'Year', 'blueTeamTag', 'bResult', 'rResult', 'redTeamTag', 'gamelength',
        'blueTop', 'blueTopChamp', 'blueJungle', 'blueJungleChamp', 'blueMiddle', 'blueMiddleChamp', 'blueADC',
         'blueADCChamp', 'blueSupport', 'blueSupportChamp', 'redTop', 'redTopChamp', 'redJungle', 'redJungleChamp',
         'redMiddle', 'redMiddleChamp', 'redADC', 'redADCChamp', 'redSupportChamp', 'redSupport']
df5 = df5[cols]
df5.to_csv('LeagueofLegends21.csv')
df5.head()

,Match_ID,League,Season,Year,blueTeamTag,bResult,rResult,redTeamTag,gamelength,blueTop,...,redTop,redTopChamp,redJungle,redJungleChamp,redMiddle,redMiddleChamp,redADC,redADCChamp,redSupportChamp,redSupport
0,fbb300951ad8327c,North_America,Spring_Season,2015,TSM,1,0,C9,40,Dyrus,...,Balls,Gnar,Meteos,Elise,Hai,Fizz,Sneaky,Sivir,Thresh,LemonNation
1,055b17da8456fdc8,North_America,Spring_Season,2015,CST,0,1,DIG,38,Cris,...,Gamsu,Irelia,Crumbzz,JarvanIV,Shiphtur,Azir,CoreJJ,Corki,Annie,KiWiKiD
2,8e8a9b58df366e2d,North_America,Spring_Season,2015,WFX,1,0,GV,40,Flaresz,...,Hauntzer,Sion,Saintvicious,LeeSin,Keane,Azir,Cop,Corki,Janna,BunnyFuFuu
3,0ed1cd0e0e57329c,North_America,Spring_Season,2015,TIP,0,1,TL,41,Rhux,...,Quas,Gnar,IWDominate,Nunu,Fenix,Lulu,KEITH,KogMaw,Janna,Xpecial
4,f932becf86175f38,North_America,Spring_Season,2015,CLG,1,0,T8,35,Benny,...,CaliTrlolz8,Sion,Porpoise8,RekSai,Slooshi8,Lulu,Maplestreet8,Corki,Annie,Dodo8

In [12]:
df4['A'], df4['Match_ID'] = df4['MatchHistory'].str.split('=', 1).str
df4.drop(['MatchHistory', 'A'], axis=1, inplace=True)

cols = list(df4.columns.values)
cols = ['Match_ID', 'League',  'Season', 'Year', 'blueTeamTag', 'bResult', 'rResult',
        'redTeamTag', 'gamelength', 'golddiff', 'goldblue', 'bKills', 'bTowers', 'bInhibs', 'bDragons',
         'bBarons', 'bHeralds', 'goldred', 'rKills', 'rTowers', 'rInhibs', 'rDragons', 'rBarons',
        'rHeralds', 'blueTop', 'blueTopChamp', 'goldblueTop', 'blueJungle', 'blueJungleChamp', 'goldblueJungle',
         'blueMiddle', 'blueMiddleChamp', 'goldblueMiddle', 'blueADC', 'blueADCChamp', 'goldblueADC', 'blueSupport',
         'blueSupportChamp', 'goldblueSupport', 'blueBans', 'redTop', 'redTopChamp', 'goldredTop', 'redJungle',
         'redJungleChamp', 'goldredJungle', 'redMiddle', 'redMiddleChamp', 'goldredMiddle', 'redADC', 'redADCChamp',
         'goldredADC', 'redSupportChamp', 'redSupport', 'goldredSupport', 'redBans']

In [13]:
df4 = df4[cols]
df4.head()

,Match_ID,League,Season,Year,blueTeamTag,bResult,rResult,redTeamTag,gamelength,golddiff,...,redMiddle,redMiddleChamp,goldredMiddle,redADC,redADCChamp,goldredADC,redSupportChamp,redSupport,goldredSupport,redBans
0,fbb300951ad8327c,North_America,Spring_Season,2015,TSM,1,0,C9,40,"[0, 0, -14, -65, -268, -431, -488, -789, -494,...",...,Hai,Fizz,"[475, 475, 552, 842, 1178, 1378, 1635, 1949, 2...",Sneaky,Sivir,"[475, 475, 532, 762, 1097, 1469, 1726, 2112, 2...",Thresh,LemonNation,"[515, 515, 577, 722, 911, 1042, 1194, 1370, 14...","['Tristana', 'Leblanc', 'Nidalee']"
1,055b17da8456fdc8,North_America,Spring_Season,2015,CST,0,1,DIG,38,"[0, 0, -26, -18, 147, 237, -152, 18, 88, -242,...",...,Shiphtur,Azir,"[475, 475, 552, 786, 1097, 1389, 1660, 1955, 2...",CoreJJ,Corki,"[475, 475, 532, 868, 1220, 1445, 1732, 1979, 2...",Annie,KiWiKiD,"[515, 515, 583, 752, 900, 1066, 1236, 1417, 15...","['RekSai', 'Janna', 'Leblanc']"
2,8e8a9b58df366e2d,North_America,Spring_Season,2015,WFX,1,0,GV,40,"[0, 0, 10, -60, 34, 37, 589, 1064, 1258, 913, ...",...,Keane,Azir,"[475, 475, 533, 801, 1006, 1233, 1385, 1720, 1...",Cop,Corki,"[475, 475, 533, 781, 1085, 1398, 1782, 1957, 2...",Janna,BunnyFuFuu,"[515, 515, 584, 721, 858, 1002, 1168, 1303, 14...","['Leblanc', 'Zed', 'RekSai']"
3,0ed1cd0e0e57329c,North_America,Spring_Season,2015,TIP,0,1,TL,41,"[0, 0, -15, 25, 228, -6, -243, 175, -346, 16, ...",...,Fenix,Lulu,"[475, 475, 532, 771, 1046, 1288, 1534, 1776, 2...",KEITH,KogMaw,"[475, 475, 532, 766, 1161, 1438, 1776, 1936, 2...",Janna,Xpecial,"[515, 515, 583, 721, 870, 1059, 1205, 1342, 15...","['RekSai', 'Rumble', 'LeeSin']"
4,f932becf86175f38,North_America,Spring_Season,2015,CLG,1,0,T8,35,"[40, 40, 44, -36, 113, 158, -121, -191, 23, 20...",...,Slooshi8,Lulu,"[475, 475, 532, 807, 1042, 1338, 1646, 1951, 2...",Maplestreet8,Corki,"[475, 475, 532, 792, 1187, 1488, 1832, 2136, 2...",Annie,Dodo8,"[475, 475, 538, 671, 817, 948, 1104, 1240, 136...","['Rumble', 'Sivir', 'Rengar']"

In [14]:
df6['A'], df6['Match_ID'] = df6['MatchHistory'].str.split('=', 1).str
df6.drop(['MatchHistory', 'A'], axis=1, inplace=True)

cols = list(df6.columns.values)

In [16]:
cols = ['Match_ID', 'ObjType',
 'num_1',
 'num_2',
 'num_3',
 'num_4',
 'num_5',
 'num_6',
 'num_7',
 'num_8',
 'num_9',
 'num_10',
 'num_11',
 'num_12',
 'num_13',
 'num_14',
 'num_15',
 'num_16']
df6 = df6[cols]
df6.head()

,Match_ID,ObjType,num_1,num_2,num_3,num_4,num_5,num_6,num_7,num_8,num_9,num_10,num_11,num_12,num_13,num_14,num_15,num_16
0,fbb300951ad8327c,bTowers,23.038,15.217,15.014,33.583,39.269,39.376,16.556,17.856,27.542,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,055b17da8456fdc8,bTowers,33.018,34.766,23.239,20.058,15.306,25.564,28.989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8e8a9b58df366e2d,bTowers,18.294,36.946,32.833,25.481,29.505,38.445,39.420,25.120,30.158,39.566,37.109,17.34,35.463,15.045,33.135,NaN
3,0ed1cd0e0e57329c,bTowers,22.879,18.541,19.941,38.770,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,f932becf86175f38,bTowers,33.925,26.963,22.594,34.515,34.213,14.976,33.717,18.487,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df3['A'], df3['Match_ID'] = df3['MatchHistory'].str.split('=', 1).str
df3.drop(['MatchHistory', 'A'], axis=1, inplace=True)

cols = list(df3.columns.values)

In [19]:
cols = ['Match_ID', 'NameType', 'min_1', 'min_2', 'min_3', 'min_4', 'min_5', 'min_6', 'min_7',
        'min_8', 'min_9', 'min_10', 'min_11', 'min_12', 'min_13', 'min_14', 'min_15', 'min_16',
        'min_17', 'min_18', 'min_19', 'min_20', 'min_21', 'min_22', 'min_23', 'min_24', 'min_25',
         'min_26', 'min_27', 'min_28', 'min_29', 'min_30', 'min_31', 'min_32', 'min_33', 'min_34', 'min_35',
         'min_36', 'min_37', 'min_38', 'min_39', 'min_40', 'min_41', 'min_42', 'min_43', 'min_44', 'min_45',
         'min_46', 'min_47', 'min_48', 'min_49', 'min_50', 'min_51', 'min_52', 'min_53', 'min_54', 'min_55',
         'min_56', 'min_57', 'min_58', 'min_59', 'min_60', 'min_61', 'min_62', 'min_63', 'min_64', 'min_65',
         'min_66', 'min_67', 'min_68', 'min_69', 'min_70', 'min_71', 'min_72', 'min_73', 'min_74', 'min_75',
         'min_76', 'min_77', 'min_78', 'min_79', 'min_80', 'min_81']
df3 = df3[cols]
df3.head()

,Match_ID,NameType,min_1,min_2,min_3,min_4,min_5,min_6,min_7,min_8,...,min_72,min_73,min_74,min_75,min_76,min_77,min_78,min_79,min_80,min_81
0,fbb300951ad8327c,golddiff,0,0.0,-14.0,-65.0,-268.0,-431.0,-488.0,-789.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,055b17da8456fdc8,golddiff,0,0.0,-26.0,-18.0,147.0,237.0,-152.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8e8a9b58df366e2d,golddiff,0,0.0,10.0,-60.0,34.0,37.0,589.0,1064.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0ed1cd0e0e57329c,golddiff,0,0.0,-15.0,25.0,228.0,-6.0,-243.0,175.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,f932becf86175f38,golddiff,40,40.0,44.0,-36.0,113.0,158.0,-121.0,-191.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df2['A'], df2['Match_ID'] = df2['MatchHistory'].str.split('=', 1).str
df2.drop(['MatchHistory', 'A'], axis=1, inplace=True)

cols = list(df2.columns.values)

In [25]:
cols = ['Match_ID', 'TeamColor',
 'Time',
 'Victim',
 'Killer',
 'Assist_1',
 'Assist_2',
 'Assist_3',
 'Assist_4']
df2 = df2[cols]
df2.head()

,Match_ID,TeamColor,Time,Victim,Killer,Assist_1,Assist_2,Assist_3,Assist_4
0,fbb300951ad8327c,Blue,10.82,C9 Hai,TSM Bjergsen,NaN,NaN,NaN,NaN
1,fbb300951ad8327c,Blue,16.286,C9 LemonNation,TSM WildTurtle,TSM Santorin,TSM Bjergsen,TSM Lustboy,NaN
2,fbb300951ad8327c,Blue,18.733,C9 Hai,TSM Bjergsen,TSM Santorin,TSM WildTurtle,TSM Lustboy,NaN
3,fbb300951ad8327c,Blue,18.88,C9 Meteos,TSM Dyrus,TSM Santorin,TSM Bjergsen,TSM WildTurtle,TSM Lustboy
4,fbb300951ad8327c,Blue,27.005,C9 Balls,TSM Bjergsen,TSM Dyrus,TSM Santorin,TSM WildTurtle,TSM Lustboy

In [26]:
df1['A'], df1['Match_ID'] = df1['MatchHistory'].str.split('=', 1).str
df1.drop(['MatchHistory', 'A'], axis=1, inplace=True)

cols = list(df1.columns.values)

In [28]:
cols = ['Match_ID', 'TeamColor', 'ban_1', 'ban_2', 'ban_3', 'ban_4', 'ban_5']
df1 = df1[cols]
df1.head()

           Match_ID TeamColor     ban_1      ban_2      ban_3 ban_4 ban_5
0  fbb300951ad8327c      Blue    Rumble   Kassadin  Lissandra   NaN   NaN
1  055b17da8456fdc8      Blue  Kassadin      Sivir  Lissandra   NaN   NaN
2  8e8a9b58df366e2d      Blue  JarvanIV  Lissandra   Kassadin   NaN   NaN
3  0ed1cd0e0e57329c      Blue     Annie  Lissandra   Kassadin   NaN   NaN
4  f932becf86175f38      Blue    Irelia   Pantheon   Kassadin   NaN   NaN

In [29]:
df1.to_csv('banValues1.csv')
df2.to_csv('deathValues1.csv')
df3.to_csv('goldValues1.csv')
df4.to_csv('LeagueofLegends1.csv')
df5.to_csv('LeagueofLegends21.csv')
df6.to_csv('objValues1.csv')

Now I want to get a sense of what each dataframe actually contains.

In [10]:
df = pd.read_csv('LeagueofLegends1.csv', index_col=0)
df1 = pd.read_csv('LeagueofLegends21.csv', index_col=0)
df2 = pd.read_csv('banValues1.csv', index_col=0)
df3 = pd.read_csv('deathValues1.csv', index_col=0)
df4 = pd.read_csv('objValues1.csv', index_col=0)
df5 = pd.read_csv('goldValues1.csv', index_col=0)
df.head()

,Match_ID,League,Season,Year,blueTeamTag,bResult,rResult,redTeamTag,gamelength,golddiff,goldblue,bKills,bTowers,bInhibs,bDragons,bBarons,bHeralds,goldred,rKills,rTowers,rInhibs,rDragons,rBarons,rHeralds,blueTop,blueTopChamp,goldblueTop,blueJungle,blueJungleChamp,goldblueJungle,blueMiddle,blueMiddleChamp,goldblueMiddle,blueADC,blueADCChamp,goldblueADC,blueSupport,blueSupportChamp,goldblueSupport,blueBans,redTop,redTopChamp,goldredTop,redJungle,redJungleChamp,goldredJungle,redMiddle,redMiddleChamp,goldredMiddle,redADC,redADCChamp,goldredADC,redSupportChamp,redSupport,goldredSupport,redBans
0,fbb300951ad8327c,North_America,Spring_Season,2015,TSM,1,0,C9,40,"[0, 0, -14, -65, -268, -431, -488, -789, -494,...","[2415, 2415, 2711, 3887, 5068, 6171, 7412, 866...","[[10.82, 'C9 Hai', 'TSM Bjergsen'], [16.286, '...","[23.038, 15.217, 15.014, 33.583, 39.269, 39.37...","[36.686, 29.274]",[37.267],[],[],"[2415, 2415, 2725, 3952, 5336, 6602, 7900, 945...","[[16.529, 'TSM Lustboy', 'C9 Balls', 'C9 Meteo...","[20.681, 39.23, 15.288, 17.237]",[],"[24.641, 17.14, 30.934]",[29.954],[],Dyrus,Irelia,"[475, 475, 532, 687, 893, 1058, 1172, 1471, 18...",Santorin,RekSai,"[475, 475, 532, 870, 1049, 1276, 1596, 1815, 2...",Bjergsen,Ahri,"[475, 475, 532, 807, 1102, 1307, 1651, 1950, 2...",WildTurtle,Jinx,"[475, 475, 532, 797, 1127, 1453, 1766, 2044, 2...",Lustboy,Janna,"[515, 515, 583, 726, 897, 1077, 1227, 1381, 15...","['Rumble', 'Kassadin', 'Lissandra']",Balls,Gnar,"[475, 475, 532, 728, 958, 1284, 1526, 1912, 21...",Meteos,Elise,"[475, 475, 532, 898, 1192, 1429, 1819, 2107, 2...",Hai,Fizz,"[475, 475, 552, 842, 1178, 1378, 1635, 1949, 2...",Sneaky,Sivir,"[475, 475, 532, 762, 1097, 1469, 1726, 2112, 2...",Thresh,LemonNation,"[515, 515, 577, 722, 911, 1042, 1194, 1370, 14...","['Tristana', 'Leblanc', 'Nidalee']"
1,055b17da8456fdc8,North_America,Spring_Season,2015,CST,0,1,DIG,38,"[0, 0, -26, -18, 147, 237, -152, 18, 88, -242,...","[2415, 2415, 2705, 4108, 5511, 6797, 7637, 895...","[[11.104, 'DIG Shiphtur', 'CST Jesiz', 'CST Im...","[33.018, 34.766, 23.239, 20.058, 15.306, 25.56...",[],"[19.119, 26.177, 32.545]",[29.255],[],"[2415, 2415, 2731, 4126, 5364, 6560, 7789, 893...","[[12.387, 'CST Jesiz', 'DIG Gamsu', 'DIG Shiph...","[19.257, 23.409, 37.008, 29.993, 15.206, 36.93...",[36.813],[12.264],[],[],Cris,Gnar,"[475, 475, 532, 791, 1127, 1509, 1674, 1875, 2...",Impaler,Rengar,"[475, 475, 532, 895, 1176, 1334, 1447, 1859, 2...",Jesiz,Ahri,"[475, 475, 532, 816, 1102, 1413, 1624, 1937, 2...",Mash,Caitlyn,"[475, 475, 532, 856, 1182, 1468, 1653, 1890, 2...",Sheep,Leona,"[515, 515, 577, 750, 924, 1073, 1239, 1392, 15...","['Kassadin', 'Sivir', 'Lissandra']",Gamsu,Irelia,"[475, 475, 532, 811, 1042, 1237, 1625, 1852, 2...",Crumbzz,JarvanIV,"[475, 475, 532, 909, 1105, 1423, 1536, 1732, 1...",Shiphtur,Azir,"[475, 475, 552, 786, 1097, 1389, 1660, 1955, 2...",CoreJJ,Corki,"[475, 475, 532, 868, 1220, 1445, 1732, 1979, 2...",Annie,KiWiKiD,"[515, 515, 583, 752, 900, 1066, 1236, 1417, 15...","['RekSai', 'Janna', 'Leblanc']"
2,8e8a9b58df366e2d,North_America,Spring_Season,2015,WFX,1,0,GV,40,"[0, 0, 10, -60, 34, 37, 589, 1064, 1258, 913, ...","[2415, 2415, 2726, 3794, 4933, 6236, 8109, 965...","[[5.255, 'GV Keane', 'WFX Pobelter', 'WFX Shor...","[18.294, 36.946, 32.833, 25.481, 29.505, 38.44...","[33.289, 37.38, 39.322, 37.511]","[18.255, 24.577, 30.87, 37.867]",[35.144],[],"[2415, 2415, 2716, 3854, 4899, 6199, 7520, 859...","[[8.449, 'WFX Altec', 'GV Cop', 'GV BunnyFuFuu...","[30.493, 24.62]",[],[],[],[],Flaresz,Renekton,"[475, 475, 533, 673, 828, 1075, 1428, 1775, 21...",ShorterACE,Rengar,"[475, 475, 543, 836, 1041, 1261, 1568, 2002, 2...",Pobelter,Fizz,"[475, 475, 533, 756, 1065, 1368, 2056, 2237, 2...",Altec,Sivir,"[475, 475, 533, 811, 1130, 1524, 1786, 2168, 2...",Gleeb,Annie,"[515, 515, 584, 718, 869, 1008, 1271, 1474, 16...","['JarvanIV', 'Lissandra', 'Kassadin']",Hauntzer,Sion,"[475, 475, 533, 706, 861, 1123, 1491, 1698, 18...",Saintvicious,LeeSin,"[475, 475, 533, 845, 1089, 1443, 1694, 1914, 2...",Keane,Azir,"[475, 475, 533, 801, 1006, 1233, 1385, 1720, 1...",Cop,Corki,"[475, 475, 533, 781, 1085, 1398, 1782, 1957, 2...",Janna,BunnyFuFuu,"[515, 515, 584, 721, 858, 1002, 1168, 1303, 14...","['Leblanc', 'Zed', 'RekSai']"
3,0ed1cd0e0e57329c,North_America,Spring_Season,2015,TIP,0,1,TL,41,"[0, 0, -15, 25, 228, -6, -243, 175, -346, 16, ...","[2415, 2415, 2705, 3847, 5398, 6473, 7720, 930...","[[8.274, 'TL Quas', 'TIP Rhux', 'TIP Apollo'],...","[22.879, 18.541, 19.941, 38.77]",[],[],[37.513],[],"[2415, 2415, 2720, 3822, 5170, 6479, 7963, 913...","[[7.768, 'TIP Rush', 'TL IWDominate', 'TL Feni...","[39.924, 27.034, 31.665, 36.384, 29.969, 19.12...",[35.867],"[18.515, 10.153, 26.274, 32.796]",[],[],Rhux,Irelia,"[475, 475, 532, 646, 992, 1253, 1408, 1752, 21...",Rush,JarvanIV,"[475, 475, 532, 909, 1272, 1387, 1705, 2009, 2...",XiaoWeiXiao,Leblanc,"[475, 475, 532, 801, 1066, 1409, 1660, 2077, 2...",Apollo,Sivir,"[475, 475, 532, 791, 1202, 1383, 1752, 2121, 2...",Adrian,Thresh,"[515, 515, 577, 700, 866, 1041, 1195, 1349, 14...","['Annie', 'Lissandra', 'Kassadin']",Quas,Gnar,"[475, 475, 532, 732, 922, 1309, 1678, 1992, 22...",IWDominate,Nunu,"[475, 475, 541, 832, 1171, 1385, 1770, 2087, 2...",Fenix,Lulu,"[475, 475, 532, 771, 1046, 1288, 1534, 1776, 2...",KEITH,KogMaw,"[475, 475, 532, 766, 1161, 1438, 1776, 1936, 2...",Janna,Xpecial,"[515, 515, 583, 721, 870, 1059, 1205, 1342, 15...","['RekSai', 'Rumble', 'LeeSin']"
4,f932becf86175f38,North_America,Spring_Season,2015,CLG,1,0,T8,35,"[40, 40, 44, -36, 113, 158, -121, -191, 23, 20...","[2415, 2415, 2710, 3950, 5404, 6666, 7887, 913...","[[11.438, 'T8 Dodo8', 'CLG Doublelift', 'CLG X...","[33.925, 26.963, 22.594, 34.515, 34.213, 14.97...",[34.069],"[30.307, 14.589]",[32.556],[],"[2375, 2375, 2666, 3986, 5291, 6508, 8008, 932...","[[11.988, 'CLG Doublelift', 'T8 Porpoise8', 'T...","[11.644, 12.438, 15.252, 31.49]",[],[21.901],[],[],Benny,Gnar,"[475, 475, 532, 733, 1038, 1258, 1546, 1850, 2...",Xmithie,JarvanIV,"[475, 475, 532, 827, 1174, 1401, 1515, 1729, 2...",Link,Lissandra,"[475, 475, 532, 802, 1112, 1409, 1737, 1939, 2...",Doublelift,Tristana,"[475, 475, 532, 857, 1203, 1554, 1883, 2254, 2...",aphromoo,Janna,"[515, 515, 582, 731, 877, 1044, 1206, 1359, 15...","['Irelia', 'Pantheon', 'Kassadin']",CaliTrlolz8,Sion,"[475, 475, 532, 820, 1025, 1290, 1598, 1953, 2...",Porpoise8,RekSai,"[475, 475, 532, 896, 1220, 1444, 1828, 2042, 2...",Slooshi8,Lulu,"[475, 475, 532, 807, 1042, 1338, 1646, 1951, 2...",Maplestreet8,Corki,"[475, 475, 532, 792, 1187, 1488, 1832, 2136, 2...",Annie,Dodo8,"[475, 475, 538, 671, 817, 948, 1104, 1240, 136...","['Rumble', 'Sivir', 'Rengar']"

In [13]:
df5.head()

,Match_ID,NameType,min_1,min_2,min_3,min_4,min_5,min_6,min_7,min_8,min_9,min_10,min_11,min_12,min_13,min_14,min_15,min_16,min_17,min_18,min_19,min_20,min_21,min_22,min_23,min_24,min_25,min_26,min_27,min_28,min_29,min_30,min_31,min_32,min_33,min_34,min_35,min_36,min_37,min_38,min_39,min_40,min_41,min_42,min_43,min_44,min_45,min_46,min_47,min_48,min_49,min_50,min_51,min_52,min_53,min_54,min_55,min_56,min_57,min_58,min_59,min_60,min_61,min_62,min_63,min_64,min_65,min_66,min_67,min_68,min_69,min_70,min_71,min_72,min_73,min_74,min_75,min_76,min_77,min_78,min_79,min_80,min_81
0,fbb300951ad8327c,golddiff,0,0.0,-14.0,-65.0,-268.0,-431.0,-488.0,-789.0,-494.0,-625.0,-1044.0,-313.0,-760.0,-697.0,-790.0,-611.0,240.0,845.0,797.0,1422.0,987.0,169.0,432.0,491.0,1205.0,1527.0,1647.0,1847.0,3750.0,4719.0,3561.0,3367.0,2886.0,2906.0,4411.0,4473.0,4639.0,4762.0,4686.0,6057.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,055b17da8456fdc8,golddiff,0,0.0,-26.0,-18.0,147.0,237.0,-152.0,18.0,88.0,-242.0,102.0,117.0,802.0,1420.0,1394.0,1301.0,1489.0,1563.0,1368.0,1105.0,205.0,192.0,587.0,377.0,667.0,415.0,1876.0,1244.0,2130.0,2431.0,680.0,1520.0,949.0,1894.0,2644.0,3394.0,3726.0,1165.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8e8a9b58df366e2d,golddiff,0,0.0,10.0,-60.0,34.0,37.0,589.0,1064.0,1258.0,913.0,1233.0,1597.0,1575.0,3046.0,2922.0,3074.0,3626.0,3466.0,5634.0,5293.0,4597.0,4360.0,4616.0,4489.0,4880.0,5865.0,6993.0,7049.0,7029.0,7047.0,7160.0,7081.0,7582.0,9917.0,10337.0,9823.0,12307.0,13201.0,13924.0,13915.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0ed1cd0e0e57329c,golddiff,0,0.0,-15.0,25.0,228.0,-6.0,-243.0,175.0,-346.0,16.0,-258.0,-57.0,-190.0,-111.0,-335.0,-8.0,324.0,428.0,-124.0,768.0,2712.0,1813.0,198.0,1242.0,1245.0,1278.0,1240.0,-664.0,-1195.0,-1157.0,-2161.0,-2504.0,-3873.0,-3688.0,-3801.0,-3668.0,-3612.0,-5071.0,-2825.0,-1464.0,-4507.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,f932becf86175f38,golddiff,40,40.0,44.0,-36.0,113.0,158.0,-121.0,-191.0,23.0,205.0,156.0,272.0,-271.0,-896.0,-574.0,177.0,-425.0,-730.0,-318.0,478.0,926.0,761.0,-286.0,473.0,490.0,1265.0,2526.0,3890.0,4319.0,5121.0,5140.0,5141.0,6866.0,9517.0,11322.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df4.ObjType.value_counts()

rBarons     3803
rHeralds    3803
bDragons    3803
rTowers     3803
bBarons     3803
bTowers     3803
rDragons    3803
rInhibs     3803
bHeralds    3803
bInhibs     3803
Name: ObjType, dtype: int64

In [18]:
df4.head()

,Match_ID,ObjType,num_1,num_2,num_3,num_4,num_5,num_6,num_7,num_8,num_9,num_10,num_11,num_12,num_13,num_14,num_15,num_16
0,fbb300951ad8327c,bTowers,23.038,15.217,15.014,33.583,39.269,39.376,16.556,17.856,27.542,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,055b17da8456fdc8,bTowers,33.018,34.766,23.239,20.058,15.306,25.564,28.989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8e8a9b58df366e2d,bTowers,18.294,36.946,32.833,25.481,29.505,38.445,39.420,25.120,30.158,39.566,37.109,17.34,35.463,15.045,33.135,NaN
3,0ed1cd0e0e57329c,bTowers,22.879,18.541,19.941,38.770,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,f932becf86175f38,bTowers,33.925,26.963,22.594,34.515,34.213,14.976,33.717,18.487,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df.shape

(3802, 56)

In [20]:
df.drop('golddiff', axis=1, inplace=True)

In [24]:
df.drop(['rKills', 'bKills'], axis=1, inplace=True)

In [25]:
df3.head()

,Match_ID,TeamColor,Time,Victim,Killer,Assist_1,Assist_2,Assist_3,Assist_4
0,fbb300951ad8327c,Blue,10.82,C9 Hai,TSM Bjergsen,NaN,NaN,NaN,NaN
1,fbb300951ad8327c,Blue,16.286,C9 LemonNation,TSM WildTurtle,TSM Santorin,TSM Bjergsen,TSM Lustboy,NaN
2,fbb300951ad8327c,Blue,18.733,C9 Hai,TSM Bjergsen,TSM Santorin,TSM WildTurtle,TSM Lustboy,NaN
3,fbb300951ad8327c,Blue,18.88,C9 Meteos,TSM Dyrus,TSM Santorin,TSM Bjergsen,TSM WildTurtle,TSM Lustboy
4,fbb300951ad8327c,Blue,27.005,C9 Balls,TSM Bjergsen,TSM Dyrus,TSM Santorin,TSM WildTurtle,TSM Lustboy

In [27]:
df.drop(['bTowers', 'bInhibs', 'bDragons', 'bBarons', 'bHeralds', 'rTowers', 'rInhibs', 
         'rDragons', 'rBarons', 'rHeralds'], axis=1, inplace=True)

In [28]:
df.head()

,Match_ID,League,Season,Year,blueTeamTag,bResult,rResult,redTeamTag,gamelength,goldblue,goldred,blueTop,blueTopChamp,goldblueTop,blueJungle,blueJungleChamp,goldblueJungle,blueMiddle,blueMiddleChamp,goldblueMiddle,blueADC,blueADCChamp,goldblueADC,blueSupport,blueSupportChamp,goldblueSupport,blueBans,redTop,redTopChamp,goldredTop,redJungle,redJungleChamp,goldredJungle,redMiddle,redMiddleChamp,goldredMiddle,redADC,redADCChamp,goldredADC,redSupportChamp,redSupport,goldredSupport,redBans
0,fbb300951ad8327c,North_America,Spring_Season,2015,TSM,1,0,C9,40,"[2415, 2415, 2711, 3887, 5068, 6171, 7412, 866...","[2415, 2415, 2725, 3952, 5336, 6602, 7900, 945...",Dyrus,Irelia,"[475, 475, 532, 687, 893, 1058, 1172, 1471, 18...",Santorin,RekSai,"[475, 475, 532, 870, 1049, 1276, 1596, 1815, 2...",Bjergsen,Ahri,"[475, 475, 532, 807, 1102, 1307, 1651, 1950, 2...",WildTurtle,Jinx,"[475, 475, 532, 797, 1127, 1453, 1766, 2044, 2...",Lustboy,Janna,"[515, 515, 583, 726, 897, 1077, 1227, 1381, 15...","['Rumble', 'Kassadin', 'Lissandra']",Balls,Gnar,"[475, 475, 532, 728, 958, 1284, 1526, 1912, 21...",Meteos,Elise,"[475, 475, 532, 898, 1192, 1429, 1819, 2107, 2...",Hai,Fizz,"[475, 475, 552, 842, 1178, 1378, 1635, 1949, 2...",Sneaky,Sivir,"[475, 475, 532, 762, 1097, 1469, 1726, 2112, 2...",Thresh,LemonNation,"[515, 515, 577, 722, 911, 1042, 1194, 1370, 14...","['Tristana', 'Leblanc', 'Nidalee']"
1,055b17da8456fdc8,North_America,Spring_Season,2015,CST,0,1,DIG,38,"[2415, 2415, 2705, 4108, 5511, 6797, 7637, 895...","[2415, 2415, 2731, 4126, 5364, 6560, 7789, 893...",Cris,Gnar,"[475, 475, 532, 791, 1127, 1509, 1674, 1875, 2...",Impaler,Rengar,"[475, 475, 532, 895, 1176, 1334, 1447, 1859, 2...",Jesiz,Ahri,"[475, 475, 532, 816, 1102, 1413, 1624, 1937, 2...",Mash,Caitlyn,"[475, 475, 532, 856, 1182, 1468, 1653, 1890, 2...",Sheep,Leona,"[515, 515, 577, 750, 924, 1073, 1239, 1392, 15...","['Kassadin', 'Sivir', 'Lissandra']",Gamsu,Irelia,"[475, 475, 532, 811, 1042, 1237, 1625, 1852, 2...",Crumbzz,JarvanIV,"[475, 475, 532, 909, 1105, 1423, 1536, 1732, 1...",Shiphtur,Azir,"[475, 475, 552, 786, 1097, 1389, 1660, 1955, 2...",CoreJJ,Corki,"[475, 475, 532, 868, 1220, 1445, 1732, 1979, 2...",Annie,KiWiKiD,"[515, 515, 583, 752, 900, 1066, 1236, 1417, 15...","['RekSai', 'Janna', 'Leblanc']"
2,8e8a9b58df366e2d,North_America,Spring_Season,2015,WFX,1,0,GV,40,"[2415, 2415, 2726, 3794, 4933, 6236, 8109, 965...","[2415, 2415, 2716, 3854, 4899, 6199, 7520, 859...",Flaresz,Renekton,"[475, 475, 533, 673, 828, 1075, 1428, 1775, 21...",ShorterACE,Rengar,"[475, 475, 543, 836, 1041, 1261, 1568, 2002, 2...",Pobelter,Fizz,"[475, 475, 533, 756, 1065, 1368, 2056, 2237, 2...",Altec,Sivir,"[475, 475, 533, 811, 1130, 1524, 1786, 2168, 2...",Gleeb,Annie,"[515, 515, 584, 718, 869, 1008, 1271, 1474, 16...","['JarvanIV', 'Lissandra', 'Kassadin']",Hauntzer,Sion,"[475, 475, 533, 706, 861, 1123, 1491, 1698, 18...",Saintvicious,LeeSin,"[475, 475, 533, 845, 1089, 1443, 1694, 1914, 2...",Keane,Azir,"[475, 475, 533, 801, 1006, 1233, 1385, 1720, 1...",Cop,Corki,"[475, 475, 533, 781, 1085, 1398, 1782, 1957, 2...",Janna,BunnyFuFuu,"[515, 515, 584, 721, 858, 1002, 1168, 1303, 14...","['Leblanc', 'Zed', 'RekSai']"
3,0ed1cd0e0e57329c,North_America,Spring_Season,2015,TIP,0,1,TL,41,"[2415, 2415, 2705, 3847, 5398, 6473, 7720, 930...","[2415, 2415, 2720, 3822, 5170, 6479, 7963, 913...",Rhux,Irelia,"[475, 475, 532, 646, 992, 1253, 1408, 1752, 21...",Rush,JarvanIV,"[475, 475, 532, 909, 1272, 1387, 1705, 2009, 2...",XiaoWeiXiao,Leblanc,"[475, 475, 532, 801, 1066, 1409, 1660, 2077, 2...",Apollo,Sivir,"[475, 475, 532, 791, 1202, 1383, 1752, 2121, 2...",Adrian,Thresh,"[515, 515, 577, 700, 866, 1041, 1195, 1349, 14...","['Annie', 'Lissandra', 'Kassadin']",Quas,Gnar,"[475, 475, 532, 732, 922, 1309, 1678, 1992, 22...",IWDominate,Nunu,"[475, 475, 541, 832, 1171, 1385, 1770, 2087, 2...",Fenix,Lulu,"[475, 475, 532, 771, 1046, 1288, 1534, 1776, 2...",KEITH,KogMaw,"[475, 475, 532, 766, 1161, 1438, 1776, 1936, 2...",Janna,Xpecial,"[515, 515, 583, 721, 870, 1059, 1205, 1342, 15...","['RekSai', 'Rumble', 'LeeSin']"
4,f932becf86175f38,North_America,Spring_Season,2015,CLG,1,0,T8,35,"[2415, 2415, 2710, 3950, 5404, 6666, 7887, 913...","[2375, 2375, 2666, 3986, 5291, 6508, 8008, 932...",Benny,Gnar,"[475, 475, 532, 733, 1038, 1258, 1546, 1850, 2...",Xmithie,JarvanIV,"[475, 475, 532, 827, 1174, 1401, 1515, 1729, 2...",Link,Lissandra,"[475, 475, 532, 802, 1112, 1409, 1737, 1939, 2...",Doublelift,Tristana,"[475, 475, 532, 857, 1203, 1554, 1883, 2254, 2...",aphromoo,Janna,"[515, 515, 582, 731, 877, 1044, 1206, 1359, 15...","['Irelia', 'Pantheon', 'Kassadin']",CaliTrlolz8,Sion,"[475, 475, 532, 820, 1025, 1290, 1598, 1953, 2...",Porpoise8,RekSai,"[475, 475, 532, 896, 1220, 1444, 1828, 2042, 2...",Slooshi8,Lulu,"[475, 475, 532, 807, 1042, 1338, 1646, 1951, 2...",Maplestreet8,Corki,"[475, 475, 532, 792, 1187, 1488, 1832, 2136, 2...",Annie,Dodo8,"[475, 475, 538, 671, 817, 948, 1104, 1240, 136...","['Rumble', 'Sivir', 'Rengar']"

In [31]:
df_red = df.copy()
df_red.head()

,Match_ID,League,Season,Year,blueTeamTag,bResult,rResult,redTeamTag,gamelength,goldblue,goldred,blueTop,blueTopChamp,goldblueTop,blueJungle,blueJungleChamp,goldblueJungle,blueMiddle,blueMiddleChamp,goldblueMiddle,blueADC,blueADCChamp,goldblueADC,blueSupport,blueSupportChamp,goldblueSupport,blueBans,redTop,redTopChamp,goldredTop,redJungle,redJungleChamp,goldredJungle,redMiddle,redMiddleChamp,goldredMiddle,redADC,redADCChamp,goldredADC,redSupportChamp,redSupport,goldredSupport,redBans
0,fbb300951ad8327c,North_America,Spring_Season,2015,TSM,1,0,C9,40,"[2415, 2415, 2711, 3887, 5068, 6171, 7412, 866...","[2415, 2415, 2725, 3952, 5336, 6602, 7900, 945...",Dyrus,Irelia,"[475, 475, 532, 687, 893, 1058, 1172, 1471, 18...",Santorin,RekSai,"[475, 475, 532, 870, 1049, 1276, 1596, 1815, 2...",Bjergsen,Ahri,"[475, 475, 532, 807, 1102, 1307, 1651, 1950, 2...",WildTurtle,Jinx,"[475, 475, 532, 797, 1127, 1453, 1766, 2044, 2...",Lustboy,Janna,"[515, 515, 583, 726, 897, 1077, 1227, 1381, 15...","['Rumble', 'Kassadin', 'Lissandra']",Balls,Gnar,"[475, 475, 532, 728, 958, 1284, 1526, 1912, 21...",Meteos,Elise,"[475, 475, 532, 898, 1192, 1429, 1819, 2107, 2...",Hai,Fizz,"[475, 475, 552, 842, 1178, 1378, 1635, 1949, 2...",Sneaky,Sivir,"[475, 475, 532, 762, 1097, 1469, 1726, 2112, 2...",Thresh,LemonNation,"[515, 515, 577, 722, 911, 1042, 1194, 1370, 14...","['Tristana', 'Leblanc', 'Nidalee']"
1,055b17da8456fdc8,North_America,Spring_Season,2015,CST,0,1,DIG,38,"[2415, 2415, 2705, 4108, 5511, 6797, 7637, 895...","[2415, 2415, 2731, 4126, 5364, 6560, 7789, 893...",Cris,Gnar,"[475, 475, 532, 791, 1127, 1509, 1674, 1875, 2...",Impaler,Rengar,"[475, 475, 532, 895, 1176, 1334, 1447, 1859, 2...",Jesiz,Ahri,"[475, 475, 532, 816, 1102, 1413, 1624, 1937, 2...",Mash,Caitlyn,"[475, 475, 532, 856, 1182, 1468, 1653, 1890, 2...",Sheep,Leona,"[515, 515, 577, 750, 924, 1073, 1239, 1392, 15...","['Kassadin', 'Sivir', 'Lissandra']",Gamsu,Irelia,"[475, 475, 532, 811, 1042, 1237, 1625, 1852, 2...",Crumbzz,JarvanIV,"[475, 475, 532, 909, 1105, 1423, 1536, 1732, 1...",Shiphtur,Azir,"[475, 475, 552, 786, 1097, 1389, 1660, 1955, 2...",CoreJJ,Corki,"[475, 475, 532, 868, 1220, 1445, 1732, 1979, 2...",Annie,KiWiKiD,"[515, 515, 583, 752, 900, 1066, 1236, 1417, 15...","['RekSai', 'Janna', 'Leblanc']"
2,8e8a9b58df366e2d,North_America,Spring_Season,2015,WFX,1,0,GV,40,"[2415, 2415, 2726, 3794, 4933, 6236, 8109, 965...","[2415, 2415, 2716, 3854, 4899, 6199, 7520, 859...",Flaresz,Renekton,"[475, 475, 533, 673, 828, 1075, 1428, 1775, 21...",ShorterACE,Rengar,"[475, 475, 543, 836, 1041, 1261, 1568, 2002, 2...",Pobelter,Fizz,"[475, 475, 533, 756, 1065, 1368, 2056, 2237, 2...",Altec,Sivir,"[475, 475, 533, 811, 1130, 1524, 1786, 2168, 2...",Gleeb,Annie,"[515, 515, 584, 718, 869, 1008, 1271, 1474, 16...","['JarvanIV', 'Lissandra', 'Kassadin']",Hauntzer,Sion,"[475, 475, 533, 706, 861, 1123, 1491, 1698, 18...",Saintvicious,LeeSin,"[475, 475, 533, 845, 1089, 1443, 1694, 1914, 2...",Keane,Azir,"[475, 475, 533, 801, 1006, 1233, 1385, 1720, 1...",Cop,Corki,"[475, 475, 533, 781, 1085, 1398, 1782, 1957, 2...",Janna,BunnyFuFuu,"[515, 515, 584, 721, 858, 1002, 1168, 1303, 14...","['Leblanc', 'Zed', 'RekSai']"
3,0ed1cd0e0e57329c,North_America,Spring_Season,2015,TIP,0,1,TL,41,"[2415, 2415, 2705, 3847, 5398, 6473, 7720, 930...","[2415, 2415, 2720, 3822, 5170, 6479, 7963, 913...",Rhux,Irelia,"[475, 475, 532, 646, 992, 1253, 1408, 1752, 21...",Rush,JarvanIV,"[475, 475, 532, 909, 1272, 1387, 1705, 2009, 2...",XiaoWeiXiao,Leblanc,"[475, 475, 532, 801, 1066, 1409, 1660, 2077, 2...",Apollo,Sivir,"[475, 475, 532, 791, 1202, 1383, 1752, 2121, 2...",Adrian,Thresh,"[515, 515, 577, 700, 866, 1041, 1195, 1349, 14...","['Annie', 'Lissandra', 'Kassadin']",Quas,Gnar,"[475, 475, 532, 732, 922, 1309, 1678, 1992, 22...",IWDominate,Nunu,"[475, 475, 541, 832, 1171, 1385, 1770, 2087, 2...",Fenix,Lulu,"[475, 475, 532, 771, 1046, 1288, 1534, 1776, 2...",KEITH,KogMaw,"[475, 475, 532, 766, 1161, 1438, 1776, 1936, 2...",Janna,Xpecial,"[515, 515, 583, 721, 870, 1059, 1205, 1342, 15...","['RekSai', 'Rumble', 'LeeSin']"
4,f932becf86175f38,North_America,Spring_Season,2015,CLG,1,0,T8,35,"[2415, 2415, 2710, 3950, 5404, 6666, 7887, 913...","[2375, 2375, 2666, 3986, 5291, 6508, 8008, 932...",Benny,Gnar,"[475, 475, 532, 733, 1038, 1258, 1546, 1850, 2...",Xmithie,JarvanIV,"[475, 475, 532, 827, 1174, 1401, 1515, 1729, 2...",Link,Lissandra,"[475, 475, 532, 802, 1112, 1409, 1737, 1939, 2...",Doublelift,Tristana,"[475, 475, 532, 857, 1203, 1554, 1883, 2254, 2...",aphromoo,Janna,"[515, 515, 582, 731, 877, 1044, 1206, 1359, 15...","['Irelia', 'Pantheon', 'Kassadin']",CaliTrlolz8,Sion,"[475, 475, 532, 820, 1025, 1290, 1598, 1953, 2...",Porpoise8,RekSai,"[475, 475, 532, 896, 1220, 1444, 1828, 2042, 2...",Slooshi8,Lulu,"[475, 475, 532, 807, 1042, 1338, 1646, 1951, 2...",Maplestreet8,Corki,"[475, 475, 532, 792, 1187, 1488, 1832, 2136, 2...",Annie,Dodo8,"[475, 475, 538, 671, 817, 948, 1104, 1240, 136...","['Rumble', 'Sivir', 'Rengar']"

In [33]:
df_red.columns.values

array(['Match_ID', 'League', 'Season', 'Year', 'blueTeamTag', 'bResult',
       'rResult', 'redTeamTag', 'gamelength', 'goldblue', 'goldred',
       'blueTop', 'blueTopChamp', 'goldblueTop', 'blueJungle',
       'blueJungleChamp', 'goldblueJungle', 'blueMiddle',
       'blueMiddleChamp', 'goldblueMiddle', 'blueADC', 'blueADCChamp',
       'goldblueADC', 'blueSupport', 'blueSupportChamp', 'goldblueSupport',
       'blueBans', 'redTop', 'redTopChamp', 'goldredTop', 'redJungle',
       'redJungleChamp', 'goldredJungle', 'redMiddle', 'redMiddleChamp',
       'goldredMiddle', 'redADC', 'redADCChamp', 'goldredADC',
       'redSupportChamp', 'redSupport', 'goldredSupport', 'redBans'], dtype=object)

In [34]:
df_red.drop(['blueTeamTag', 'bResult', 'goldblue', 'blueTop', 'blueTopChamp', 'goldblueTop', 'blueJungle', 
            'blueJungleChamp', 'goldblueJungle', 'blueMiddle', 'blueMiddleChamp', 'goldblueMiddle', 'blueADC', 
            'blueADCChamp', 'goldblueADC', 'blueSupport', 'blueSupportChamp', 'goldblueSupport', 'blueBans'], 
           axis=1, inplace=True)

In [37]:
df_red.columns = ['match_id', 'league', 'season', 'year', 'result', 'team_name', 'game_length',
                 'gold_value_per_min', 'top_player', 'top_champ', 'top_gold_min', 'jungle_player', 'jungle_champ', 
                 'jungle_gold_min', 'mid_player', 'mid_champ', 'mid_gold_min', 'adc_player', 'adc_champ', 'adc_gold_min',
                 'support_player', 'support_champ', 'support_gold_min', 'champs_banned']
df_red['red_or_blue_side'] = 'red'
df_red.head()

,match_id,league,season,year,result,team_name,game_length,gold_value_per_min,top_player,top_champ,top_gold_min,jungle_player,jungle_champ,jungle_gold_min,mid_player,mid_champ,mid_gold_min,adc_player,adc_champ,adc_gold_min,support_player,support_champ,support_gold_min,champs_banned,red_or_blue_side
0,fbb300951ad8327c,North_America,Spring_Season,2015,0,C9,40,"[2415, 2415, 2725, 3952, 5336, 6602, 7900, 945...",Balls,Gnar,"[475, 475, 532, 728, 958, 1284, 1526, 1912, 21...",Meteos,Elise,"[475, 475, 532, 898, 1192, 1429, 1819, 2107, 2...",Hai,Fizz,"[475, 475, 552, 842, 1178, 1378, 1635, 1949, 2...",Sneaky,Sivir,"[475, 475, 532, 762, 1097, 1469, 1726, 2112, 2...",Thresh,LemonNation,"[515, 515, 577, 722, 911, 1042, 1194, 1370, 14...","['Tristana', 'Leblanc', 'Nidalee']",red
1,055b17da8456fdc8,North_America,Spring_Season,2015,1,DIG,38,"[2415, 2415, 2731, 4126, 5364, 6560, 7789, 893...",Gamsu,Irelia,"[475, 475, 532, 811, 1042, 1237, 1625, 1852, 2...",Crumbzz,JarvanIV,"[475, 475, 532, 909, 1105, 1423, 1536, 1732, 1...",Shiphtur,Azir,"[475, 475, 552, 786, 1097, 1389, 1660, 1955, 2...",CoreJJ,Corki,"[475, 475, 532, 868, 1220, 1445, 1732, 1979, 2...",Annie,KiWiKiD,"[515, 515, 583, 752, 900, 1066, 1236, 1417, 15...","['RekSai', 'Janna', 'Leblanc']",red
2,8e8a9b58df366e2d,North_America,Spring_Season,2015,0,GV,40,"[2415, 2415, 2716, 3854, 4899, 6199, 7520, 859...",Hauntzer,Sion,"[475, 475, 533, 706, 861, 1123, 1491, 1698, 18...",Saintvicious,LeeSin,"[475, 475, 533, 845, 1089, 1443, 1694, 1914, 2...",Keane,Azir,"[475, 475, 533, 801, 1006, 1233, 1385, 1720, 1...",Cop,Corki,"[475, 475, 533, 781, 1085, 1398, 1782, 1957, 2...",Janna,BunnyFuFuu,"[515, 515, 584, 721, 858, 1002, 1168, 1303, 14...","['Leblanc', 'Zed', 'RekSai']",red
3,0ed1cd0e0e57329c,North_America,Spring_Season,2015,1,TL,41,"[2415, 2415, 2720, 3822, 5170, 6479, 7963, 913...",Quas,Gnar,"[475, 475, 532, 732, 922, 1309, 1678, 1992, 22...",IWDominate,Nunu,"[475, 475, 541, 832, 1171, 1385, 1770, 2087, 2...",Fenix,Lulu,"[475, 475, 532, 771, 1046, 1288, 1534, 1776, 2...",KEITH,KogMaw,"[475, 475, 532, 766, 1161, 1438, 1776, 1936, 2...",Janna,Xpecial,"[515, 515, 583, 721, 870, 1059, 1205, 1342, 15...","['RekSai', 'Rumble', 'LeeSin']",red
4,f932becf86175f38,North_America,Spring_Season,2015,0,T8,35,"[2375, 2375, 2666, 3986, 5291, 6508, 8008, 932...",CaliTrlolz8,Sion,"[475, 475, 532, 820, 1025, 1290, 1598, 1953, 2...",Porpoise8,RekSai,"[475, 475, 532, 896, 1220, 1444, 1828, 2042, 2...",Slooshi8,Lulu,"[475, 475, 532, 807, 1042, 1338, 1646, 1951, 2...",Maplestreet8,Corki,"[475, 475, 532, 792, 1187, 1488, 1832, 2136, 2...",Annie,Dodo8,"[475, 475, 538, 671, 817, 948, 1104, 1240, 136...","['Rumble', 'Sivir', 'Rengar']",red

In [40]:
df.drop(['redTeamTag', 'rResult', 'goldred', 'redTop', 'redTopChamp', 'goldredTop', 'redJungle', 
            'redJungleChamp', 'goldredJungle', 'redMiddle', 'redMiddleChamp', 'goldredMiddle', 'redADC', 
            'redADCChamp', 'goldredADC', 'redSupport', 'redSupportChamp', 'goldredSupport', 'redBans'], 
           axis=1, inplace=True)

ValueError: labels ['redTeamTag' 'rResult' 'goldred' 'redTop' 'redTopChamp' 'goldredTop'
 'redJungle' 'redJungleChamp' 'goldredJungle' 'redMiddle' 'redMiddleChamp'
 'goldredMiddle' 'redADC' 'redADCChamp' 'goldredADC' 'redSupport'
 'redSupportChamp' 'goldredSupport' 'redBans'] not contained in axis

In [42]:
df.columns = ['match_id', 'league', 'season', 'year', 'team_name', 'result', 'game_length',
                 'gold_value_per_min', 'top_player', 'top_champ', 'top_gold_min', 'jungle_player', 'jungle_champ', 
                 'jungle_gold_min', 'mid_player', 'mid_champ', 'mid_gold_min', 'adc_player', 'adc_champ', 'adc_gold_min',
                 'support_player', 'support_champ', 'support_gold_min', 'champs_banned']

ValueError: Length mismatch: Expected axis has 25 elements, new values have 24 elements

In [43]:
df['red_or_blue_side'] = 'blue'
df.head()

,match_id,league,season,year,team_name,result,game_length,gold_value_per_min,top_player,top_champ,top_gold_min,jungle_player,jungle_champ,jungle_gold_min,mid_player,mid_champ,mid_gold_min,adc_player,adc_champ,adc_gold_min,support_player,support_champ,support_gold_min,champs_banned,red_or_blue_side
0,fbb300951ad8327c,North_America,Spring_Season,2015,TSM,1,40,"[2415, 2415, 2711, 3887, 5068, 6171, 7412, 866...",Dyrus,Irelia,"[475, 475, 532, 687, 893, 1058, 1172, 1471, 18...",Santorin,RekSai,"[475, 475, 532, 870, 1049, 1276, 1596, 1815, 2...",Bjergsen,Ahri,"[475, 475, 532, 807, 1102, 1307, 1651, 1950, 2...",WildTurtle,Jinx,"[475, 475, 532, 797, 1127, 1453, 1766, 2044, 2...",Lustboy,Janna,"[515, 515, 583, 726, 897, 1077, 1227, 1381, 15...","['Rumble', 'Kassadin', 'Lissandra']",blue
1,055b17da8456fdc8,North_America,Spring_Season,2015,CST,0,38,"[2415, 2415, 2705, 4108, 5511, 6797, 7637, 895...",Cris,Gnar,"[475, 475, 532, 791, 1127, 1509, 1674, 1875, 2...",Impaler,Rengar,"[475, 475, 532, 895, 1176, 1334, 1447, 1859, 2...",Jesiz,Ahri,"[475, 475, 532, 816, 1102, 1413, 1624, 1937, 2...",Mash,Caitlyn,"[475, 475, 532, 856, 1182, 1468, 1653, 1890, 2...",Sheep,Leona,"[515, 515, 577, 750, 924, 1073, 1239, 1392, 15...","['Kassadin', 'Sivir', 'Lissandra']",blue
2,8e8a9b58df366e2d,North_America,Spring_Season,2015,WFX,1,40,"[2415, 2415, 2726, 3794, 4933, 6236, 8109, 965...",Flaresz,Renekton,"[475, 475, 533, 673, 828, 1075, 1428, 1775, 21...",ShorterACE,Rengar,"[475, 475, 543, 836, 1041, 1261, 1568, 2002, 2...",Pobelter,Fizz,"[475, 475, 533, 756, 1065, 1368, 2056, 2237, 2...",Altec,Sivir,"[475, 475, 533, 811, 1130, 1524, 1786, 2168, 2...",Gleeb,Annie,"[515, 515, 584, 718, 869, 1008, 1271, 1474, 16...","['JarvanIV', 'Lissandra', 'Kassadin']",blue
3,0ed1cd0e0e57329c,North_America,Spring_Season,2015,TIP,0,41,"[2415, 2415, 2705, 3847, 5398, 6473, 7720, 930...",Rhux,Irelia,"[475, 475, 532, 646, 992, 1253, 1408, 1752, 21...",Rush,JarvanIV,"[475, 475, 532, 909, 1272, 1387, 1705, 2009, 2...",XiaoWeiXiao,Leblanc,"[475, 475, 532, 801, 1066, 1409, 1660, 2077, 2...",Apollo,Sivir,"[475, 475, 532, 791, 1202, 1383, 1752, 2121, 2...",Adrian,Thresh,"[515, 515, 577, 700, 866, 1041, 1195, 1349, 14...","['Annie', 'Lissandra', 'Kassadin']",blue
4,f932becf86175f38,North_America,Spring_Season,2015,CLG,1,35,"[2415, 2415, 2710, 3950, 5404, 6666, 7887, 913...",Benny,Gnar,"[475, 475, 532, 733, 1038, 1258, 1546, 1850, 2...",Xmithie,JarvanIV,"[475, 475, 532, 827, 1174, 1401, 1515, 1729, 2...",Link,Lissandra,"[475, 475, 532, 802, 1112, 1409, 1737, 1939, 2...",Doublelift,Tristana,"[475, 475, 532, 857, 1203, 1554, 1883, 2254, 2...",aphromoo,Janna,"[515, 515, 582, 731, 877, 1044, 1206, 1359, 15...","['Irelia', 'Pantheon', 'Kassadin']",blue

In [45]:
frames = [df, df_red]
merged_df = pd.concat(frames)
merged_df.shape

(7604, 25)

In [46]:
merged_df = merged_df.sort_values('match_id')
merged_df.head()

,adc_champ,adc_gold_min,adc_player,champs_banned,game_length,gold_value_per_min,jungle_champ,jungle_gold_min,jungle_player,league,match_id,mid_champ,mid_gold_min,mid_player,red_or_blue_side,result,season,support_champ,support_gold_min,support_player,team_name,top_champ,top_gold_min,top_player,year
2599,Sivir,"[475, 475, 532, 686, 976, 1196, 1687, 1995, 22...",Sangyoon,"['Azir', 'Shyvana', 'Jayce']",38,"[2415, 2430, 2751, 3929, 5219, 6418, 8156, 952...",Gragas,"[475, 475, 552, 817, 1099, 1278, 1708, 2097, 2...",lira,LCK,001a1f289e3bab22,Vladimir,"[475, 475, 532, 791, 1107, 1352, 1574, 1708, 1...",Mickey,blue,0,Summer_Season,Morgana,"[515, 530, 603, 786, 938, 1126, 1520, 1750, 18...",SnowFlower,ANC,Hecarim,"[475, 475, 532, 849, 1099, 1466, 1667, 1970, 2...",ikssu,2015
2599,Jinx,"[475, 475, 532, 836, 1131, 1593, 1748, 2041, 2...",Space,"['Zed', 'Gnar', 'Kalista']",38,"[2415, 2415, 2705, 4062, 5279, 7322, 8661, 103...",Sejuani,"[475, 475, 532, 909, 1143, 1615, 1829, 2108, 2...",Ambition,LCK,001a1f289e3bab22,Cassiopeia,"[475, 475, 532, 826, 1045, 1397, 1690, 2310, 2...",Coco,red,1,Summer_Season,MadLife,"[515, 515, 577, 735, 909, 1476, 1601, 1832, 19...",Thresh,CJE,Rumble,"[475, 475, 532, 756, 1051, 1241, 1793, 2081, 2...",Shy,2015
2844,Twitch,"[475, 475, 532, 787, 1046, 1360, 1693, 1826, 2...",NaMei,"['Fizz', 'LeeSin', 'TwistedFate']",37,"[2415, 2415, 2705, 3817, 4956, 6132, 7499, 860...",Rengar,"[475, 475, 532, 850, 1081, 1260, 1535, 1776, 2...",Clearlove,Season_World_Championship,001f50c8547e2e73,Zed,"[475, 475, 532, 806, 1117, 1486, 1741, 2168, 2...",U,blue,1,International,Thresh,"[515, 515, 577, 728, 851, 1012, 1155, 1278, 14...",Fzzf,EDG,Maokai,"[475, 475, 532, 646, 861, 1014, 1375, 1557, 19...",Koro1,2014
2844,Lucian,"[475, 475, 532, 764, 1117, 1467, 1696, 2029, 2...",GarnetDevil,"['Ryze', 'Zilean', 'Alistar']",37,"[2415, 2415, 2705, 3728, 5048, 6306, 7308, 853...",Khazix,"[475, 475, 532, 806, 955, 1187, 1373, 1536, 17...",NAZ,Season_World_Championship,001f50c8547e2e73,Talon,"[475, 475, 532, 792, 1089, 1301, 1612, 1879, 2...",westdoor,red,0,International,GreenTea,"[515, 515, 577, 701, 893, 1064, 1187, 1388, 15...",Blitzcrank,AHQ,Nidalee,"[475, 475, 532, 665, 994, 1287, 1440, 1704, 18...",Prydz,2014
2229,Lucian,"[500, 500, 516, 865, 1243, 1580, 2034, 2397, 2...",BeBe,"['Corki', 'Gangplank', 'TahmKench']",30,"[2500, 2500, 2785, 4216, 6193, 7618, 9674, 112...",RekSai,"[500, 500, 588, 977, 1293, 1560, 1964, 2196, 2...",REFRA1N,LMS,002f613ae09ad421,Lissandra,"[500, 500, 596, 869, 1398, 1752, 2193, 2515, 2...",FoFo,blue,1,Spring_Season,Alistar,"[500, 500, 583, 781, 1049, 1275, 1688, 1961, 2...",Jay,TPA,Trundle,"[500, 500, 502, 724, 1210, 1451, 1795, 2134, 2...",Morning,2016

In [48]:
list(merged_df.columns.values)

['adc_champ',
 'adc_gold_min',
 'adc_player',
 'champs_banned',
 'game_length',
 'gold_value_per_min',
 'jungle_champ',
 'jungle_gold_min',
 'jungle_player',
 'league',
 'match_id',
 'mid_champ',
 'mid_gold_min',
 'mid_player',
 'red_or_blue_side',
 'result',
 'season',
 'support_champ',
 'support_gold_min',
 'support_player',
 'team_name',
 'top_champ',
 'top_gold_min',
 'top_player',
 'year']

In [49]:
sorted_cols = ['match_id', 'league', 'season', 'year', 'team_name', 'red_or_blue_side', 'result', 'game_length',
               'gold_value_per_min', 'top_player', 'top_champ', 'top_gold_min', 'jungle_player', 'jungle_champ',
               'jungle_gold_min', 'mid_player', 'mid_champ', 'mid_gold_min', 'adc_player', 'adc_champ', 'adc_gold_min',
               'support_player', 'support_champ', 'support_gold_min', 'champs_banned']
merged_df = merged_df[sorted_cols]
merged_df.head()

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length,gold_value_per_min,top_player,top_champ,top_gold_min,jungle_player,jungle_champ,jungle_gold_min,mid_player,mid_champ,mid_gold_min,adc_player,adc_champ,adc_gold_min,support_player,support_champ,support_gold_min,champs_banned
2599,001a1f289e3bab22,LCK,Summer_Season,2015,ANC,blue,0,38,"[2415, 2430, 2751, 3929, 5219, 6418, 8156, 952...",ikssu,Hecarim,"[475, 475, 532, 849, 1099, 1466, 1667, 1970, 2...",lira,Gragas,"[475, 475, 552, 817, 1099, 1278, 1708, 2097, 2...",Mickey,Vladimir,"[475, 475, 532, 791, 1107, 1352, 1574, 1708, 1...",Sangyoon,Sivir,"[475, 475, 532, 686, 976, 1196, 1687, 1995, 22...",SnowFlower,Morgana,"[515, 530, 603, 786, 938, 1126, 1520, 1750, 18...","['Azir', 'Shyvana', 'Jayce']"
2599,001a1f289e3bab22,LCK,Summer_Season,2015,CJE,red,1,38,"[2415, 2415, 2705, 4062, 5279, 7322, 8661, 103...",Shy,Rumble,"[475, 475, 532, 756, 1051, 1241, 1793, 2081, 2...",Ambition,Sejuani,"[475, 475, 532, 909, 1143, 1615, 1829, 2108, 2...",Coco,Cassiopeia,"[475, 475, 532, 826, 1045, 1397, 1690, 2310, 2...",Space,Jinx,"[475, 475, 532, 836, 1131, 1593, 1748, 2041, 2...",Thresh,MadLife,"[515, 515, 577, 735, 909, 1476, 1601, 1832, 19...","['Zed', 'Gnar', 'Kalista']"
2844,001f50c8547e2e73,Season_World_Championship,International,2014,EDG,blue,1,37,"[2415, 2415, 2705, 3817, 4956, 6132, 7499, 860...",Koro1,Maokai,"[475, 475, 532, 646, 861, 1014, 1375, 1557, 19...",Clearlove,Rengar,"[475, 475, 532, 850, 1081, 1260, 1535, 1776, 2...",U,Zed,"[475, 475, 532, 806, 1117, 1486, 1741, 2168, 2...",NaMei,Twitch,"[475, 475, 532, 787, 1046, 1360, 1693, 1826, 2...",Fzzf,Thresh,"[515, 515, 577, 728, 851, 1012, 1155, 1278, 14...","['Fizz', 'LeeSin', 'TwistedFate']"
2844,001f50c8547e2e73,Season_World_Championship,International,2014,AHQ,red,0,37,"[2415, 2415, 2705, 3728, 5048, 6306, 7308, 853...",Prydz,Nidalee,"[475, 475, 532, 665, 994, 1287, 1440, 1704, 18...",NAZ,Khazix,"[475, 475, 532, 806, 955, 1187, 1373, 1536, 17...",westdoor,Talon,"[475, 475, 532, 792, 1089, 1301, 1612, 1879, 2...",GarnetDevil,Lucian,"[475, 475, 532, 764, 1117, 1467, 1696, 2029, 2...",Blitzcrank,GreenTea,"[515, 515, 577, 701, 893, 1064, 1187, 1388, 15...","['Ryze', 'Zilean', 'Alistar']"
2229,002f613ae09ad421,LMS,Spring_Season,2016,TPA,blue,1,30,"[2500, 2500, 2785, 4216, 6193, 7618, 9674, 112...",Morning,Trundle,"[500, 500, 502, 724, 1210, 1451, 1795, 2134, 2...",REFRA1N,RekSai,"[500, 500, 588, 977, 1293, 1560, 1964, 2196, 2...",FoFo,Lissandra,"[500, 500, 596, 869, 1398, 1752, 2193, 2515, 2...",BeBe,Lucian,"[500, 500, 516, 865, 1243, 1580, 2034, 2397, 2...",Jay,Alistar,"[500, 500, 583, 781, 1049, 1275, 1688, 1961, 2...","['Corki', 'Gangplank', 'TahmKench']"

In [51]:
banned = merged_df[['match_id', 'champs_banned']]
banned.head()

              match_id                        champs_banned
2599  001a1f289e3bab22         ['Azir', 'Shyvana', 'Jayce']
2599  001a1f289e3bab22           ['Zed', 'Gnar', 'Kalista']
2844  001f50c8547e2e73    ['Fizz', 'LeeSin', 'TwistedFate']
2844  001f50c8547e2e73        ['Ryze', 'Zilean', 'Alistar']
2229  002f613ae09ad421  ['Corki', 'Gangplank', 'TahmKench']